﻿@model CoreStructure_APP.Models.IssuingOffice
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Issuing Office";
    ViewBag.Active = "AddIssuingOffice";
    ViewBag.Open = "Add Issuing Office";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Issuing Office";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<div class="panel-body">
    <form id="formIssuingOffice" asp-controller="Masters" asp-action="NewIssuingOffice" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>New Issuing Office</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageIssuingOffice","Masters") '"><i class="fa fa-list"></i> Issuing Office List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="InsuranceCompanyId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyList" onchange="GetShortName()">
                                                    <option value="">---Select Company---</option>
                                                </select>
                                            </div>
                                            <input asp-for="InsuranceCompanyName" type="hidden" />
                                            <span asp-validation-for="InsuranceCompanyId" class="alert-danger"></span>
                                            <label id="lblICError" class="alert-danger" style="display:none;"> Please Select A Insurance Company</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ShortName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ShortName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ShortName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Code"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Code" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Code" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="IssuingOfficeName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="IssuingOfficeName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="IssuingOfficeName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="EmailID"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="EmailID" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="EmailID" class="alert-danger"></span>
                                            @*<label id="lblEmailError" class="alert-danger" style="display:none;">Please Enter Valid Email Id</label>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Address"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Address" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4" style="padding-left: 0px;">
                                            <label asp-for="ManagerName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ManagerName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ManagerName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="MobileNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="MobileNo" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" required />
                                            </div>
                                            <span asp-validation-for="MobileNo" class="alert-danger"></span>
                                            @*<label id="lblMobError" class="alert-danger" style="display:none;">Please Enter Valid Mobile No</label>*@
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="SalesManagerName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="SalesManagerName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="SalesManagerName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="SMContactNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="SMContactNo" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" required />
                                            </div>
                                            <span asp-validation-for="SMContactNo" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                               
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="City"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="City" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="City" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-12">



                                    &nbsp;
                                </div>
                            </div>*@

                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="button" onclick="submitform()" class="btn btn-success"><i class="fa fa-save"> Save</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function GetShortName() {
        var CompanyId = $('#InsuranceCompanyId').val();
        $.ajax({
            url: "/Masters/GetInsuranceCompanyShortName",
            type: "POST",
            dataType: "json",
            data: { 'CompanyId': CompanyId },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                $('#lblICError').hide();
                $('#ShortName').val(data);
            }
        });
    }

    function submitform() {
        var cat = $('#InsuranceCompanyId').val();
        if (cat == 0 || cat == null) {
            $('#lblICError').show();
            return false;
        }
        else {
            document.getElementById('formIssuingOffice').submit();
             }
    }

</script>

<script type="text/javascript">
    function CheckmobileSeriesEP(obj) {

        var mob = $('#MobileNo').val();
        var mobfst = mob.substr(0, 1);
        var phoneno = /^\d{10}$/;
        if (mob.match(phoneno)) {

            if (mob.length != 10) {
                $('#MobileNo').val('');
                $('#lblMobError').show();
                document.getElementById('lblMobError').focus();
                return false;
            }
            else if (parseInt(mobfst) < 6) {
                $('#MobileNo').val('');
                $('#lblMobError').show();
                document.getElementById('lblMobError').focus();
                return false;
            }
            else {
                $('#lblMobError').hide();
            }
        }
        else {
            //$('#MobileNo').val('');
            $('#lblMobError').show();
            //document.getElementById('lblMobError').focus();
            //$('#lblMobError').html('Not a valid Mobile Number');
            return false;
        }
    }
    function CheckExistChange(obj) {
        var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!filter.test($("#EmailID").val())) {
            $("#EmailID").val('');
            $("#lblEmailError").show();
            $("#EmailID").focus();
            //$("#lblEmailError").html('Please insert valid Email format data');
            return false;
        }
        else {
            $("#lblEmailError").hide();
            $("#lblEmailError").html('');
            return true;
        }
    }
</script>