﻿@model CoreStructure_APP.Models.Product
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Products";
    ViewBag.Active = "AddProduct";
    ViewBag.Open = "Add Product";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Product";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<div class="panel-body">
    <form id="formProduct" asp-controller="Masters" asp-action="NewProduct" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>New Product</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageProducts","Masters") '"><i class="fa fa-list"></i> Product List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="InsuranceCompanyId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyList">
                                                    <option value="0">---Select Insurance---</option>
                                                </select>
                                            </div>
                                            <input asp-for="InsuranceCompany" type="hidden" />
                                            <label id="lblInsError" class="alert-danger" style="display:none;"> Please Select A Insurance</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                            </div>
                            &nbsp;
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" onchange="OnProductchange()" asp-items="ViewBag.CategoryList">
                                                    <option value="0">---Select Category---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CategoryName" type="hidden" />
                                            <label id="lblCatError" class="alert-danger" style="display:none;"> Please Select A Category</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ODRate" id="lblodrate"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ODRate" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" required />
                                            </div>
                                            <span asp-validation-for="ODRate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ProductName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ProductName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ProductName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Rate" id="lblrate"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Rate" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" required />
                                            </div>
                                            <span asp-validation-for="Rate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="button" onclick="submitform()" class="btn btn-success"><i class="fa fa-save"> Save</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">

     function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function submitform() {
        var cat = $('#CategoryId').val();
        if (cat == 0 || cat == null) {
            $('#lblCatError').show();
            return false;
        }
        else {
            document.getElementById('formProduct').submit();
        }
    }


    function OnProductchange() {

        var cat = $('#CategoryId').val();

        if (cat == 13) {
            $('#Rate').val('');
            document.getElementById("Rate").readOnly = false;
            document.getElementById('lblodrate').innerHTML = 'OD Commision Rate';
            document.getElementById('lblrate').innerHTML = 'TP Commision Rate';   
        } else {
            $('#Rate').val('0');
            document.getElementById("Rate").readOnly = true;
            document.getElementById('lblodrate').innerHTML = 'Rate';
            document.getElementById('lblrate').innerHTML = 'Other Rate';   
        }
    }


</script>