﻿@model CoreStructure_APP.Models.Users
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Users";
    ViewBag.Active = "AddUser";
    ViewBag.Open = "Add Users";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "User";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<div class="panel-body">
    <form id="formUser" asp-controller="Masters" asp-action="NewUser" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>New User</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageUsers","Masters") '"><i class="fa fa-list"></i> User List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="OfficeId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                    <option value="">---Select Office---</option>
                                                </select>
                                            </div>
                                            <input asp-for="OfficeName" type="hidden" />
                                            <span asp-validation-for="OfficeId" class="alert-danger"></span>
                                            <label id="lblofficeError" class="alert-danger" style="display:none;"> Please Enter a Office</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="RoleId"></label> <span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleList" onchange="GetPOSCode()">
                                                    <option value="">---Select Role---</option>
                                                </select>
                                            </div>
                                            <input asp-for="RoleName" type="hidden" />
                                            <span asp-validation-for="RoleId" class="alert-danger"></span>
                                            <label id="lblRoleError" class="alert-danger" style="display:none;"> Please Enter a Role</label>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row" id="divPOS" style="display:none;">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="POSCode"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="POSCode" class="form-control" maxlength="50" style="color: #a7a0a0;" autocomplete="off" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="UserName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="UserName" class="form-control" maxlength="100" autocomplete="off" required onchange="CheckUserExist()" />
                                            </div>
                                            <span asp-validation-for="UserName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Password"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                <input asp-for="Password" class="form-control" maxlength="100" type="password" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Password" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Name"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Name" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Name" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FatherName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="FatherName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="FatherName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="MotherName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="MotherName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="MotherName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="DOB"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="DOB" class="form-control"  autocomplete="off" required />
                                            </div>
                                            @*onchange="return getDOB()"*@
                                            <span asp-validation-for="DOB" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="DOJ"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="DOJ" class="form-control"  autocomplete="off" required />
                                                @*onchange="return getDOJ()"*@
                                            </div>
                                            <span asp-validation-for="DOJ" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="EmailId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="EmailId" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="EmailId" class="alert-danger"></span>
                                            @*<label id="lblEmailError" class="alert-danger" style="display:none;">Please Enter Valid Email Id</label>*@
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="MobileNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="MobileNo" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" required />
                                            </div>
                                            <span asp-validation-for="MobileNo" class="alert-danger"></span>
                                            <label id="lblMobError" class="alert-danger" style="display:none;">Please Enter Valid Mobile No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @*<div class="form-group">
                        <div class="col-md-4">
                            <label asp-for="Address"></label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="Address" class="alert-danger"></span>
                        </div>
                    </div>*@
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="StateId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateList" onchange="BindCity();">
                                                    <option value="">---Select State---</option>
                                                </select>
                                            </div>
                                            <span asp-validation-for="StateId" class="alert-danger"></span>
                                            <input asp-for="StateName" type="hidden" />
                                            <label id="lblStateError" class="alert-danger" style="display:none;"> Please Enter A State</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CityId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityList">
                                                    <option value="">---Select City---</option>
                                                </select>
                                            </div>
                                            <span asp-validation-for="CityId" class="alert-danger"></span>
                                            <input asp-for="CityName" type="hidden" />
                                            <label id="lblCityError" class="alert-danger" style="display:none;"> Please Enter A City</label>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Town"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Town" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                            @*<span asp-validation-for="Town" class="alert-danger"></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Address"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>

                                            <span asp-validation-for="Address" class="alert-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                &nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="EmergencyContactNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="EmergencyContactNo" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" onchange="CheckmobileEmergency(this)" required />
                                            </div>
                                            <span asp-validation-for="EmergencyContactNo" class="alert-danger"></span>
                                            <label id="lblEmerMobError" class="alert-danger" style="display:none;">Please Enter Valid Mobile No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="NameRelation"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="NameRelation" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="NameRelation" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="UserImage"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @*<input type="file" asp-for="UserImage" />*@
                                                <input type="file" multiple class="file" name="filename1" id="filename1" data-preview-file-type="any" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="button" onclick="submitform()" class="btn btn-success"><i class="fa fa-save"> Save</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#AuditClientId').multiselect();

    });

    function submitform() {

        //var role = $('#RoleId').val();
        //var officeid = $('#OfficeId').val();
        //if (role == 0 || role == null) {
        //    //alert('Please Select A Role..');
        //    //return false;
        //}
        //else if (officeid == 0 || officeid == null) {
        //    alert('Please Select Office');
        //    return false;
        //}

        //else {
        document.getElementById('formUser').submit();
        //  }




        //var role = $('#RoleId').val();    
        //var officeid = $('#OfficeId').val();   
        //var stateId = $('#StateId').val();    
        //var cityId = $('#CityId').val();    

        //var role = $('#RoleId').val();
        //var officeid = $('#OfficeId').val();
        //var stateId = $('#StateId').val();
        //var cityId = $('#CityId').val();
        //if (role == 0 || role == null) {
        //    $('#lblRoleError').show();
        //    //alert('Please Select A Role..');
        //    return false;
        //}
        //else {
        //    $('#lblRoleError').hide();
        //}
        //if (officeid == 0 || officeid == null) {
        //    //alert('Please Select Office');
        //    $('#lblofficeError').show();
        //    return false;
        //}
        //else {
        //    $('lblofficeError').hide();
        //}

        // if (stateId == 0 || stateId == null) {
        //    //alert('Please Select Office');
        //    $('#lblStateError').show();
        //    return false;
        //}
        //else {
        //    $('lblStateError').hide();
        //}

        // if (cityId == 0 || cityId == null) {
        //    //alert('Please Select Office');
        //    $('#lblCityError').show();
        //    return false;
        //}
        //else {
        //    $('lblCityError').hide();
        //}
        ////else {
        //    $('#formUser').submit();
        ////}
    }

    function BindCity() {
        var stId = $('#StateId').val();

        $('#CityId').empty().append(" <option value=''>---select City---</option>");

        $.ajax({
            url: "/Masters/GetCityList",
            type: "POST",
            dataType: "json",
            data: { 'StateId': stId },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {
                    for (i = 0; i < data.results.length; i++) {
                        //  console.log(data[i].value);
                        $('#CityId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    }
                }
            }
        });
    }

    function CheckUserExist() {
        var uName = $('#UserName').val();
        $.ajax({
            url: "/Masters/CheckUserExistOrNot",
            type: "POST",
            dataType: "json",
          
            data: { 'UserName': uName },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data == '1') {
                    alert('User Name Already Exist..!');
                    $('#UserName').val('');
                    $('#UserName').focus();
                    return false;
                }
                else {

                }
            }
        });
    }

    function GetPOSCode() {
        var rId = $('#RoleId').val();
        if (rId == 5) {
            $.ajax({
                url: "/Masters/GetLatestPOSCode",
                type: "POST",
                dataType: "json",
               
                data: { 'RoleId': rId },
                success: function (data) {
                    //debugger;
                    //console.log(data);
                    $('#POSCode').val(data);
                    $('#divPOS').show();
                }
            });
        }
        else {
            $('#POSCode').val('');
            $('#divPOS').hide();
        }
    }

</script>

<script type="text/javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }




    function getDOB() {
        var dateString = document.getElementById("DOB").value;
        if (dateString != "") {

            alert(dateString.indexOf("0001"));
            alert(dateString.indexOf("0002"));
            if (dateString.length = 10 ) {
                if (dateString.indexOf("0001") <= 0) {
                    if (dateString.indexOf("0002") <= 0) {


                    
            
            var today = new Date();
            var birthDate = new Date(dateString); //format is mm.dd.yyyy
            var age = today.getFullYear() - birthDate.getFullYear();

            if (age < 18 || age > 100) {
                alert("The age must be above 18.");
                $('#DOB').val('');
            }
            else {
                //alert("Age " + age + " is allowed");
                return true;
                }
                    }
                    }

                }
        }
        else {
            alert("please provide your date of birth");
        }
    }

    function getDOJ() {
        var dateString = document.getElementById("DOJ").value;
        if (dateString != "") {
            var today = new Date();
            var birthDate = new Date(dateString); //format is mm.dd.yyyy
            var age = today.getFullYear() - birthDate.getFullYear();

            if (age < 18 || age > 100) {
                alert("The age must be above 18.");
                $('#DOJ').val('');
            }
            else {
                //alert("Age " + age + " is allowed");
                return true;
            }
        }
        else {
            alert("please provide your date of joining");
        }
    }
</script>

<script type="text/javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>



<style type="text/css">
    .multiselect {
        min-width: 287px !important;
    }
</style>