﻿@model CoreStructure_APP.Models.SubActivity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage SubActivity";
    ViewBag.Active = "EditSubActivity";
    ViewBag.Open = "Edit SubActivity";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "SubActivity";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<div class="panel-body">
    <form id="formSubActivity" asp-controller="Masters" asp-action="UpdateSubActivity" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>Edit Sub-Activity</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageSubActivity","Masters") '"><i class="fa fa-list"></i> Sub-Activity List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ActivityId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input asp-for="SubActivityId" type="hidden" />
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ActivityId" class="form-control" asp-items="ViewBag.ActivityList">
                                                    <option value="">---Select Activity---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ActivityName" type="hidden" />
                                            <span asp-validation-for="ActivityId" class="alert-danger"></span>
                                            <label id="lblCatError" class="alert-danger" style="display:none;"> Please Select A Category</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="SubActivityName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="SubActivityName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="SubActivityName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"> Update</i></button>
                                @*<button type="button" onclick="submitform()" class="btn btn-success"><i class="fa fa-save"> Save</i></button>*@
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

