﻿@model CoreStructure_APP.Models.Activity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewBag.Title = "Manage Activity";
    ViewBag.Active = "AddActivity";
    ViewBag.Open = "Edit Activity";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Activity";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<div class="panel-body">
    <form id="formActivity" asp-controller="Masters" asp-action="UpdateActivity" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>Edit Activity</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageActivity","Masters") '"><i class="fa fa-list"></i> Activity List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                @*<div class="col-md-2">
                                        <label asp-for="CategoryId"></label>
                                    </div>*@
                                <input type="hidden" asp-for="ActivityId" />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ActivityName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ActivityName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ActivityName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"> Update</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

