﻿@model CoreStructure_APP.Models.ContactPerson
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Contact Person";
    ViewBag.Active = "AddContactPerson";
    ViewBag.Open = "Edit Contact Person";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Edit Contact Person";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
@*<script src="~/Content/jquery.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>*@


<div class="panel-body">
    <form id="formUpdateContactPerson" asp-controller="Masters" asp-action="UpdateContactPerson" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>Edit Contact Person</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageContactPersons","Masters") '"><i class="fa fa-list"></i> Contact Person List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Name"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input asp-for="ContactPersonId" type="hidden" />
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="Name" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Name" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FatherName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                <input asp-for="FatherName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="FatherName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="MobileNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="MobileNo" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" onchange="CheckmobileSeriesEP(this)" required />
                                            </div>
                                            <span asp-validation-for="MobileNo" class="alert-danger"></span>
                                            <label id="lblMobError" class="alert-danger" style="display:none;">Please Enter Valid Mobile No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="EmailId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="EmailId" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="EmailId" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Address"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Address" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="DOB"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="DOB" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="DOB" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="StateId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateList" onchange="BindCity()">
                                                    <option value="0">---Select State---</option>
                                                </select>
                                            </div>
                                            <input asp-for="StateName" type="hidden" />
                                            <label id="lblStateError" class="alert-danger" style="display:none;"> Please Select A State</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CityId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityList">
                                                    <option value="0">---Select City---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CityName" type="hidden" />
                                            <label id="lblCityError" class="alert-danger" style="display:none;"> Please Select A City</label>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="button" onclick="submitform()" class="btn btn-success"><i class="fa fa-save"> Update</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function BindCity() {
        var stId = $('#StateId').val();
        $('#CityId').empty().append(" <option value=''>---select City---</option>");
        $.ajax({
            url: "/Masters/GetCityList",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'StateId': stId },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {
                    for (i = 0; i < data.results.length; i++) {
                        //  console.log(data[i].value);
                        $('#CityId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    }
                }
            }
        });
    }

    function CheckUserExist() {
        var uName = $('#UserName').val();
        $.ajax({
            url: "/Masters/CheckUserExistOrNot",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'UserName': uName },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data == '1') {
                    alert('User Name Already Exist..!');
                    $('#UserName').val('');
                    $('#UserName').focus();
                    return false;
                }
                else {

                }
            }
        });
    }

    function submitform() {
        //debugger;

        //alert($('#Name').val());
        //alert($('#FatherName').val());
        //alert($('#MobileNo').val());
        //alert($('#EmailId').val());
        //alert($('#Address').val());
        //alert($('#DOB').val());
        //alert($('#StateId').val());
        // alert($('#CityId').val());
        var state = $('#StateId').val();
        var city = $('#CityId').val();
        if (state == 0 || state == null) {
            $('#lblStateError').show();
            return false;
        }
        else if (city == 0 || city == null) {
            $('#lblCityError').show();
            return false;
        }
        else {
        document.getElementById('formUpdateContactPerson').submit();
        }
    }

</script>
<script type="text/javascript">
    function CheckmobileSeriesEP(obj) {

        var mob = $('#MobileNo').val();
        var mobfst = mob.substr(0, 1);
        var phoneno = /^\d{10}$/;
        if (mob.match(phoneno)) {

            if (mob.length != 10) {
                $('#lblMobError').show();
                return false;
            }
            if (parseInt(mobfst) < 6) {
                $('#lblMobError').show();
                return false;
            }
        }
        else {
            $('#lblMobError').show();
            return false;
        }
    }

</script>
