﻿@model CoreStructure_APP.Models.Users
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Users";
    ViewBag.Active = "AddUser";
    ViewBag.Open = "Edit User";
    ViewBag.Panel = "Users";
    ViewData["Title"] = "Edit User";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

    var photoPath = "";
    if (Model.fileName != null && Model.fileName != "")
    {
        photoPath = "~/UserImages/" + (Model.fileName ?? "no-image.jpg");
    }
    else
    {
        photoPath = "~/Content/Images/user-images.png";
    }
}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<div class="panel-body">
    <form id="formlocation" asp-controller="Masters" asp-action="UpdateUser" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>Edit User</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageUsers","Masters") '"><i class="fa fa-list"></i> User List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="RoleId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleList">
                                                    <option>---Select Role---</option>
                                                </select>
                                            </div>
                                            <input asp-for="UserId" type="hidden" />
                                            <input asp-for="RoleName" type="hidden" />
                                            <input asp-for="UserImage" type="hidden" />
                                            <span asp-validation-for="RoleId" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                               
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="UserName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="UserName" class="form-control" maxlength="100" autocomplete="off" readonly="readonly" required />
                                            </div>
                                            <span asp-validation-for="UserName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Password"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="Password" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Password" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Name"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Name" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Name" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FatherName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="FatherName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="FatherName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="MotherName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="MotherName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="MotherName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="DOB"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="DOB" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="DOB" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="DOJ"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="DOJ" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="DOJ" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="EmailId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="EmailId" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="EmailId" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="MobileNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="MobileNo" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" onchange="CheckmobileSeriesEP(this)" required />
                                            </div>
                                            <span asp-validation-for="MobileNo" class="alert-danger"></span>
                                            <label id="lblMobError" class="alert-danger" style="display:none;">Please Enter Valid Mobile No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @*<div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="Address"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                    <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="Address" class="alert-danger"></span>
                                            </div>
                                        </div>*@
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="StateId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateList" onchange="BindCity()">
                                                    <option>---Select State---</option>
                                                </select>
                                            </div>
                                            <input asp-for="StateName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CityId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityList">
                                                    <option>---Select City---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CityName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Town"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Town" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Town" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Address"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="Address" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="EmergencyContactNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="EmergencyContactNo" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" onchange="CheckmobileEmergency(this)" required />
                                            </div>
                                            <span asp-validation-for="EmergencyContactNo" class="alert-danger"></span>
                                            <label id="lblEmerMobError" class="alert-danger" style="display:none;">Please Enter Valid Mobile No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="NameRelation"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="NameRelation" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="NameRelation" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="UserImage"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="file" multiple class="file" name="filename1" id="filename1" data-preview-file-type="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            @if (Model.UserId > 0)
                                            {
                                                <img src="@photoPath" asp-append-version="true" style="height:50px; width:auto;" />
                                            }

                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"> Update</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="OfficeId" />

    </form>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#AuditClientId').multiselect();

    });

    function submitform() {

        var clientvalues = $('#AuditClientId').val();

        $('#AuditClientName').val(clientvalues);
        $('#formlocation').submit();
    }

    function BindCity() {
        var stId = $('#StateId').val();
        $('#CityId').empty().append(" <option value=''>---select City---</option>");
        $.ajax({
            url: "/Masters/GetCityList",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'StateId': stId },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {
                    for (i = 0; i < data.results.length; i++) {
                        //  console.log(data[i].value);
                        $('#CityId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    }
                }
            }
        });
    }

</script>
<script type="text/javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


    function CheckmobileSeriesEP(obj) {

        var mob = $('#MobileNo').val();
        var mobfst = mob.substr(0, 1);
        var phoneno = /^\d{10}$/;
        if (mob.match(phoneno)) {

            if (mob.length != 10) {
                $('#lblMobError').show();
                return false;
            }
            if (parseInt(mobfst) < 6) {
                $('#lblMobError').show();
                return false;
            }
        }
        else {
            $('#lblMobError').show();
            return false;
        }
    }

    function CheckmobileEmergency(obj) {

        var mob = $('#EmergencyContactNo').val();
        var mobfst = mob.substr(0, 1);
        var phoneno = /^\d{10}$/;
        if (mob.match(phoneno)) {

            if (mob.length != 10) {
                $('#lblEmerMobError').show();
                return false;
            }
            if (parseInt(mobfst) < 6) {
                $('#lblEmerMobError').show();
                return false;
            }
        }
        else {
            $('#lblEmerMobError').show();
            return false;
        }
    }
</script>
<style type="text/css">
    .multiselect {
        min-width: 287px !important;
    }
</style>