﻿@model CoreStructure_APP.Models.Common_Filter_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Manage Users";
    ViewBag.Active = "ManageUser";
    ViewBag.Open = "Manage Users";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Manage User";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}


<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Users</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddUser","Masters") '"><i class="fa fa-list"></i> New User</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formQuery" asp-controller="Masters" asp-action="ManageUsers" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        <div class="row">
                            <div class="col-md-12">
                                @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                                {
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label asp-for="OfficeId"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                    <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                        <option>---Select Office---</option>
                                                    </select>
                                                </div>
                                                <input asp-for="OfficeId" type="hidden" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label asp-for="RoleId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleList" onchange="BindUsers()">
                                                    <option>---Select Role---</option>
                                                </select>
                                            </div>
                                            <input asp-for="RoleId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label asp-for="UserId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="UserId" class="form-control">
                                                    <option>---Select Name---</option>
                                                </select>
                                            </div>
                                            <input asp-for="UserId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">

                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <br />
                    </div>
                </form>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Office</th>
                                <th>Role</th>
                                <th>Name</th>
                                <th>User Name</th>
                                <th>Father's Name</th>
                                <th>DOB</th>
                                <th>DOJ</th>
                                <th>Email</th>
                                <th>Mobile No</th>
                                <th>Address</th>
                                <th>Image</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>

                        </thead>
                        <tbody>
                            @{ int SNo = 0; }
                            @if (ViewBag.UserList != null)
                            {
                                foreach (var item in ViewBag.UserList)
                                {
                                    var photoPath = "";
                                    if (item.fileName != null && item.fileName != "")
                                    {
                                        photoPath = "~/Content/Images/UserImage/Img/" + (item.fileName ?? "no-image.jpg");
                                    }
                                    else
                                    {
                                        photoPath = "~/Content/Images/user-images.png";
                                    }
                                    { SNo = SNo + 1; }
                                    <tr>
                                        <td>@SNo</td>
                                        <td>@item.OfficeName</td>
                                        <td>@item.RoleName</td>
                                        <td>@item.Name</td>
                                        <td>@item.UserName</td>
                                        <td>@item.FatherName</td>
                                        <td>@item.DOB</td>
                                        <td>@item.DOJ</td>
                                        <td>@item.EmailId</td>
                                        <td>@item.MobileNo</td>
                                        <td>@item.Address, @item.Town</td>
                                        <td>


                                            <img class="card-img-top" src="@photoPath" asp-append-version="true" style="height:50px; width:auto;" />

                                        </td>
                                        <td>
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                                            {
                                                if (item.RoleId == 2)
                                                {
                                                    <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditUser", "Masters", new { @UserId= item.UserId })"> <span class="fa fa-pencil"></span> </a>
                                                }
                                                else { }
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditUser", "Masters", new { @UserId= item.UserId })"> <span class="fa fa-pencil"></span> </a>
                                            }
                                        </td>
                                        <td>
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                                            {
                                                if (item.RoleId == 2)
                                                {
                                                    <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteUser", "Masters", new { @UserId = item.UserId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                                }
                                                else { }
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteUser", "Masters", new { @UserId = item.UserId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">No Data Found... </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });

    function BindUsers() {
        var role = $('#RoleId').val();
        $('#UserId').empty().append(" <option value=''>---Select Name---</option>");
        $.ajax({
            url: "/Masters/BindUsersByRoles",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'RoleId': role },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {
                    for (i = 0; i < data.results.length; i++) {
                        //  console.log(data[i].value);
                        $('#UserId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    }
                }
            }
        });
    }
</script>






