﻿@model CoreStructure_APP.Models.TP_Surveyor
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage TP Surveyor";
    ViewBag.Active = "Manage TP Surveyor";
    ViewBag.Open = "Manage TP Surveyor";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Manage TP Surveyor";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>TP Surveyor</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddTP_Surveyor", "Masters") '"><i class="fa fa-list"></i> New TP Surveyor</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Insurance Company</th>
                                    <th>Name</th>
                                    <th>Contact No</th>
                                    <th>Address</th>
                                    @*<th>Address</th>
                                    <th>DOB</th>
                                    <th>State</th>
                                    <th>City</th>*@
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int SNo = 0; }
                                @if (ViewBag.TPSurveyorList != null)
                                {
                                    foreach (var item in ViewBag.TPSurveyorList)
                                    {
                                        { SNo = SNo + 1; }
                                        <tr>
                                            <td>@SNo<span></span></td>
                                            <td>@item.InsuranceCompanyName</td>
                                            <td>@item.TP_Name</td>
                                            <td>@item.TP_ContactNo</td>
                                            <td>@item.TP_Address</td>
                                            @*<td>@item.Address</td>
                                            <td>@item.DOB</td>
                                            <td>@item.StateName</td>
                                            <td>@item.CityName</td>*@
                                            <td>
                                                <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditTP_Surveyor", "Masters", new { @TPId = item.TPS_Id })"> <span class="fa fa-pencil"></span> </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteTP_Surveyor", "Masters", new { @TPId = item.TPS_Id })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Data Found... </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>
