﻿@model CoreStructure_APP.Models.SubActivity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage SubActivity";
    ViewBag.Active = "ManageSubActivity";
    ViewBag.Open = "Manage SubActivity";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Manage SubActivity";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12" style="height:1px !important">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Sub-Activity</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddSubActivity", "Masters") '"><i class="fa fa-list"></i> New SubActivity</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Activity Name</th>
                                    <th>Sub-Activity Name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int SNo = 0; }
                                @if (ViewBag.SubActivityList != null)
                                {
                                    foreach (var item in ViewBag.SubActivityList)
                                    {
                                        { SNo = SNo + 1; }
                                <tr>
                                    <td>@SNo<span></span></td>
                                    <td>@item.ActivityName</td>
                                    <td>@item.SubActivityName </td>
                                    <td>
                                        <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditSubActivity", "Masters", new { @SubActivityId = item.SubActivityId })"> <span class="fa fa-pencil"></span> </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteSubActivity", "Masters", new { @SubActivityId = item.SubActivityId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                    </td>
                                </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Data Found... </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>