﻿@model CoreStructure_APP.Models.ContactPerson
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Contact Person";
    ViewBag.Active = "Manage Contact Person";
    ViewBag.Open = "Manage Contact Person";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Manage Contact Person";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12" style="height:1px !important">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Contact Person</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddContactPerson", "Masters") '"><i class="fa fa-list"></i> New Contact Person</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Name</th>
                                    <th>Father's Name</th>
                                    <th>Contact No</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>DOB</th>
                                    <th>State</th>
                                    <th>City</th>

                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int SNo = 0; }
                                @if (ViewBag.ContactPersonList != null)
                                {
                                    foreach (var item in ViewBag.ContactPersonList)
                                    {
                                        { SNo = SNo + 1; }
                                <tr>
                                    <td>@SNo<span></span></td>
                                    <td>@item.Name</td>
                                    <td>@item.FatherName</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.EmailId</td>
                                    <td>@item.Address</td>
                                    <td>@item.DOB</td>
                                    <td>@item.StateName</td>
                                    <td>@item.CityName</td>

                                    <td>
                                        <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditContactPerson", "Masters", new { @ContactPersonId = item.ContactPersonId })"> <span class="fa fa-pencil"></span> </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteContactPerson", "Masters", new { @ContactPersonId = item.ContactPersonId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                    </td>
                                </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Data Found... </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/datatable/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>
