﻿@model CoreStructure_APP.Models.IssuingOffice
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Issuing Office";
    ViewBag.Active = "ManageIssuing Office";
    ViewBag.Open = "Manage Issuing Office";
    ViewBag.Panel = "Masters";
    ViewData["Title"] = "Manage Issuing Office";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Issuing Office</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddIssuingOffice", "Masters") '"><i class="fa fa-list"></i> New Issuing Office</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Insurance Company</th>
                                    <th>Short Name</th>
                                    <th>Broker Code</th>
                                    <th>Issuing Office</th>
                                    <th>Branch Manager Name</th>
                                    <th>Contact No</th>
                                    <th>SM Name </th>
                                    <th>SM Contact No</th>
                                    <th>City</th>
                                    <th>Email</th>
                                    <th>Address</th>



                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int SNo = 0; }
                                @if (ViewBag.IssuingOfficeList != null)
                                {
                                    foreach (var item in ViewBag.IssuingOfficeList)
                                    {
                                        { SNo = SNo + 1; }
                                <tr>
                                    <td>@SNo<span></span></td>
                                    <td>@item.InsuranceCompanyName</td>
                                    <td>@item.ShortName</td>
                                    <td>@item.Code</td>
                                    <td>@item.IssuingOfficeName</td>
                                    <td>@item.ManagerName</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.SalesManagerName</td>
                                    <td>@item.SMContactNo</td>
                                    <td>@item.City</td>
                                    <td>@item.EmailID</td>
                                    <td>@item.Address</td>



                                    <td>
                                        <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditIssuingOffice", "Masters", new { @IssuingOfficeId = item.IssuingOfficeId })"> <span class="fa fa-pencil"></span> </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteIssuingOffice", "Masters", new { @IssuingOfficeId = item.IssuingOfficeId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                    </td>
                                </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Data Found... </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>