﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>PIB || ERROR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/Content/Theme1/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="error-container">
        <div class="error-code">500</div>
        <div class="error-text">internal server error</div>
        <div class="error-subtext">Unfortunately we're having trouble loading the page you are looking for. Please wait a moment and try again or use action below.</div>
        <div class="error-actions">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-info btn-block btn-lg"  onClick="location.href = '@Url.Action("Index", "Home")'">Back to dashboard</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block btn-lg" onClick="location.href = '@Url.Action("Login", "Auth")'">Login page</button>
                </div>
            </div>
        </div>
        <div class="error-subtext">Or you can use search to find anything you need.</div>        
    </div>
</body>
</html>





