﻿/*@page {
   margin:.25in;
   padding:0;
}

@media print {
   html, body {
   width:110%;
   height:auto;
   margin:auto;
   padding:0;
}

#main_container { left:-278px !important; }
#playbar { display:none !important; }
[id^="Button_"]{ display:none !important;}
}*/



@media print {
  /*body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }*/
  body 
        {
            background-color:black;
            border: solid 1px black ;
            margin: 0px;  /* the margin on the content before printing */
       }
}