body{margin:0px; font-family:Arial, Helvetica, sans-serif;}

.home_banner {margin-bottom:20px;}

.home_banner1{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban1.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
    
}

.home_banner2{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban2.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner3{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban3.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner4{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban4.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner5{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban5.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner6{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban6.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner7{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban7.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner8{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban8.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner9{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban9.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner10{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban10.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner11{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban11.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

.home_banner12{
	width:100%;
	height:700px;
	background-image:url(../../ProjectImages/ban12.jpg);
	background-position:center top;
	box-shadow:inset 0px 2px 2px #999;
    background-repeat:no-repeat;
}

/*
	Structure
	----------------------------------- */

	#slideshow
	{
		position: relative;
		overflow: hidden;

		margin: 0 auto;
		max-width: 100%;
		height:450px;

		/* No iOS tap highlight */
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		/* No text selection */
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	#slideshow .strip
	{
		position: relative;

		/* Specify IE touch actions */
		-ms-touch-action: pan-y;
		touch-action: pan-y;
	}

	#slideshow .strip,
	#slideshow .slide
	{
		left: 0;
		top: 0;

		width: 100%;
		height: 400px;
	}

	#slideshow .strip,
	#slideshow .slide,
	#slideshow > button
	{
		-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;
	}

	#slideshow .slide
	{
		position: absolute;
		display: none;
		text-align: center;
		outline: none;
	}

	#slideshow .slide.sticky
	{
		display: block;
	}

	#slideshow > button
	{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		padding: 0;
	}

	#slideshow button.next
	{
		left: auto;
		right: 0;
	}

	#slideshow .markers
	{
		text-align: right;
		margin-top:-210px;
	}

	#slideshow ul,
	#slideshow li
	{
		display: block;
		overflow: hidden;

		margin: 0;
		padding: 0;

		list-style: none;
	}

	#slideshow li
	{
		float: left;
	}

	#slideshow li + li
	{
		margin-left: 10px;
	}

	.advanced #slideshow ul
	{
		display: inline-block;
	}


/*
	Theme
	----------------------------------- */

	#slideshow .strip
	{
		padding-bottom: 75%;
	}

	#slideshow .slide
	{
		/*background: #CFCFCF;*/
	}

	#slideshow .slide:nth-child(even)
	{
		/*background: #DFDFDF;*/
	}

	#slideshow .slide p
	{
		position: absolute;
		top: 50%;
		left: 0;

		width: 100%;
		height: 40px;
		margin-top: -20px;

		font-weight: bold;
		font-size: 2em;
		line-height: 40px;
	}

	#slideshow button
	{
		margin: 0;

		background: none;
		border: 0;
		cursor: pointer;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		opacity:0.3;
	}
	
	#slideshow button:hover{opacity:0.7;}

	.advanced #slideshow > button
	{
		position: absolute;
		top: 50%;

		display: block;

		width: 40px;
		height: 36px;

		margin-top: -40px;
		padding-right: 10px;
		padding-left: 20px;
	}

	#slideshow > button::-moz-focus-inner
	{
		margin: -1px;
		padding: 0;
	}

	#slideshow > button b
	{
		display: block;

		width: 23px;
		height: 36px;

		background: transparent url(../images/arrow.png) no-repeat 0 -36px;
		background-size: 23px 72px;

		text-indent: -10000px;
	}

	#slideshow button.next
	{
		padding-right: 17px;
		padding-left: 0px;
	}

	#slideshow button.next b
	{
		left: 10px;
	}

	#slideshow button.next b
	{
		background-position: 0 0;
	}

	#slideshow .markers
	{
		height: 15px;
		padding: 15px 10px;

		text-align: center;
		font-size: 0.8em;
		position:absolute; 
		top:625px;
		width:100%;
	}

	/* Hide buttons when disabled */
	#slideshow.disabled > button
	{
		display: none;
	}

	#slideshow .markers button
	{
		display: inline-block;

		*display: block;
		*float: left;

		padding: 0;

		width: 10px;
		height: 10px;

		background: #384045;
		border-radius: 5px;

		text-indent: -10000px;
		opacity: 1.3;
	}

	#slideshow .markers button + button
	{
		margin-left: 10px;
	}

	#slideshow .markers button.sticky
	{
		background-color: #bc2030;
		opacity: 1.75;
	}

	/* Bigger markers for touch */
	#slideshow.touch .markers button
	{
		width: 16px;
		height: 16px;

		border-radius: 8px;
	}

	#slideshow.touch .markers button + button
	{
		margin-left: 10px;
	}




.banner-caption{
	max-width:1000px;
	width:100%;
	margin:auto;
	display:table;
}

.banner-caption h1{
	color:#fff;
	font-size:40px;
	margin:150px 0px 0px 0px;
}


.banner-caption h2{
	color:#fff;
	font-size:30px;
	margin:20px 0px 0px 0px;
}


.banner-caption h3{
	color:#fff;
	font-size:20px;
	margin:20px 0px 0px 0px;
	font-style:italic;
}