﻿@model CoreStructure_APP.Models.LodgeClaim_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Edit Lodge Claim";
    ViewBag.Active = "Edit Lodge Claim";
    ViewBag.Open = "Edit Lodge Claim";
    ViewBag.Panel = "Edit Claim";
    ViewData["Title"] = "Edit Lodge Claim";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<div class="panel-body">
    <form id="formLodgeClaim" asp-controller="Claim" asp-action="UpdatePALodgeClaimDetails" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>Lodge Claim</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ViewLodgeClaim","Claim") '"><i class="fa fa-list"></i> Claim List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <input asp-for="PolicyId" type="hidden" />
                                            <input asp-for="ClaimId" type="hidden" />
                                            <label asp-for="ClaimOfficer"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ClaimOfficer" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ClaimOfficer" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-4">
                                            <label asp-for="ClaimAmount"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ClaimAmount" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ClaimAmount" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ClaimDate"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ClaimDate" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ClaimDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-4">
                                            <label asp-for="ClaimNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ClaimNo" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ClaimNo" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-4">
                                            <label asp-for="TPSurveyor"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="TPSurveyor" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="TPSurveyor" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-4">
                                            <label asp-for="TPSurveyorContactNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="TPSurveyorContactNo" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                            </div>
                                            <span asp-validation-for="TPSurveyorContactNo" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-4">
                                            <label asp-for="TPName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="TPName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="TPName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-md-4">
                                            <label asp-for="Mobile"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Mobile" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                            </div>
                                            <span asp-validation-for="Mobile" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ClaimFileName"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @*<span class="input-group-addon"><span class="fa fa-info-circle"></span></span>*@
                                                <input type="file" asp-for="ClaimFileName"  />
                                                @*<input asp-for="UploadFile" class="form-control" maxlength="100" autocomplete="off" required />*@
                                            </div>
                                            <span asp-validation-for="ClaimFileName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save">Update Lodge</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("EditPALodgeClaim", "Claim", new { @ClaimId = Model.ClaimId })'"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>