﻿@model CoreStructure_APP.Models.Claim_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Lodge Claim";
    ViewBag.Active = "Lodge Claim";
    ViewBag.Open = "Lodge Claim";
    ViewBag.Panel = "Claim";
    ViewData["Title"] = "Lodge Claim";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Lodge Claim</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @*<button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>*@
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formClaims" asp-controller="Claim" asp-action="LodgeClaim" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PolicyNo"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="PolicyNo" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PolicyHolder"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="PolicyHolder" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">
                                    
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Policy Holder</th>
                                        <th>Contact Person</th>
                                        <th>Mobile No</th>
                                        <th>Insurance Company</th>
                                        <th>Policy No.</th>
                                        <th>Category</th>
                                        <th>Subject Insured</th>
                                        <th>Vehicle No</th>
                                        <th>Expiry Date</th>
                                        <th>Total Premium</th>
                                        @*<th>Product</th>
                                        <th>Commission Rate</th>*@
                                        <th>Action</th>
                                        @*<th>Delete</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.PolicyList != null)
                                    {
                                        foreach (var item in ViewBag.PolicyList)
                                        {
                                            { SNo = SNo + 1; }
                                    <tr>
                                        <td>@SNo<span></span></td>
                                        <td>@item.PolicyHolderName</td>
                                        <td>@item.ContactPersonName</td>
                                        <td>@item.MobileNo</td>
                                        <td>@item.InsuranceCompanyName</td>
                                        <td>@item.PolicyNo</td>
                                        <td>@item.CategoryName</td>
                                        @*<td>@item.ProductName</td>*@
                                        <td>@item.SubjectInsured</td>
                                        <td>@item.VehicleNo</td>
                                        <td>@item.ExpiryDate</td>
                                        <td>@item.PremiumPayable</td>
                                        @*<td>@item.CommissionRate</td>*@

                                        <td>
                                            <a class="btn btn-success btn-md btn-rounded" href="@Url.Action("PersonalAccidentLodgeClaim", "Claim", new { @PId = item.PId })"> Lodge Claim </a>
                                            @*@if (item.CategoryName == "Mediclaim")
            {
                <a class="btn btn-success btn-md btn-rounded" href="@Url.Action("MedicalLodgeClaim", "Claim", new { @PId = item.PId })"> Lodge Claim </a>
            }
            else if (item.CategoryName == "PA")
            {
                <a class="btn btn-success btn-md btn-rounded" href="@Url.Action("PersonalAccidentLodgeClaim", "Claim", new { @PId = item.PId })"> Lodge Claim </a>
            }
            else
            {
                <a class="btn btn-success btn-md btn-rounded" href="@Url.Action("ClaimLodge", "Claim", new { @PId = item.PId })"> Lodge Claim </a>
            }*@
                                        </td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>

