﻿@model CoreStructure_APP.Models.LodgeClaim_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Lodge Claim";
    ViewBag.Active = "Lodge Claim";
    ViewBag.Open = "Lodge Claim";
    ViewBag.Panel = "Claim";
    ViewData["Title"] = "Lodge Claim";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}


    <div class="panel-body">
        <form id="formLodgeClaim" asp-controller="Claim" asp-action="SaveMedicalClaimDetails" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
                @ViewBag.Message
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h3 class="panel-title"><strong>Lodge Claim</strong></h3>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("LodgeClaim","Claim") '"><i class="fa fa-list"></i> Policy List</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <input asp-for="PolicyId" type="hidden" />
                                                <label asp-for="ClaimOfficer"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                    <input asp-for="ClaimOfficer" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="ClaimOfficer" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="col-md-4">
                                                <label asp-for="ClaimAmount"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                    <input asp-for="ClaimAmount" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="ClaimAmount" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="ClaimDate"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="date" asp-for="ClaimDate" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="ClaimDate" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="col-md-4">
                                                <label asp-for="ClaimNo"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                    <input asp-for="ClaimNo" class="form-control" maxlength="25" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="ClaimNo" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="TPName"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                    <input asp-for="TPName" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="TPName" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="PatientName"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                    <input asp-for="PatientName" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="PatientName" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="Mobile"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                    <input asp-for="Mobile" class="form-control" maxlength="100" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                </div>
                                                <span asp-validation-for="Mobile" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="ClaimFileName"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @*<span class="input-group-addon"><span class="fa fa-info-circle"></span></span>*@
                                                    <input type="file" asp-for="ClaimFileName" required />
                                                    @*<input asp-for="UploadFile" class="form-control" maxlength="100" autocomplete="off" required />*@
                                                </div>
                                                <span asp-validation-for="ClaimFileName" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save"> Lodge</i></button>
                                    <button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("MedicalLodgeClaim", "Claim", new { @PId = Model.PolicyId })'"><i class="fa fa-refresh"></i> Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>