﻿@model CoreStructure_APP.Models.Claim_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "View Lodge Claim";
    ViewBag.Active = "View Lodge Claim";
    ViewBag.Open = "View Lodge Claim";
    ViewBag.Panel = "Claim";
    ViewData["Title"] = "View Lodge Claim";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Claim List</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @*<button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>*@
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formClaims" asp-controller="Claim" asp-action="ViewLodgeClaim" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FromDate"> </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ToDate"> </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                                                    <option>---Select Category---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CategoryId" type="hidden" />
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-8">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Policy Holder</th>
                                        <th>Contact Person</th>
                                        <th>Insurance Company</th>
                                        <th>Category</th>
                                        <th>Product</th>
                                        <th>Subject Insured</th>
                                        <th>Expiry Date</th>
                                        <th>Commission Rate</th>
                                        <th>Policy No.</th>
                                        <th>TP Surveyor Name</th>
                                        <th>TP Surveyor Contact</th>
                                        <th>View File</th>
                                        <th>Action</th>
                                        <th>Status</th>
                                        <th>Claim Status</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.ClaimedPolicyList != null)
                                    {
                                        foreach (var item in ViewBag.ClaimedPolicyList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.PolicyHolderName</td>
                                                <td>@item.ContactPersonName</td>
                                                <td>@item.InsuranceCompanyName</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.SubjectInsured</td>
                                                <td>@item.ExpiryDate</td>
                                                <td>@item.CommissionRate</td>
                                                <td>@item.PolicyNo</td>
                                                <td>@item.TPSurveyor</td>
                                                <td>@item.TPSurveyorContactNo</td>
                                                <td>@item.ClaimFileName</td>
                                                <td>
                                                    @if (item.ClaimStatus == 1)
                                                    {
                                                        <a data-toggle="modal" data-id="@item.ClaimId" title="Change Step" class="open-ClaimAction btn btn-default btn-md btn-rounded" href="#myModal">Action</a>
                                                    }
                                                    else
                                                    {
                                                        <a data-toggle="modal" data-id="@item.ClaimId" title="Change Step" class="open-ClaimAction btn btn-default btn-md btn-rounded" href="#myModal">Reopen</a>
                                                    }
                                                </td>
                                                <td>@item.ClaimStepName</td>
                                                <td>
                                                    @if (item.ClaimStatus == 1)
                                                    {
                                                        <a data-toggle="modal" data-id="@item.ClaimId" title="Step List" class="open-ClaimStepList" href="#myModalSteps" style="text-decoration:none;"><span style="color:#fbba34; font-weight: bold;">Pending</span></a>
                                                    }
                                                    else if (item.ClaimStatus == 2)
                                                    {
                                                        @*<span style="color:forestgreen">Approved</span>*@
                                                        <a data-toggle="modal" data-id="@item.ClaimId" title="Step List" class="open-ClaimStepList" href="#myModalSteps" style="text-decoration:none;"><span style="color:forestgreen; font-weight: bold;">Approved</span></a>
                                                    }
                                                    else if (item.ClaimStatus == 3)
                                                    {
                                                        @*<span style="color:red">Rejected</span>*@
                                                        <a data-toggle="modal" data-id="@item.ClaimId" title="Step List" class="open-ClaimStepList" href="#myModalSteps" style="text-decoration:none;"><span style="color:red; font-weight: bold;">Rejected</span></a>
                                                    }
                                                    else
                                                    {

                                                    }
                                                </td>
                                                <td>
                                                    @if (item.CategoryId == 16)
                                                    {
                                                        <a class="btn btn-default btn-md btn-rounded" href="@Url.Action("EditMedicalLodgeClaim", "Claim", new { @ClaimId= item.ClaimId })"> <span class="fa fa-pencil"></span> </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-default btn-md btn-rounded" href="@Url.Action("EditPALodgeClaim", "Claim", new { @ClaimId= item.ClaimId })"> <span class="fa fa-pencil"></span> </a>
                                                    }

                                                    <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteClaim", "Claim", new { @ClaimId= item.ClaimId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important; height:auto !important">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Status</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="clId" />
                @*<input type="hidden" id="=clStId" />*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label> Steps</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <select id="stepId" class="form-control" style="width:245px !important;" asp-items="ViewBag.ClaimStepList">
                                            <option>---Select Step---</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Date</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="date" id="stepDate" class="form-control" maxlength="100" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label> By</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <select id="empId" asp-items="ViewBag.EmployeeList" class="form-control" style="width:245px !important;">
                                            <option>---Select Employee---</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="radio" id="rdButton1" name="ClaimStatus" value="2" onchange="ClaimStatusOnChange();" /> Approve &nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="rdButton2" name="ClaimStatus" value="3" onchange="ClaimStatusOnChange();" /> Reject &nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="rdButton3" name="ClaimStatus" value="1" onchange="ClaimStatusOnChange();" /> Pending
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </div>
                <br />
                <div class="row" id="divApprove">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label> Settlement Amount</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input id="SettleAmount" type="text" class="form-control" maxlength="100" autocomplete="off" required style="width:245px !important;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Settlement Date</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="date" id="settleDate" class="form-control" maxlength="100" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </div>

                <div class="row" id="divApprove1">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Approve Remark</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input id="appRemark" type="text" class="form-control"  autocomplete="off" required style="width:245px !important;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </div>

                <div class="row" id="divReject">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Reject Remark</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input id="rejectRemark" type="text" class="form-control"  autocomplete="off" required style="width:245px !important;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input id="clStId" type="text" class="form-control" maxlength="100" style="display:none;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </div>

                <div class="row" id="divPending">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Pending Remark</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input id="pendingRemark" type="text" class="form-control" autocomplete="off" required style="width:245px !important;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="SubmitCloseRemark()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalSteps" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important; height:auto !important">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Claim Process Steps</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="divStepDetails">

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });

        $('#divApprove').hide();
        $('#divApprove1').hide();
        $('#divReject').hide();
        $('#divPending').hide();

    });
</script>

<script type="text/javascript">

    $(document).on("click", ".open-ClaimAction", function () {
        var myClaimId = $(this).data('id');
        $(".modal-body #clId").val(myClaimId);
    });

    $(document).on("click", ".open-ClaimStepList", function () {
        var myClaimId = $(this).data('id');

        $.ajax({
            url: "/Claim/GetClaimStepsDetailList",
            type: "POST",
            dataType: "json",
            data: { 'ClaimId': myClaimId },
            success: function (data) {

                if (data.length > 0) {
//                    var str = " <table class='table table-striped table-bordered table-hover' id='sample_1' width='100%'><thead><tr><th style='width:15%'> Date </th> <th style='width:30%'> Step </th> <th> Remark </th> <th style='width:20%'> By </th> </tr></thead><tbody>";
//                    for (i = 0; i < data.length; i++) {
//                        str += '<tr><td style="width:15%">' + data[i].stepDate + '</td><td style="width:30%">' + data[i].stepName + '</td><td style="width:35%">' + data[i].remark + '</td><td style="width:20%">' + data[i].userName + '</td>';

                    var str = " <table class='table table-striped table-bordered table-hover' style='white-space:none !important'><thead><tr><th> Date<span style='visibility:hidden'>____________</span> </th> <th> Step </th> <th> Remark </th> <th> By </th> </tr></thead><tbody>";
                    for (i = 0; i < data.length; i++) {
                        str += '<tr><td>' + data[i].stepDate + '</td><td>' + data[i].stepName + '</td><td>' + data[i].remark + '</td><td>' + data[i].userName + '</td>';

                        str += '</tr> ';
                    }
                    str += '</tbody></table>';
                }
                else {

                    var str = " <table class='table table-striped table-bordered table-hover' id='sample_1' width='100%'><thead><tr><th> Date </th> <th> Step </th> <th> Remark </th> <th> By </th> </tr></thead><tbody>";
                    str += '<tr><td colspan="2"> No Record Found... </td></tr> ';
                    str += '</tbody></table>';

                }
                $('#divStepDetails').html(str);

              
            }
        });
        //alert($('#claimId').val());
    });

    function ClaimStatusOnChange() {

        var rval = 0;
        if (rdButton1.checked == true) {
            rval = $('#rdButton1').val();
            $('#divApprove').show();
            $('#divApprove1').show();
            $('#divReject').hide();
            $('#divPending').hide();
        }
        if (rdButton2.checked == true) {
            rval = $('#rdButton2').val();
            $('#divApprove').hide();
            $('#divApprove1').hide();
            $('#divReject').show();
            $('#divPending').hide();
        }
        if (rdButton3.checked == true) {
            rval = $('#rdButton3').val();
            $('#divApprove').hide();
            $('#divApprove1').hide();
            $('#divReject').hide();
            $('#divPending').show();
        }
        //alert(rval);
        $('#clStId').val(rval);

    }

    function SubmitCloseRemark() {


        var clStatusId = $('#clStId').val();
        var cId = $('#clId').val();
        var step = $('#stepId').val();
        var stDate = $('#stepDate').val();
        var empId = $('#empId').val();
        var SettleAmount = $('#SettleAmount').val();
        var settleDate = $('#settleDate').val();
        var appRemark = $('#appRemark').val();
        var rejectRemark = $('#rejectRemark').val();
        var pendingRemark = $('#pendingRemark').val();
        //alert(stDate);
        if (stepId == '' || stepId == null) {
            alert('Please Select a Step');
        }
        else {
            $.ajax({
                url: "/Claim/SaveClaimStepsDetails",
                type: "POST",
                dataType: "json",
                data: { 'ClaimId': cId, 'StepId': step, 'stDate': stDate, 'empId': empId, 'SettleAmount': SettleAmount, 'settleDate': settleDate, 'appRemark': appRemark, 'rejectRemark': rejectRemark, 'pendingRemark': pendingRemark, 'clStatusId': clStatusId },
                success: function (data) {
                    window.location.href = '/Claim/ViewLodgeClaim'
                }
            });
        }
    }
</script>

<style type="text/css">

    .table, tr, td {
    white-space: initial !important;
 
}

</style>