﻿
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{

    ViewBag.Title = "Dashboard";
    ViewBag.Active = "Dashboard";
    ViewBag.Open = "Dashboard";
    @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
    {
        ViewBag.Panel = "SuperAdmin";
    }
    else if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "2")
    {
        ViewBag.Panel = "Admin";
    }
    else if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "3")
    {
        ViewBag.Panel = "DC";
    }
    else if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "4")
    {
        ViewBag.Panel = "Employee";
    }
    else if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "5")
    {
        ViewBag.Panel = "POS";
    }
    ViewData["Title"] = "Dashboard";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];


}

@*<script src="https://cdn.zingchart.com/zingchart.min.js"></script>*@
<script src="~/Content/zingchart.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    zing-grid[loading] {
        height: 200px;
    }

    body {
        background: #eee;
        margin-top: 20px;
    }

    .panel {
        box-shadow: 0 2px 0 rgba(0,0,0,0.05);
        border-radius: 0;
        border: 0;
        margin-bottom: 24px;
    }

    .panel-dark.panel-colorful {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
        border-color: #3b4146;
        color: #fff;
    }

    .panel-danger.panel-colorful {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
        border-color: #f76c51;
        color: #fff;
    }

    .panel-primary.panel-colorful {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
        border-color: #5fa2dd;
        color: #fff;
    }

    .panel-info.panel-colorful {
        background: linear-gradient(45deg,#FF5370,#ff869a);
        border-color: #4ebcda;
        color: #fff;
    }

    .panel-body {
        padding: 25px 20px;
    }

    .panel hr {
        border-color: rgba(0,0,0,0.1);
    }

    .mar-btm {
        margin-bottom: 15px;
    }

    h2, .h2 {
        font-size: 28px;
    }

    .small, small {
        font-size: 85%;
    }

    .text-sm {
        font-size: .9em;
    }

    .text-thin {
        font-weight: 300;
    }

    .text-semibold {
        font-weight: 600;
    }
</style>
    &nbsp;&nbsp;&nbsp;&nbsp;
@if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1" || HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "7")
{

    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-dark panel-colorful">
                    <div class="panel-body text-center">
                        <p class="text-uppercase mar-btm text-sm"><b>Underwrite Policy</b></p>
                        <i class="fa fa-paint-brush fa-2x"></i>
                        <hr>
                        <p class="h4 text-thin"><label id="totalun" style="color: white;"></label></p>
                        @*<small><span class="text-semibold">7%</span> Higher than yesterday</small>*@
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-danger panel-colorful">
                    <div class="panel-body text-center">
                        <p class="text-uppercase mar-btm text-sm"><b>Generated Policy</b></p>
                        <i class="fa fa-check-square-o fa-2x"></i>
                        <hr>
                        <p class="h4 text-thin"><label id="totalgen" style="color: white;"></label></p>
                        @*<small><span class="text-semibold"><i class="fa fa-unlock-alt fa-fw"></i> 154</span> Unapproved comments</small>*@
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-primary panel-colorful">
                    <div class="panel-body text-center">
                        <p class="text-uppercase mar-btm text-sm"><b>Total Renewal</b></p>
                        <i class="fa fa-shopping-cart fa-2x"></i>
                        <hr>
                        <p class="h4 text-thin"><a href="@Url.Action("RenewalReport", "Report", new { @Type = "Renewal" })"> <label id="totalren" style="color: white;"></label> </a></p>
                        @*<small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i> 954</span> Sales in this month</small>*@
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-info panel-colorful">
                    <div class="panel-body text-center">
                        <p class="text-uppercase mar-btm text-sm">
                            <b>Processed:</b>
                            <a href="@Url.Action("RenewalReport", "Report", new { @Type= "Process" })"> <label id="totalpro" style="color:white;"></label> </a>
                        </p>
                        <br />
                        @*<i class="fa fa-dollar fa-5x"></i>*@
                        <hr>
                        <p class="text-uppercase mar-btm text-sm"><b>Remaining:</b><a href="@Url.Action("RenewalReport", "Report", new { @Type= "Remains" })"> <label id="totalrem" style="color:white;"></label> </a></p>
                        @*<small><span class="text-semibold"><i class="fa fa-dollar fa-fw"></i> 22,675</span> Total Earning</small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body" style="margin-left:15px">
        <div class="row clearfix">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="~/Report/AdminDailyBusiness" class="btn btn-success btn-lg btn-block waves-effect" type="button">Daily Business</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="~/Report/AdminDailyBusinessDateWise" class="btn btn-primary btn-lg btn-block waves-effect" type="button">Daily Business Date Wise</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="~/Report/AdminDailyBusinessClientWise" class="btn btn-danger btn-lg btn-block waves-effect" type="button">Daily Business Client Wise</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <a href="~/Report/AdminMISReport" class="btn btn-warning btn-lg btn-block waves-effect" type="button">MIS Report</a>
            </div>
        </div>
    </div>
    <br />
    <br />
}





@if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1" || HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "2" || HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "7")
{
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-left: -26px !important;">
                <div class="col-md-6">
                    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                    @*<div id='myChart'>

                        </div>*@
                </div>
                <div class="col-md-6">
                    <div id="chartContainer1" style="height: 400px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="graph" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
}

<script src="~/Content/jquery-1.11.1.min.js"></script>
<script src="~/Content/jquery.canvasjs.min.js"></script>
<script type="text/javascript">
        window.onload = function () {
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetDailyBusinessReportForChart","Home",null)',
                dataType: "json",
                success: function (data) {

                    var theInstructions = '' + data.compWiseChart + '';
                    var F = new Function(theInstructions);
                    return (F());
                }
            });
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetDailyBusinessReportForChart","Home",null)',
                dataType: "json",
               
                success: function (data) {

                    var theInstructions1 = '' + data.categoryWiseChart + '';
                    var F1 = new Function(theInstructions1);
                    return (F1());
                }
            });

            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetMonthlySalesForGraph","Home",null)',
                dataType: "json",
               
                success: function (data) {
                    console.log(data);
                    var graphData = '' + data + '';
                    var F2 = new Function(graphData);
                    return (F2());
                }
            });
              //var options = { animationEnabled: true, title: { text: 'Monthly Sales - 2020' }, axisX: { valueFormatString: 'MMM' }, axisY: { title: 'Sales(in Rupees)', prefix: 'Rs - ', includeZero: false }, data: [{ yValueFormatString: '$#,###', xValueFormatString: 'MMMM', type: 'spline', dataPoints: [  { x: new Date(2020, 0), y: 0.00 }, { x: new Date(2020, 1), y: 0.00 }, { x: new Date(2020, 2), y: 74048.54 }, { x: new Date(2020, 3), y: 0.00 }, { x: new Date(2020, 4), y: 0.00 }, { x: new Date(2020, 5), y: 0.00 }, { x: new Date(2020, 6), y: 0.00 }, { x: new Date(2020, 7), y: 0.00 }, { x: new Date(2020, 8), y: 0.00 }, { x: new Date(2020, 9), y: 0.00 }, { x: new Date(2020, 10), y: 0.00 }, { x: new Date(2020, 11), y: 0.00 }, ] }] }; $('#graph').CanvasJSChart(options);
        }

        //var options = {
        //        animationEnabled: true,
        //        title: {
        //            text: "Daily Sales"
        //        },
        //        axisX: {
        //            valueFormatString: "MMM"
        //        },
        //        axisY: {
        //            title: "Sales (in Rupees)",
        //            prefix: "Rs- ",
        //            includeZero: false
        //        },
        //        data: [{
        //            yValueFormatString: "$#,###",
        //            xValueFormatString: "MMMM",
        //            type: "spline",
        //            dataPoints: [
        //                { x: new Date(2017, 0), y: 25060 },
        //                { x: new Date(2017, 1), y: 27980 },
        //                { x: new Date(2017, 2), y: 33800 },
        //                { x: new Date(2017, 3), y: 49400 },
        //                { x: new Date(2017, 4), y: 40260 },
        //                { x: new Date(2017, 5), y: 33900 },
        //                { x: new Date(2017, 6), y: 48000 },
        //                { x: new Date(2017, 7), y: 31500 },
        //                { x: new Date(2017, 8), y: 32300 },
        //                { x: new Date(2017, 9), y: 42000 },
        //                { x: new Date(2017, 10), y: 52160 },
        //                { x: new Date(2017, 11), y: 49400 }
        //            ]
        //        }]
        //    };
        //    $("#graph").CanvasJSChart(options);
        // }
</script>


@*<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
<script src="~/Content/canvasjs.min.js"></script>

<script type="text/javascript">
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    var myConfig = {
        "type": "pie",
        "title": {
            "text": "Insurance Company Wise Daily Business",
            'font-weight': "bold"
        },
        "series": [{
            "values": [17700]
        },
        {
            "values": [17000]
        }
        ]
    };

    zingchart.render({
        id: 'myChart',
        data: myConfig,
        height: 400,
        width: "100%",

    });
</script>


<script type="text/javascript">
        $(document).ready(function () {
        $.ajax({
            type: 'Post',
            url: '@Url.Action("GetTotalCountPolicy","Home",null)',
            dataType: "json",
            success: function (data) {
                $('#totalun').html(data.results[0].value);
                $('#totalgen').html(data.results[0].text);
            }
        });
        })

    $(document).ready(function () {
        $.ajax({
            type: 'Post',
            url: '@Url.Action("GetTotalRenewalPolicy","Home",null)',
            dataType: "json",
            success: function (data) {
                console.log(data);
                $('#totalren').html(data.results[0].text);
                $('#totalpro').html(data.results[0].value);
                var TR = data.results[0].text;
                var Pr = data.results[0].value;
                var RR = TR - Pr;
                $('#totalrem').html(RR);
            }
        });
        })

</script>
