﻿@model CoreStructure_APP.Models.SelfTimeSheet



<br />
<br />
<div class="portlet box ">
    <div class="portlet-title">
        <div class="caption">
            
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Activity</th>
                        <th>SubActivity Name</th>
                        <th>Total Time</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int SNo = 0; }

                    @if (Model.TimsheetGridData != null)
                    {
                        @foreach (var item in Model.TimsheetGridData)
                        {
                            { SNo = SNo + 1; }
                            <tr style="text-align:left;">
                                <td>@SNo</td>
                                <td>@item.Date</td>
                                <td>@item.clientname</td>
                                <td>@item.Activity</td>
                                <td>@item.SubActivity</td>
                                <td style="text-align:center;">@item.TimeTaken</td>
                                <td>@item.Remarks</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">No Data Found... </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>