﻿@model CoreStructure_APP.Models.TimesheetGrid



<script type="text/javascript">

    function Delete(Id) {
        alert(Id);
        var check = confirm("Are you sure you want to Delete?");
        if (check == true) {
            var SheetId = Id;


            $.ajax({
                type: 'Post',
                url: '@Url.Action("DeleteSheetData", "Timesheet", null)',
                data: { 'SheetId': SheetId },
                contenttype: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == "Sucess") {
                        alert('Data Deleted Successfully!!');
                        GetTimesheetGrid();
                    }
                    else {

                    }

                }
            });
        }
        else {
            return false;
        }

    }


    function SubmitTimesheet()
    {
        var ResultId = 0;
        var Resultdata = "";
        var Date = $('#Date').val();
        $.ajax({
            type: 'Post',
            url: '@Url.Action("SubmitTimesheetCasual", "Timesheet", null)',
            data: { 'Date': Date },
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                console.log(data);
                data.results[0].value;
                ResultId = data.results[0].value;
                Resultdata = data.results[0].text;

                if (ResultId == 1)
                {
                    $('#DivSucesss').show();
                    alert('Timesheet Submitted Successfully!!');
                    window.location.reload();

                }
                else if (ResultId == 2)
                {
                    $('#DivDOJ').show();
                    alert('Please Fill Timesheet from '+ Resultdata);
                    window.location.reload();
                }
                else
                {
                    $('#previousday').modal('show');
                    var label = document.getElementById('Datesalert');
                    label.innerHTML(Resultdata);
                }
            }
        });
    }
</script>


<div class="modal fade" id="previousday" aria-hidden="true" style="z-index:999999; display:none">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>Alert!
                </h4>
            </div>
            <div class="modal-body">
                <div class="tabbable-bordered" id="Div6">
                    <div class="form-body">
                        <div class="form-group">
                            Please Fill Previous Date Timesheet (<label id="Datesalert"> </label>) !
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" onclick="Closealprev();" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.DataList != null)
{
<div class="row">
    <div class="col-md-12">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Activity</th>
                        <th>SubActivity Name</th>
                        <th>No of Hours</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int SNo = 0; }
                    @foreach (var item in ViewBag.DataList)
                    {
                        { SNo = SNo + 1; }
                        <tr style="text-align:left;">
                            <td>@SNo</td>
                            <td>@item.Date</td>
                            <td>@item.clientname</td>
                            <td>@item.Activity</td>
                            <td>@item.SubActivity</td>
                            <td style="text-align:center;">@item.TimeTaken</td>
                            <td>@item.Remarks</td>
                            <td><a class="btn btn-danger btn-md btn-rounded" onclick="Delete(@item.SheetId);"> <span class="fa fa-trash-o"></span> </a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <input type="submit" id="BtnSave" style="margin-top:10px; margin-right:10px;" class="btn btn-success" value="Submit" onclick="SubmitTimesheet()" />
</div>
}