﻿@model CoreStructure_APP.Models.AdminTimeSheetOfUsers



<br />
<br />
<div class="portlet box ">
    <div class="portlet-title">
        <div class="row">
            <div class="col-md-2">
                <div class="caption">
                    @if (!String.IsNullOrEmpty(Model.Totaltime))
                    {
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>Total Time :-  <b>@Html.DisplayFor(x => x.Totaltime)</b></th>
                                </tr>
                            </thead>
                        </table>
                    }
                    else
                    {
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                            <thead>
                                <tr>
                                    <th>Total Time :- <b> 0.00</b></th>
                                </tr>
                            </thead>
                        </table>
                    }
                </div>
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_2">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Date</th>
                        <th>Employee Name</th>
                        <th>Client Name</th>
                        <th>Activity Name</th>
                        <th>Sub Activity Name</th>
                        <th>Total Time</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int SNo = 0; }

                    @if (Model.TimeSheetGrid != null)
                    {
                        @foreach (var item in Model.TimeSheetGrid)
                        {
                            { SNo = SNo + 1; }
                            <tr style="text-align:left;">
                                <td>@SNo</td>
                                <td>@item.Date</td>
                                <td>@item.EmployeeName</td>
                                <td>@item.ClientName</td>
                                <td>@item.ActivityName</td>
                                <td>@item.SubActivityName</td>
                                <td style="text-align:center;">@item.TotalTime</td>
                                <td>@item.Remarks</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">No Data Found... </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
