﻿@model CoreStructure_APP.Models.AdminViewTimesheet
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Delete TimeSheet";
    ViewBag.Active = "TimeSheet";
    ViewBag.Open = "Delete TimeSheet";
    ViewBag.Panel = "TimeSheet";
    ViewData["Title"] = "TimeSheet";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}


<div class="panel-body">
    <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>DELETE TIMESHEET</strong></h3>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            @* <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("FillTimeSheet","TimeSheet") '"><i class="fa fa-list"></i>Fill Timesheet</button>*@
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        &nbsp;
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="EmployeeId"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeList">
                                                <option value="">---Select Employee---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="Date"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="Date" class="form-control" maxlength="100" autocomplete="off" required style="width:155px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <button type="submit" class="btn btn-success" onclick="DataTobeDelete();"><i class="fa fa-eye"> View</i></button>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-success" onclick="DeleteData();"><i class="fa fa-eye"> Delete</i></button>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" id="datagrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function DataTobeDelete() {
        var EmployeeId = $('#EmployeeId').val();
        var Date = $('#Date').val();
        if (EmployeeId == null || EmployeeId == "") {
            alert('Please Select An Employee');
        }
        else if (Date == "" || Date == null) {
            alert('Please Select A Date...!');
        }
        else {
        $.ajax({
            type: 'Post',
            url: '@Url.Action("GetTimesheetDataTobeDelete", "Timesheet", null)',
            data: { 'EmployeeId': EmployeeId, 'Date': Date },
            contenttype: "application/json; charset=utf-8",
            success: function (data) {

                $('#datagrid').html(data);
                //$('#sample_1').dataTable({});

            }
        });
        }
    }

    function DeleteData() {

        var EmployeeId = $('#EmployeeId').val();
        var Date = $('#Date').val();
        if (EmployeeId == null || EmployeeId == "") {
            alert('Please Select An Employee');
        }
        else if (Date == "" || Date == null) {
            alert('Please Select A Date...!');
        }
        else {

            var check = confirm("Are you sure you want to Delete?");
            if (check == true) {
                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("GetTimesheetDataDelete", "Timesheet", null)',
                    data: { 'EmployeeId': EmployeeId, 'Date': Date },
                    contenttype: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data == 1) {
                            alert('Data Deleted Successfully!!');
                            window.location.reload();
                        }
                        else if (data == 2) {
                            alert('Data Not Found..!!');
                        }
                        else  {
                            alert('Please try again...!');
                        }
                    }
                });
            }
            else {
                return false;
            }

        }

    }


</script>