﻿@model CoreStructure_APP.Models.AdminViewTimesheet
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "View TimeSheet";
    ViewBag.Active = "TimeSheet";
    ViewBag.Open = "View TimeSheet";
    ViewBag.Panel = "TimeSheet";
    ViewData["Title"] = "TimeSheet";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}
<div class="panel-body">
    <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>VIEW TIMESHEET</strong></h3>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            @* <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("FillTimeSheet","TimeSheet") '"><i class="fa fa-list"></i>Fill Timesheet</button>*@
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        &nbsp;
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="FromDate"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required style="width:155px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ToDate"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required style="width:155px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ClientId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientList">
                                                <option value="">---Select Client---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="EmployeeId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeList">
                                                <option value="">---Select Employee---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ActivityId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="ActivityId" class="form-control" asp-items="ViewBag.ActivityList" onchange="BindSubActivity();">
                                                <option value="">---Select Activity---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="SubActivityId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="SubActivityId" class="form-control" asp-items="ViewBag.SubActivityList">
                                                <option value="">---Select SubActivity---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="RoleId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleList">
                                                <option value="">---Select Role---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-success" onclick="GetAdminViewTimeSheet();"><i class="fa fa-eye"> View</i></button>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" id="datagrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function BindSubActivity() {
        var Id = $('#ActivityId').val();
        $.ajax({
            url: "/TimeSheet/GetSubActivityList",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'ActivityId': Id },
            success: function (data) {
                if (data.results) {
                    for (i = 0; i < data.results.length; i++) {
                        $('#SubActivityId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    }
                }
            }
        });
    }
</script>

<script type="text/javascript">

    function GetAdminViewTimeSheet() {
        var fDate = $('#FromDate').val();
        var tDate = $('#ToDate').val();
        var ClientId = $("#ClientId").val();
        var EmployeeId = $("#EmployeeId").val();
        var ActivityId = $("#ActivityId").val();
        var SubActivityId = $("#SubActivityId").val();
        var RoleId = $("#RoleId").val();



        if (ClientId == null || ClientId == "") {
            ClientId = 0;
        }

        if (EmployeeId == null || EmployeeId == "") {
            EmployeeId = 0;
        }

        if (ActivityId == null || ActivityId == "") {
            ActivityId = 0;
        }

        if (SubActivityId == null || SubActivityId == "") {
            SubActivityId = 0;
        }

        if (RoleId == null || RoleId == "") {
            RoleId = 0;
        }

        if (fDate == "" || fDate == null) {
            alert('Please Select Start Date...!');
        }
        else if (tDate == "" || tDate == null) {
            alert('Please Select End Date...!');
        }
        else {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAdminTimesheetView", "Timesheet", null)',
            data: { 'FromDate': fDate, 'ToDate': tDate, 'ClientId': ClientId, 'EmployeeId': EmployeeId, 'ActivityId': ActivityId, 'SubActivityId': SubActivityId, 'RoleId': RoleId },
            contenttype: 'application/json;charset=utf-8',
            success: function (data) {
                $('#datagrid').html(data);
                $('#sample_2').dataTable({});
            }
        });
        }
    }
</script>