﻿@model CoreStructure_APP.Models.Filltimesheet_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Fill TimeSheet";
    ViewBag.Active = "TimeSheet";
    ViewBag.Open = "TimeSheet";
    ViewBag.Panel = "TimeSheet";
    ViewData["Title"] = "TimeSheet";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}






<link href="~/CalendarContent/packages/core/main.css" rel="stylesheet" />
@*<link href="~/CalendarContent/packages/daygrid/main.css" rel="stylesheet" />*@
@*<link href="~/CalendarContent/packages/timegrid/main.css" rel="stylesheet" />*@
@*<link href="~/CalendarContent/packages/list/main.css" rel="stylesheet" />*@



<style>

    #calendar1 {
        max-width: 900px;
        margin: 0 auto;
    }
</style>




<div class="panel-body">
    <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>TIMESHEET</strong></h3>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ViewTimeSheetUser","TimeSheet") '"><i class="fa fa-list"></i>View Timesheet</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @*<div class="col-md-12" id="ComActive">*@
                    </div>
                </div>
                <div id="ShowFillTimesheetPopup" class="modal fade" tabindex="-1" data-width="100" aria-hidden="true">
                    <div class="modal-dialog" style="width:1175px !important">
                        <div class="modal-content" style="margin-left: 15%;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                                <h4 class="modal-title">Fill Timesheet</h4>
                                <input asp-for="UpdateID" type="hidden" />
                                <input asp-for="HdBalancetobefill" type="hidden" />
                            </div>
                            <div class="modal-body">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Date</label>
                                                    <span style="color: Red;">*</span>
                                                    <input asp-for="Date" class="form-control" maxlength="100" readonly="readonly" autocomplete="off" required />
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Client Name</label>
                                                    <span style="color: Red;">*</span>
                                                    <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientList">
                                                        <option value="">---Select Client---</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Activity</label>
                                                    <span style="color: Red;">*</span>
                                                    <select asp-for="ActivityId" class="form-control" asp-items="ViewBag.ActivityList" onchange="BindSubActivity()">
                                                        <option value="">---Select Activity---</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">SubActivity</label>
                                                    <span style="color: Red;">*</span>
                                                    <select asp-for="SubActivityId" class="form-control" asp-items="ViewBag.SubActivityList">
                                                        <option value="">---Select Sub-Activity---</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Memo</label>
                                                    <span style="color: Red;">*</span>
                                                    <textarea asp-for="Remarks" class="form-control" maxlength="1000" autocomplete="off"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">No Of Hours</label>
                                                    <span style="color: Red;">*</span>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <select asp-for="NOHH" class="form-control" onchange="getbalancefill()">
                                                                <option value="HH">HH</option>
                                                                <option value="00">00</option>
                                                                <option value="01">01</option>
                                                                <option value="02">02</option>
                                                                <option value="03">03</option>
                                                                <option value="04">04</option>
                                                                <option value="05">05</option>
                                                                <option value="06">06</option>
                                                                <option value="07">07</option>
                                                                <option value="08">08</option>
                                                                <option value="09">09</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select asp-for="NOMM" class="form-control" onchange="getbalancefill()">
                                                                <option value="MM">MM</option>
                                                                <option value="00">00</option>
                                                                <option value="05">05</option>
                                                                <option value="10">10</option>
                                                                <option value="15">15</option>
                                                                <option value="20">20</option>
                                                                <option value="25">25</option>
                                                                <option value="30">30</option>
                                                                <option value="35">35</option>
                                                                <option value="40">40</option>
                                                                <option value="45">45</option>
                                                                <option value="50">50</option>
                                                                <option value="55">55</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="BtnSave" class="btn btn-success" value="Save" onclick="SaveTimesheet()" />
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                                <br />
                                <br />
                                <div id="datagrid">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-body col-md-12">

                        <input type="button" class="btn-prev fc-button-primary" onclick="btnprev()" value="<" />
                        <input type="button" class="btn-next fc-button-primary" onclick="btnnext()" value=">" />

                        <div id='calendar1' class="has-toolbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
<script src="~/Content/jquery.min.js"></script>

<style type="text/css">
.fc-prev-button{

    visibility:hidden;
}
.fc-next-button{

    visibility:hidden;
}

</style>




<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({
                type: 'Post',
                url: '@Url.Action("Getfilledtimesheetdata", "Timesheet", null)',
                contenttype: "application/json; charset=utf-8",
                success: function (data) {
                    var theInstructions = data;
                    var F = new Function(theInstructions);
                    return (F());
                }
        });


    });

    function btnprev() {
         var x = document.getElementsByClassName("fc-prev-button");
            x[0].click();

        var datey = $('.fc-center').html();
            datey = datey.replace("<h2>", "");
            datey = datey.replace("</h2>", "");
            datey = datey.replace(" ", " 01, ");
         
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetfilledtimesheetdataByDate", "Timesheet", null)',
                data: { 'Date': datey },
                contenttype: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.length > 0) {

                        //console.log(data);

                        //$('#calendar1').fullCalendar('removeEvents');

                        //alert(data[0].Years);
                        //alert(data[0].Months);
                        //alert(data[0].Days);
                        //alert(data[0].Newdates);

                        //for (i = 0; i < data.length; i++) {

                        //    var eventData = "{  title: 'Already Filled', start: new Date("+data[i].year+","+data[i].month+","+data[i].day+"), constraint: 'businessHours', color: '#257e4a' },"

                        //    $('#calendar1').fullCalendar('renderEvent', eventData, true)
                        //    $('#calendar1').fullCalendar('unselect');
                        //}



            //            var calendarEl = document.getElementById('calendar1');
            //            var calendar = new FullCalendar.Calendar(calendarEl, {

            //                  calendar.addEvent({
            //  title: 'dynamic event',
            //  start: "2020-05-30",
            //  allDay: true
            //})


            //            });
            //            calendar.render();


                    }

                   
                }
            });



    }

    function btnnext() {
        var j = document.getElementsByClassName("fc-next-button");
            j[0].click();
         var datey = $('.fc-center').html();
            datey = datey.replace("<h2>", "");
            datey = datey.replace("</h2>", "");
            datey = datey.replace(" ", " 01, ");
         
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetfilledtimesheetdataByDate", "Timesheet", null)',
                data: { 'Date': datey },
                contenttype: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.length > 0) {
                        $('#calendar1').fullCalendar('removeEvents');
                        for (i = 0; i < data.length; i++) {
                            if (data[i].istimesheetfill == 1) {
                                var eventData = { title: ' Already Filled', start: new Date(data[i].Year, data[i].Month, data[i].Day), backgroundColor: App.getBrandColor('green') }
                            } else if (data[i].istimesheetfill == 2) {
                                var eventData = { title: data[i].Remarks, start: new Date(data[i].Year, data[i].Month, data[i].Day), backgroundColor: App.getBrandColor('purple') }
                            }
                            else {
                                var eventData = { title: 'Fill Timesheet', start: new Date(data[i].Year, data[i].Month, data[i].Day), backgroundColor: App.getBrandColor('yellow'), url: 'javascript:filltimesheet(' + data[i].DateofCal + ');' }
                            }
                            $('#calendar1').fullCalendar('renderEvent', eventData, true)
                            $('#calendar1').fullCalendar('unselect');
                        }
                    }

                   
                }
            });

    }


</script>
<script>

    function filltimesheet(date) {

        $('#ShowFillTimesheetPopup').modal('show');
        $('#Date').val(date);
        GetTimesheetGrid(date);
    }

    function BindSubActivity() {
        var Id = $('#ActivityId').val();
        $.ajax({
            url: "/TimeSheet/GetSubActivityList",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'ActivityId': Id },
            success: function (data) {
                if (data.results) {
                    for (i = 0; i < data.results.length; i++) {
                        $('#SubActivityId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    }
                }
            }
        });
    }
</script>

<script type="text/javascript">
    function SaveTimesheet() {
        var Date = $('#Date').val();
        var fromtime = "00:00";
        var Totime = "00:00";
        var Totaltime = $('#Totaltime').val();
        var clientId = $('#ClientId').val();
        var ActivityId = $('#ActivityId').val();
        var SubactivityId = $('#SubActivityId').val();
        var Balancetobefill = "00:00";
        var Remarks = $('#Remarks').val();
        var NoOfHours = $('#NOHH').val() + ':' + $('#NOMM').val();

        if (Date == "") {
            alert('Please Fill Date');
            $('#Date').focus();
            return false;
        }

        if (clientId == 0) {
            alert('Please Select Client Name');
            $('#ClientId').focus();
            return false;
        }

        if (ActivityId == 0) {
            alert('Please Select Activity');
            $('#ActivityId').focus();
            return false;
        }

        if (SubactivityId == 0) {
            alert('Please Select SubActivity');
            $('#SubActivityId').focus();
            return false;
        }
        if ($('#Remarks').val() == "") {
            alert('Please Enter Memo');
            $('#Remarks').focus();
            return false;
        }
        if ($('#NOHH').val() == "HH" || $('#NOMM').val() == "MM") {
            alert('Please Fill No of Hours');
            $('#NOHH').focus();
            return false;
        }

        Totaltime = NoOfHours;


        $.ajax({
            type: 'Post',
            url: '@Url.Action("SaveTimesheet", "Timesheet", null)',
            data: { 'Date': Date, 'fromtime': fromtime, 'Totime': Totime, 'Totaltime': Totaltime, 'clientId': clientId, 'ActivityId': ActivityId, 'SubactivityId': SubactivityId, 'Balancetobefill': Balancetobefill, 'Remarks': Remarks, 'NoOfHours': NoOfHours },
            contenttype: "application/json; charset=utf-8",
            success: function (data) {

                if (data == 1) {
                    $('#ClientId').val('');
                    $('#ActivityId').val('');
                    $('#SubActivityId').val('');
                    $('#NOHH').val('HH');
                    $('#NOMM').val('MM');
                    $('#Remarks').val('');
                    GetTimesheetGrid(Date);

                }
            }
        });

    }


     function GetTimesheetGrid(date) {
         var Date = date; //$('#Date').val();
        $.ajax({
            type: 'Post',
            url: '@Url.Action("GetTimesheetFillGridcasual", "Timesheet", null)',
            data: { 'Date': Date },
            contenttype: "application/json; charset=utf-8",
            success: function (data) {

                $('#datagrid').html(data);
                FilllastData();
            }
        });

    }
</script>


<script src="~/CalendarContent/packages/core/main.js"></script>
<script src="~/CalendarContent/packages/interaction/main.js"></script>
<script src="~/CalendarContent/packages/daygrid/main.js"></script>
<script src="~/CalendarContent/packages/timegrid/main.js"></script>
<script src="~/CalendarContent/packages/list/main.js"></script>




