﻿@model CoreStructure_APP.Models.Leave_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "MIS-REPORT";
    ViewBag.Active = "Reports";
    ViewBag.Open = "MIS-REPORT";
    ViewBag.Panel = "Reports";
    ViewData["Title"] = "MIS-REPORT";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script src="~/Content/zingchart.min.js"></script>
<style>
    zing-grid[loading] {
        height: 200px;
    }
</style>


<div class="panel-body">
    <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>MIS REPORT</strong></h3>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="OfficeId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                    <option>---Select Office---</option>
                                                </select>
                                            </div>
                                            @*<input asp-for="OfficeId" type="hidden" />*@
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <br />
                    }
                    <div class="row">
                        &nbsp;
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="FromDate"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required style="width:155px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ToDate"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required style="width:155px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ClientId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientList">
                                                <option value="">---Select Client---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-success" onclick="ViewRecord();"><i class="fa fa-eye"> View</i></button>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <div id="chartContainer1" style="height: 400px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/jquery-1.11.1.min.js"></script>
<script src="~/Content/jquery.canvasjs.min.js"></script>
<script src="~/Content/canvasjs.min.js"></script>



<script type="text/javascript">
    function ViewRecord() {
        var ClientID = $('#ClientId').val();
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        if (FromDate == "") {
            alert('Please Select Date');
            return false;
        }
        if (ToDate == "") {
            alert('Please Select Date');
            return false;
        }
        getemployeewisedata();
    }


    function getemployeewisedata() {
        var OfficeId = $('#OfficeId').val();
        var ClientID = $('#ClientId').val();
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        if (FromDate == "") {
            alert('Please Select Date');
            return false;
        }
        if (ToDate == "") {
            alert('Please Select Date');
            return false;
        }
        $.ajax({
            type: 'Post',
            url: "/Timesheet/GetHRsheetGraphEmployeewise",
            dataType: "json",
            async: false,
            data: { 'ClientId': ClientID, 'FromDate': FromDate, 'ToDate': ToDate, 'OfficeId': OfficeId },
            success: function (data) {
                debugger;
                console.log(data);
                //var theInstructions = '' + data + '';
                var theInstructions = data.graphjs;
                var F1 = new Function(theInstructions);
                return (F1());

                //$('#divemployee').show();

                ////document.getElementById('totalspnthr').innerHTML = data.totaltime;
                //document.getElementById('totalspnthrEmp').innerHTML = data.totaltime;
                ////document.getElementById('totalspnthrClient').innerHTML = data.totaltime;

                //if (data.graphdetails.length > 0) {

                //    var str = " <table class='table table-striped table-bordered table-hover table-checkable order-column1 id='sample_1'><thead><tr><th style='width: 70%;'>Employee Name </th><th>Hours</th></tr></thead><tbody>";
                //    for (i = 0; i < data.graphdetails.length; i++) {
                //        str += '<tr><td text-aligh="left">' + data.graphdetails[i].Text + ' </td><td> ' + data.graphdetails[i].Value + '</td></tr> ';
                //    }
                //    str += '</tbody><tfoot><tr><td> <b>Total </b> </td> <td>' + data.totaltime + '</td></tr></tfoot></table>';
                //} else {
                //    var str = " <table class='table table-striped table-bordered table-hover table-checkable order-column1 id='sample_1'><thead><tr><th>Employee Name </th><th>Hours</th></tr></thead><tbody>";
                //    str += '<tr><td colspan="2"> No Record Found... </td></tr> ';
                //    str += '</tbody></table>';

                //}
                //$('#divempdetails').html(str);


                //var theInstructions17 = data.graphjs;
                //var F17 = new Function(theInstructions17);
                //return (F17());
                ////ChartsAmcharts.init();
            }
        });


        $.ajax({
            type: 'Post',
            url: "/Timesheet/GetHRsheetGraphClientwise",
            dataType: "json",
            async: false,
            data: { 'ClientId': ClientID, 'FromDate': FromDate, 'ToDate': ToDate, 'OfficeId': OfficeId },
            success: function (data) {
                debugger;
                console.log(data);
                //var theInstructions = '' + data + '';
                var theInstructions = data.graphjs;
                var F2 = new Function(theInstructions);
                return (F2());

            }
        });
    }
</script>