﻿@model CoreStructure_APP.Models.Leave_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "HR-Sheet";
    ViewBag.Active = "Reports";
    ViewBag.Open = "HR-Sheet";
    ViewBag.Panel = "Reports";
    ViewData["Title"] = "HR-SHEET";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}
<style>
    .red {
        color: black !important;
    }
</style>

<div class="panel-body">
    <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>HR-SHEET</strong></h3>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            @* <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("FillTimeSheet","TimeSheet") '"><i class="fa fa-list"></i>Fill Timesheet</button>*@
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @*@if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="OfficeId"></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                    <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                        <option>---Select Office---</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            <br />
                        }*@
                    <div class="row">
                        &nbsp;
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="FromDate"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required style="width:155px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ToDate"></label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required style="width:155px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ClientId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientList">
                                                <option value="">---Select Client---</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-success" onclick="ViewRecord();"><i class="fa fa-eye"> View</i></button>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" id="datagrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="Label1" />
            <input type="hidden" id="hd" />
            <asp:Label Visible="false" ID="Label29" runat="server" Text=""></asp:Label>
            <div>
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption" id="IsActivity" style="display:none">
                            <b>Activity</b> <input type="checkbox" onchange="DisplayAct()" id="cheact" class="md-check" />
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#portlet-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body" id="timesheet">
                        <div class="table-responsive">
                            <div id="tbl1"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


<script type="text/javascript">
     function ViewRecord()
     {
         var ClientID = $('#ClientId').val();
         var FromDate = $('#FromDate').val();
         var ToDate = $('#ToDate').val();

        if (FromDate == "")
        {
            alert('Please Select From Date');
            return false;
        }
        if (ToDate == "")
        {
            alert('Please Select To Date');
            return false;
        }
        if (ClientID == "" || ClientID == null)
        {
            ClientID = 0;
        }


        //$('#divLoading').show();
        $.ajax({
            type: 'Post',
            url: '@Url.Action("GetHrSheet", "Timesheet", null)',
            data: { 'ClientId': ClientID, 'FromDate': FromDate, 'ToDate': ToDate},
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                $('#IsActivity').show();
                $('#tbl1').empty();
                $('#tbl1').append(data);
                //$('#divLoading').hide();
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("cheact").checked = false;
    });
    function DisplayAct() {
        if (document.getElementById("cheact").checked) {
            $('.activity').show();
        }
        else {
            $('.activity').hide();
        }
    }
</script>