﻿@model CoreStructure_APP.Models.Leave_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Leave Request";
    ViewBag.Active = "Leave Request";
    ViewBag.Open = "Leave Request";
    ViewBag.Panel = "Leave";
    ViewData["Title"] = "Leave Request";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}


<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>LEAVE REQUEST</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="ShowApplyLeavePopUp()"> Apply Leave </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Name</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Remarks</th>
                                    <th>Days</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int SNo = 0; }
                                @if (ViewBag.LeaveDataList != null)
                                {
                                    foreach (var item in ViewBag.LeaveDataList)
                                    {
                                        { SNo = SNo + 1; }
                                        <tr>
                                            <td>@SNo<span></span></td>
                                            <td>@item.Name</td>
                                            <td>@item.FromDate</td>
                                            <td>@item.ToDate</td>
                                            <td>@item.Remarks</td>
                                            <td>@item.DayCount</td>
                                            <td>@item.LeaveRequestStatus</td>
                                            <td>
                                                @if (item.LeaveRequestStatus == "Pending")
                                                {
                                                    <a class="btn btn-default btn-md btn-rounded" onclick="EditFn('@item.LId');"> <span class="fa fa-pencil"></span> </a>
                                                }
                                            </td>
                                            <td>
                                                @if (item.LeaveRequestStatus == "Pending")
                                                {
                                                    <a class="btn btn-danger btn-md btn-rounded" onclick="DeleteFn('@item.LId');" > <span class="fa fa-trash-o"></span> </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Data Found... </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModalApplyLeave" class="modal fade" tabindex="-1" data-width="100" aria-hidden="true">
    <div class="modal-dialog" style="width:850px !important">
        <div class="modal-content" style="margin-left: 15%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 class="modal-title"><b>Apply Leave</b></h3>
                <input type="hidden" asp-for="UpdateID" />
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" asp-for="FromDate"></label><span style="color: Red;">*</span>
                                    <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required onchange="LeaveValidationFrom(this);" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" asp-for="ToDate"></label><span style="color: Red;">*</span>
                                    <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required onchange="LeaveValidationTo(this);" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" asp-for="Remarks"></label>
                                    <span style="color: Red;">*</span>
                                    <textarea asp-for="Remarks" class="form-control" maxlength="1000" autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" asp-for="NoOfDays"></label><span style="color: Red;">*</span>
                                    <input type="text" asp-for="NoOfDays" class="form-control" maxlength="10" autocomplete="off" disabled="disabled" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="BtnSave" class="btn btn-success" value="Apply" onclick="SaveLeaveRequest()" />
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade-in-up" id="DivLeave" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>Alert!
                </h4>
            </div>
            <div class="modal-body">
                <div class="tabbable-bordered" id="Div6">
                    <div class="form-body">
                        <div class="form-group">
                            <label id="AlertText">
                                Desired date you are already on leave, please select another date !
                            </label>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="BtnClosed" onclick="LeaveClose()" class="btn green" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade-in-up" id="DivTimesheetAlert" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>Alert!
                </h4>
            </div>
            <div class="modal-body">
                <div class="tabbable-bordered" id="Div6">
                    <div class="form-body">
                        <div class="form-group">
                            <label id="AlertText">
                                Desired date timesheet already fill, please select another date timesheet !
                            </label>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="BtnClosed" onclick="AlreadyFillClose()" class="btn green" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade-in-up" id="DivSunday" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>alert!
                </h4>
            </div>
            <div class="modal-body">
                <div class="tabbable-bordered" id="Div6">
                    <div class="form-body">
                        <div class="form-group">
                            <label id="AlertText">
                                This is Sunday!
                            </label>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="BtnSundayYes" onclick="SundayYes()" class="btn green" value="Ok" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade-in-up" id="DivHoliday" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>alert!
                </h4>
            </div>
            <div class="modal-body">
                <div class="tabbable-bordered" id="Div6">
                    <div class="form-body">
                        <div class="form-group">
                            <label id="AlertText">
                                This is : <label id="dayname"></label>
                            </label>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="BtnHoldayYes" onclick="HolidayYes()" class="btn green" value="Ok" />
                @*<button type="button" class="btn dark btn-outline" onclick="window.location.reload();" data-dismiss="modal">No</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade-in-up" id="DivGetNegativValue" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>Alert !
                </h4>
            </div>
            <div class="modal-body">
                <div class="tabbable-bordered" id="Div6">
                    <div class="form-body">
                        <div class="form-group">
                            <label id="AlertText">
                                Leave To Date is Greater than Leave From Date..
                            </label>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="BtnClosedExist" class="btn dark btn-outline" onclick="closeNegativeValueDiv()">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>

<script type="text/javascript">

    function ShowApplyLeavePopUp() {
        clearForm();
        $("#myModalApplyLeave").modal('show');
    }

    function clearForm() {

        $("input[type=text], textarea").val("");
        $("#success-alert").hide();
        $("#UpdateID").val(0);
        $(".alert alert-danger").hide();
    }
</script>

<script type="text/javascript">
    var oldate;
    function LeaveValidationFrom(obj) {
        var date = $(obj).val();
        if (date != oldate) {
            oldate = date;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("LeaveValidation", "Timesheet")',
                data: { 'Date': date },
                contenttype: "application/json; charset=utf-8",
                success: function (response) {
                    if (response == 3) {
                        $("#DivLeave").modal('show');
                    }
                    if (response == 4) {
                        $("#DivTimesheetAlert").modal('show');
                    }
                    else if (response == 1) {
                        $("#DivSunday").modal('show');
                    }
                    else if (response == 2) {
                        GetHolidayName(date);
                    }
                    else {
                        if (date == $("#FromDate").val()) {
                            ChangeEventFromDate();
                        }
                    }

                }
            });
        }

    }

    var oldate1;
    function LeaveValidationTo(obj) {
        var date = $(obj).val();

        if (date != oldate1) {
            oldate1 = date;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("LeaveValidation", "Timesheet")',
                data: { 'Date': date },
                contenttype: "application/json; charset=utf-8",
                success: function (response) {
                    if (response == 3) {
                        $("#DivLeave").modal('show');
                    }
                    if (response == 4) {
                        $("#DivTimesheetAlert").modal('show');
                    }
                    else if (response == 1) {
                        $("#DivSunday").modal('show');
                    }
                    else if (response == 2) {
                        GetHolidayName(date);
                    }
                    else {
                        if (date == $("#ToDate").val()) {
                            ChangeEventToDate();
                        }
                    }
                }
            });
        }
    }

     function SundayYes() {
        $("#FromDate").val(null);
        $("#ToDate").val(null);
        $("#NoOfDays").val(null);
        $("#DivSunday").modal('hide');
        // getTempTimesheetResultList();
    }
     function LeaveClose() {
        $("#FromDate").focus();
        $("#FromDate").val(null);
        $("#ToDate").val(null);
        $("#DivLeave").modal('hide');
    }
     function AlreadyFillClose() {
        //$("#TaskFillTimeSheetDate").focus();
        //$("#TaskFillTimeSheetDate").val("");
        $("#DivTimesheetAlert").modal('hide');
    }
    function HolidayYes() {
        $("#FromDate").val(null);
        $("#ToDate").val(null);
        $("#NoOfDays").val(null);

        $("#DivHoliday").modal('hide');
        // getTempTimesheetResultList();
    }
    function GetHolidayName(date) {
        var holidate = date;
        var oldholidate = "";
        if (holidate != oldholidate) {
            oldholidate = holidate;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetHoldayName", "Timesheet")',
                data: { 'Date': date },
                contenttype: "application/json; charset=utf-8",
                success: function (response) {
                    $("#dayname").html(response);
                    $("#DivHoliday").modal('show');
                }
            });

        }
    }
</script>

<script type="text/javascript">
    var OldFDate, OldTDate;
    function ChangeEventFromDate() {
        var FromDate, ToDate;
        FromDate = $("#FromDate").val();
        ToDate = $("#ToDate").val();
        if (FromDate != OldFDate) {
            OldFDate = FromDate;

            if (FromDate != "" && ToDate != "") {
                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("GetLeaveCount", "Timesheet", null)',
                    data: { 'FromDate': FromDate, 'ToDate': ToDate, },
                    contenttype: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data > 0) {
                            $("#NoOfDays").val(data);
                        }
                        else {
                            $("#DivGetNegativValue").show();
                        }
                    }
                });
            }
        }
    }

    function ChangeEventToDate() {
        var FromDate, ToDate;
        FromDate = $("#FromDate").val();
        ToDate = $("#ToDate").val();
        if (ToDate != OldTDate) {
            OldTDate = ToDate;
            if (FromDate != "" && ToDate != "") {
                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("GetLeaveCount", "Timesheet", null)',
                    data: { 'FromDate': FromDate, 'ToDate': ToDate, },
                    contenttype: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data > 0) {

                            $("#NoOfDays").val(data);
                        }
                        else {
                            $("#DivGetNegativValue").show();

                        }
                    }
                });
            }
        }
    }

    function closeNegativeValueDiv() {
        $("#DivGetNegativValue").hide();
        $("#FromDate").val(null);
        $("#ToDate").val(null);
        $("#NoOfDays").val('');
        $("#FromDate").focus();
    }

    function SaveLeaveRequest() {
        var UpdateID = $("#UpdateID").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var Remarks = $("#Remarks").val();
        var DayCount = $("#NoOfDays").val();
        if (FromDate == "") {
            alert('Please Fill from Date');
            $("#FromDate").focus();
            return false;
        }
        else if (ToDate == "") {
            alert('Please Fill To Date');
            $("#ToDate").focus();
            return false;
        }
        else if (Remarks == "") {
            alert('Please Fill Remark');
            $("#Remarks").focus();
            return false;
        }
        else if (DayCount == "") {
            alert('No of Days is blanck please change date');
            $("#FromDate").focus();
            return false;
        }
        else if (UpdateID == '' || UpdateID == null) {
            UpdateID = 0;
        }
        else {
            //alert(FromDate + ',' + ToDate + ',' + Remarks + ',' + DayCount + ',' + UpdateID);
            $.ajax({
                type: 'post',
                url: '@Url.Action("SaveLeaveRequest","Timesheet",null)',
                data: { 'FromDate': FromDate, 'ToDate': ToDate, 'Remarks': Remarks, 'DayCount': DayCount, 'UpdateID': UpdateID },
                contenttype: "application/json;charser=utf-8",
                success: function (data) {
                    if (data == "1") {
                        alert("Leave request sent successfully");
                        window.location.reload();
                        //$("#myModalApplyLeave").hide();
                    }
                    else if (data == "2") {
                        alert("Leave Update successfully");
                        window.location.reload();
                    }
                    else if (data == "3") {
                        alert('desired date leave already exist');
                        //$("#myModalApplyLeave").modal('hide');
                    }
                }
            });
        }

    }
</script>

<script type="text/javascript">
    function EditFn(e) {
        $('#UpdateID').val(e);
        var ID = e;
        $.ajax({
            type: 'Post',
            url: '@Url.Action("EditLeaveDetails", "Timesheet", null)',
            data: { 'ID': ID },
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                $("#myModalApplyLeave").modal('show');
                $('#FromDate').val(data.fromDate);
                $('#ToDate').val(data.toDate);
                $('#Remarks').val(data.remarks);
                $('#NoOfDays').val(data.dayCount);
                $('#UpdateID').val(data.lId);
            }
        });
    }
    function DeleteFn(ID) {
        var check = confirm("Are you sure you want to Delete?");
        if (check == true) {
            $.ajax({
                type: 'Post',
                url: '@Url.Action("DeleteLeaveRequestByID", "Timesheet", null)',
                data: { 'ID': ID },
                contenttype: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == 1) {
                        alert('Leave Deleted Successfully');
                        window.location.reload();
                    }
                }
            });
        }
        else
        {
            return false;
        }
    }
</script>