﻿
@model CoreStructure_APP.Models.Filltimesheet_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Fill TimeSheet";
    ViewBag.Active = "TimeSheet";
    ViewBag.Open = "TimeSheet";
    ViewBag.Panel = "TimeSheet";
    ViewData["Title"] = "TimeSheet";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<link href="~/CalendarContent/packages/core/main.css" rel="stylesheet" />
<link href="~/CalendarContent/packages/daygrid/main.css" rel="stylesheet" />
<link href="~/CalendarContent/packages/timegrid/main.css" rel="stylesheet" />
<link href="~/CalendarContent/packages/list/main.css" rel="stylesheet" />
<script src="~/CalendarContent/packages/core/main.js"></script>
<script src="~/CalendarContent/packages/interaction/main.js"></script>
<script src="~/CalendarContent/packages/daygrid/main.js"></script>
<script src="~/CalendarContent/packages/timegrid/main.js"></script>
<script src="~/CalendarContent/packages/list/main.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar1');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            defaultDate: '2020-06-02',
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: true,
            events: [
                {
                    title: 'Business Lunch',
                    start: '2020-05-03T13:00:00',
                    constraint: 'businessHours',
                    url: 'javascript:filltimesheet("2020-06-01")'
                },
                {
                    title: 'Meeting',
                    start: '2020-05-13T11:00:00',
                    constraint: 'availableForMeeting', // defined below
                    color: '#257e4a'
                },
                {
                    title: 'Conference',
                    start: '2020-05-18',
                    end: '2020-05-20'
                },
                {
                    title: 'Party',
                    start: '2020-05-29T20:00:00'
                },

                // areas where "Meeting" must be dropped
                {
                    groupId: 'availableForMeeting',
                    start: '2020-05-11T10:00:00',
                    end: '2020-05-11T16:00:00',
                    rendering: 'background'
                },
                {
                    groupId: 'availableForMeeting',
                    start: '2020-05-13T10:00:00',
                    end: '2020-05-13T16:00:00',
                    rendering: 'background'
                },

                // red areas where no events can be dropped
                {
                    start: '2020-05-24',
                    end: '2020-05-28',
                    overlap: false,
                    rendering: 'background',
                    color: '#ff9f89'
                },
                {
                    start: '2020-05-06',
                    end: '2020-05-08',
                    overlap: false,
                    rendering: 'background',
                    color: '#ff9f89'
                }
            ]
        });

        calendar.render();
    });

</script>
<style>

    /*body {
        margin: 40px 10px;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }*/

    #calendar1 {
        max-width: 900px;
        margin: 0 auto;
    }
</style>


<div class="row">
    <div class="form-body col-md-12">
        <div id='calendar1'></div>
    </div>
</div>