﻿@model CoreStructure_APP.Models.Filltimesheet_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "View TimeSheet";
    ViewBag.Active = "TimeSheet";
    ViewBag.Open = "View TimeSheet";
    ViewBag.Panel = "TimeSheet";
    ViewData["Title"] = "TimeSheet";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}
<div class="panel-body">
    <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
        @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>VIEW TIMESHEET</strong></h3>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("FillTimeSheet","TimeSheet") '"><i class="fa fa-list"></i>Fill Timesheet</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        &nbsp;
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label> From Date</label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" id="fromDate" class="form-control" maxlength="100" autocomplete="off" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>To Date</label><span class="red">*</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" id="toDate" class="form-control" maxlength="100" autocomplete="off" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-success" onclick="GetViewTimesheetData();"><i class="fa fa-eye"> View</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="datagrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function GetViewTimesheetData() {
        var fDate = $('#fromDate').val();
        var tDate = $('#toDate').val();
        if (fDate == "" || fDate == null) {
            alert('Please Select Start Date...!');
        }
        else if (tDate == "" || tDate == null) {
            alert('Please Select End Date...!');
        }
        else {
            $.ajax({
            type: 'Post',
            url: '@Url.Action("GetTimesheetSelfData", "Timesheet", null)',
            data: { 'fromDate': fDate, 'toDate': tDate },
            contenttype: "application/json; charset=utf-8",
            success: function (data) {

                $('#datagrid').html(data);
                $('#sample_1').dataTable({});
            }
        });
        }
    }
</script>