﻿@model CoreStructure_APP.Models.UpcomingPolicy
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Upcoming Policy Report";
    ViewBag.Active = "UpcomingPolicyReport";
    ViewBag.Open = "Upcoming Policy Report";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}


<script type="text/javascript">
    function GetFiltervalueforexport() {
        var OfficeId = $('#OfficeId').val();
        $('#hdOfficeId').val(OfficeId);
        var DaysId = $('#DaysId').val();
        $('#hdDaysId').val(DaysId);
        $('#formdata').submit();
    }
</script>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Upcoming Policy</strong></h3>
                        </div>
                        @*<div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageQuery","Query") '"><i class="fa fa-list"></i> Query List</button>
                            </div>*@
                    </div>
                </div>
                <div class="panel-body">

                    <form id="formQuery" asp-controller="Report" asp-action="AdminUpcomingPolicy" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="OfficeId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                    <option>---Select Type---</option>
                                                </select>
                                            </div>
                                            <input asp-for="Office" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="DaysId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="DaysId" class="form-control">
                                                    <option value="0">---Please Select---</option>
                                                    <option value="30">30</option>
                                                    <option value="45">45</option>
                                                    <option value="60">60</option>
                                                </select>
                                            </div>
                                            <input asp-for="Days" type="hidden" />
                                        </div>
                                    </div>
                                </div>

                                &nbsp;
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save">View</i></button>
                                @*<button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("AddQuery", "Query")'"><i class="fa fa-refresh"></i> Reset</button>*@
                            </div>
                        </div>
                        <br />
                    </form>
                    <form method="post" id="formdata" asp-controller="Report" asp-action="ExcelAdminUpcomingPolicy" enctype="multipart/form-data">
                        @Html.HiddenFor(x => x.hdDaysId)
                        @Html.HiddenFor(x => x.hdOfficeId)
                        <div class="row">
                            <div class="col-md-12" style="padding-top:10px;text-align:right;padding-right:75px">
                                <button type="button" onclick="GetFiltervalueforexport()">Export To Excel</button>
                            </div>
                        </div>
                        <br />
                        <div id="dvData"></div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Policy No</th>
                                        <th>Policy Date</th>
                                        <th>PH Name</th>
                                        <th>CP Name</th>
                                        <th>Ins Co</th>
                                        <th>Issuing Office</th>
                                        <th>Premium</th>
                                        <th>Category</th>
                                        <th>Product</th>
                                        <th>Subject Insured</th>
                                        <th>Cost Center</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.UpcomingPolicyList != null)
                                    {
                                        foreach (var item in ViewBag.UpcomingPolicyList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.PolicyNo</td>
                                                <td>@item.ExpiryDate</td>
                                                <td>@item.Policyholdername</td>
                                                <td>@item.ContactPersonName</td>
                                                <td>@item.InsCompany</td>
                                                <td>@item.IssuingOfc</td>
                                                <td>@item.PremiumPayable</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.SubjectInsured</td>
                                                <td>@item.CostCenterName</td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>
