﻿@model CoreStructure_APP.Models.PolicyReport
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Policy Report";
    ViewBag.Active = "PolicyReport";
    ViewBag.Open = "Policy Report";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}


<script type="text/javascript">
    function BindIssuingOfc() {
        var InsCo = $('#InsuranceCompanyId').val();
        $('#IssuingOfficeId').empty().append(" <option value=''>---Select Issuing Office---</option>");
        $.ajax({
            url: "/Report/GetIssuingOfcListbyInsCoIdAdmin",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'InsuranceCompanyId': InsCo },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {

                    if (data.results != '' || data.results != null);
                    {
                        for (i = 0; i < data.results.length; i++) {
                            $('#IssuingOfficeId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                        }
                    }
                    else {
                    $('#IssuingOfficeId').val(0);
                }
            }
        }
        });
    }

    function ViewPolicyReport() {
        var TypeId = $('#TypeId').val();
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        var ContactPersonId = $('#ContactPersonId').val();
        var CategoryId = $('#CategoryId').val();
        var InsuranceCompanyId = $('#InsuranceCompanyId').val();
        var IssuingOfficeId = $('#IssuingOfficeId').val();
        var ProductId = $('#ProductId').val();
        var GroupId = $('#GroupId').val();
        var PolicyStatusId = $('#PolicyStatusId').val();
        $.ajax({
            url: "/Report/ViewPolicyReport",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'TypeId': TypeId, 'FromDate': FromDate, 'ToDate': ToDate, 'ContactPersonId': ContactPersonId, 'CategoryId': CategoryId, 'InsuranceCompanyId': InsuranceCompanyId, 'IssuingOfficeId': IssuingOfficeId, 'ProductId': ProductId, 'GroupId': GroupId, 'PolicyStatusId': PolicyStatusId },
            success: function (data) {
                if (data.results) {

                    alert(data.results);
                    //for (i = 0; i < data.results.length; i++) {
                    //    $('#IssuingOfficeId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    //}

                }
            }
        });
    }
</script>
<script type="text/javascript">
    function GetFiltervalueforexport() {
        var OfficeId = $('#Officeid').val();
        $('#hdOfficeid').val(OfficeId);
        var TypeId = $('#TypeId').val();
        $('#HdTypeId').val(TypeId);
        var FromDate = $('#FromDate').val();
        $('#hdfromdate').val(FromDate);
        var ToDate = $('#ToDate').val();
        $('#hdtodate').val(ToDate);
        var ContactPersonId = $('#ContactPersonId').val();
        $('#hdContactPersonId').val(ContactPersonId);
        var CategoryId = $('#CategoryId').val();
        $('#hdCategoryId').val(CategoryId);
        var InsuranceCompanyId = $('#InsuranceCompanyId').val();
        $('#hdInsuranceCompanyId').val(InsuranceCompanyId);
        var IssuingOfficeId = $('#IssuingOfficeId').val();
        $('#hdIssuingOfficeId').val(IssuingOfficeId);
        var ProductId = $('#ProductId').val();
        $('#hdProductId').val(ProductId);
        var GroupId = $('#GroupId').val();
        $('#hdGroupId').val(ProductId);
        var PolicyStatus = $('#PolicyStatus').val();
        $('#hdPolicyStatusId').val(PolicyStatus);

        $('#formdata').submit();
    }
</script>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Policy Report</strong></h3>
                        </div>
                        @*<div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageQuery","Query") '"><i class="fa fa-list"></i> Query List</button>
                            </div>*@
                    </div>
                </div>
                <div class="panel-body">

                    <form id="formQuery" asp-controller="Report" asp-action="AdminPolicyReport" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Officeid"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="Officeid" class="form-control" asp-items="ViewBag.OfficeList">
                                                    <option>---Select Type---</option>
                                                </select>
                                            </div>
                                            <input asp-for="Office" type="hidden" />
                                        </div>
                                    </div>
                                </div>

                                &nbsp;
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="TypeId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeList">
                                                    <option>---Select Type---</option>
                                                </select>
                                            </div>
                                            <input asp-for="TypeName" type="hidden" />
                                        </div>
                                    </div>
                                </div>

                                &nbsp;
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FromDate"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="FromDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ToDate"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ToDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                                                    <option>---Select Category---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CategoryName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="InsuranceCompanyId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyList" onchange="BindIssuingOfc()">
                                                    <option>---Select Insurance Company---</option>
                                                </select>
                                            </div>
                                            <input asp-for="InsuranceCompanyName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="IssuingOfficeId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="IssuingOfficeId" class="form-control" asp-items="ViewBag.IssuingOfficeList">
                                                    <option value="0">---Select Issuing Office---</option>
                                                </select>
                                            </div>
                                            <input asp-for="IssuingOfficeName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ProductId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductList">
                                                    <option>---Select Product---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ProductName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="GroupId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                                    <option>---Select Group---</option>
                                                </select>
                                            </div>
                                            <input asp-for="GroupName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PolicyStatusId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="PolicyStatusId" class="form-control" asp-items="ViewBag.PolicyStatusList">
                                                    <option value="0">---Select Policy Status---</option>
                                                    <option value="1">Underwritten</option>
                                                    <option value="2">Generated</option>
                                                </select>
                                            </div>
                                            <input asp-for="PolicyStatus" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success" onclick="ViewPolicyReport()"><i class="fa fa-save">View</i></button>
                                @*<button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("AddQuery", "Query")'"><i class="fa fa-refresh"></i> Reset</button>*@
                            </div>
                        </div>
                        <br />
                    </form>

                    <form method="post" id="formdata" asp-controller="Report" asp-action="ExcelAdminPolicyReport" enctype="multipart/form-data">
                        @Html.HiddenFor(x => x.HdTypeId)
                        @Html.HiddenFor(x => x.hdfromdate)
                        @Html.HiddenFor(x => x.hdtodate)
                        @Html.HiddenFor(x => x.hdContactPersonId)
                        @Html.HiddenFor(x => x.hdCategoryId)
                        @Html.HiddenFor(x => x.hdInsuranceCompanyId)
                        @Html.HiddenFor(x => x.hdIssuingOfficeId)
                        @Html.HiddenFor(x => x.hdProductId)
                        @Html.HiddenFor(x => x.hdGroupId)
                        @Html.HiddenFor(x => x.hdPolicyStatusId)
                        @Html.HiddenFor(x => x.hdOfficeid)
                        <div class="row">
                            <div class="col-md-12" style="padding-top:10px;text-align:right;padding-right:75px">
                                <button type="button" onclick="GetFiltervalueforexport()">Export To Excel</button>
                            </div>
                        </div>
                        <br />
                        <div id="dvData"></div>
                    </form>
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Policy Holder Name</th>
                                            <th>Contact Person Name</th>
                                            <th>Policy</th>
                                            <th>Insurance Company</th>
                                            <th>Policy No.</th>
                                            <th>Expiry Date</th>
                                            <th>Premium</th>
                                            <th>GST</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int SNo = 0; }
                                        @if (ViewBag.PolicyList != null)
                                        {
                                            foreach (var item in ViewBag.PolicyList)
                                            {
                                                { SNo = SNo + 1; }
                                                <tr>
                                                    <td>@SNo<span></span></td>
                                                    <td>@item.PolicyHolderName</td>
                                                    <td>@item.ContactPersonName</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.InsuranceCompanyName</td>
                                                    <td>@item.PolicyNo</td>
                                                    <td>@item.ExpiryDate</td>
                                                    <td>@item.Premium</td>
                                                    <td>@item.GST</td>
                                                    <td>@item.PolicyStatusName</td>
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">No Data Found... </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>

