﻿
@model CoreStructure_APP.Models.DailyBusiness
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Daily Business";
    ViewBag.Active = "Daily Business";
    ViewBag.Open = "Daily Business";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<style type="text/css">
    .DTS .table-scrollable, .table-scrollable.table-scrollable-borderless, .table-scrollable > .table-bordered {
        border: 1px solid #ddd !important;
    }
</style>


<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Daily Business</strong></h3>
                        </div>
                        @*<div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageQuery","Query") '"><i class="fa fa-list"></i> Query List</button>
                            </div>*@
                    </div>
                </div>
                <div class="panel-body">

                    <form id="formQuery" asp-controller="Report" asp-action="AdminDailyBusiness" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label asp-for="OfficeId"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                    <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                        <option>---Select Type---</option>
                                                    </select>
                                                </div>
                                                <input asp-for="Office" type="hidden" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label asp-for="FromDate"></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="FromDate" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label asp-for="ToDate"></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                                <span asp-validation-for="ToDate" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <br />
                            <div class="col-md-10">

                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save">View</i></button>
                                @*<button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("AddQuery", "Query")'"><i class="fa fa-refresh"></i> Reset</button>*@
                            </div>
                        </div>
                        <br />
                    </form>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h3>Insurance Company Wise</h3>
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Insurance Company</th>
                                            <th>Premium in Rs</th>
                                            <th>Percent(%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int SNo = 0; decimal Total = 0; decimal Total1 = 0;}
                                        @if (ViewBag.DailyBusinessData != null)
                                        {
                                            foreach (var item in ViewBag.DailyBusinessData)
                                            {
                                                { SNo = SNo + 1; }
                                                <tr>
                                                    <td>@SNo<span></span></td>
                                                    <td>@item.InsCo</td>
                                                    <td>
                                                        @item.PremiumPayable
                                                        @{Total = Total + Convert.ToDecimal(item.PremiumPayable);}
                                                    </td>
                                                    <td>@item.Percentage</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">No Data Found... </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th style="text-align:right">Total:</th>
                                            <th> @Total</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h3>Category Wise</h3>
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Category</th>
                                            <th>Premium in Rs</th>
                                            <th>Percent(%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int SNo1 = 0; }
                                        @if (ViewBag.DailyBusinessData1 != null)
                                        {
                                            foreach (var item in ViewBag.DailyBusinessData1)
                                            {
                                                { SNo1 = SNo1 + 1; }
                                                <tr>
                                                    <td>@SNo1<span></span></td>
                                                    <td>@item.Category</td>
                                                    <td>
                                                        @item.PremiumPayable
                                                        @{Total1 = Total1 + Convert.ToDecimal(item.PremiumPayable);}
                                                    </td>
                                                    <td>@item.Percentage</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">No Data Found... </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th style="text-align:right">Total:</th>
                                            <th>@Total1</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/datatable/jquery.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#sample_1').DataTable({
            });
        });
    </script>*@


