﻿
@model CoreStructure_APP.Models.DailyBusiness
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Daily Business Client Wise";
    ViewBag.Active = "DailyBusinessClientWise";
    ViewBag.Open = "Daily Business Client Wise";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
@Html.HiddenFor(x=>x.OrderBy)
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Daily Business Client Wise (Underwrite)</strong></h3>
                        </div>
                        @*<div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageQuery","Query") '"><i class="fa fa-list"></i> Query List</button>
                            </div>*@
                    </div>
                </div>
                <div class="panel-body">

                    <form id="formReport" asp-controller="Report" asp-action="AdminDailyBusinessClientWise" method="post" class="form-horizontal" enctype="multipart/form-data">
                        @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label asp-for="OfficeId"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                    <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                        <option>---Select Office---</option>
                                                    </select>
                                                </div>
                                                <input asp-for="Office" type="hidden" />
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            <br />
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="FromDate"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="FromDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="ToDate"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ToDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="ClientId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ContactPersonListWithMobile">
                                                    <option value="0">---Select Client---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ClientName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="OrderBy"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="OrderBy" class="form-control">
                                                    <option value="---Select Type---">---Select Type---</option>
                                                    <option value="Ascending">Ascending</option>
                                                    <option value="Descending">Descending</option>
                                                </select>
                                            </div>
                                            <input asp-for="OrderBy" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save">View</i></button>
                                @*<button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("AddQuery", "Query")'"><i class="fa fa-refresh"></i> Reset</button>*@
                            </div>
                        </div>
                        <br />
                    </form>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Client Name</th>
                                        <th>Premium</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; decimal Total = 0; }
                                    @if (ViewBag.DailyBusinessDataClientWise != null)
                                    {
                                        foreach (var item in ViewBag.DailyBusinessDataClientWise)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.ClientName</td>
                                                <td>
                                                    @item.PremiumPayable
                                                    @{Total = Total + Convert.ToDecimal(item.PremiumPayable);}

                                                </td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th style="text-align:right">Total:</th>
                                        <th>@Total</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
