﻿@model CoreStructure_APP.Models.RenewalReport_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "MIS Report";
    ViewBag.Active = "MISReport";
    ViewBag.Open = "MIS Report";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "MIS Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script src="~/Content/zingchart.min.js"></script>
<style>
    zing-grid[loading] {
        height: 200px;
    }
</style>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>MIS Report</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Officeid"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="Officeid" class="form-control" asp-items="ViewBag.OfficeList">
                                                    <option>---Select Office---</option>
                                                </select>
                                            </div>
                                            <input asp-for="Office" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <br />
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="FromDate"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                        </div>
                                        <span asp-validation-for="FromDate" class="alert-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label asp-for="ToDate"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" />
                                        </div>
                                        <span asp-validation-for="ToDate" class="alert-danger"></span>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save" onclick="GetMISReport()">View</i></button>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <div id="chartContainer1" style="height: 400px; width: 100%;"></div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/jquery-1.11.1.min.js"></script>
<script src="~/Content/jquery.canvasjs.min.js"></script>
<script src="~/Content/canvasjs.min.js"></script>

<script type="text/javascript">

    function GetMISReport() {
        GetMISReportForCompanywise();
        GetMISReportForCategoryWise();
    }

    function GetMISReportForCompanywise() {
        var Office = $('#Officeid').val();
        var fDate = $('#FromDate').val();
        var tDate = $('#ToDate').val();

        $.ajax({
            type: 'Post',
            url: "/Report/AdminGetMISReport",
            dataType: "json",
            async: false,
            data: { 'Office': Office, 'fDate': fDate, 'tDate': tDate },
            success: function (data) {

                var theInstructions = '' + data.compWiseChart + '';
                var F = new Function(theInstructions);
                return (F());
            }
        });
    }

    function GetMISReportForCategoryWise() {
        var Office = $('#Officeid').val();
        var fDate = $('#FromDate').val();
        var tDate = $('#ToDate').val();

        $.ajax({
            type: 'Post',
            url: "/Report/AdminGetMISReport",
            dataType: "json",
            async: false,
            data: { 'Office': Office, 'fDate': fDate, 'tDate': tDate },
            success: function (data) {

                var theInstructions1 = '' + data.categoryWiseChart + '';
                var F1 = new Function(theInstructions1);
                return (F1());
            }
        });
    }
</script>

