﻿
@model CoreStructure_APP.Models.DailyBusiness
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Daily Business Date Wise";
    ViewBag.Active = "Daily Business Date Wise";
    ViewBag.Open = "Daily Business Date Wise";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript">
    function ViewAdminDailyBusinessDayWise() {
        var officeId = $('#OfficeId').val();
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        $.ajax({
            url: "/Report/AdminDailyBusinessDayWiseByfilter",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'officeId': officeId, 'fromDate': fromDate, 'toDate': toDate },
            success: function (data) {

                console.log(data);

                $('#Total').text(data.totalAmt);
                $('#Grid').html(data.queryData);
                $('#ComActive').html(data.queryData);
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("cheact").checked = false;
    });
    function DisplayAct() {
        if (document.getElementById("cheact").checked == true && document.getElementById("cheact1").checked == false) {
            $('.InsCo').show();
            $('.Category').hide();
            $('.Catwise').hide();
        }
        else if (document.getElementById("cheact").checked == true && document.getElementById("cheact1").checked == true) {
            $('.InsCo').show();
            $('.Category').show();
            $('.Catwise').hide();
        }
        else if (document.getElementById("cheact").checked == false && document.getElementById("cheact1").checked == true) {
            $('.Catwise').show();
            $('.InsCo').hide();
            $('.Category').hide();
            $('.cat1').show();
        }
        else {
            $('.InsCo').hide();
            $('.Catwise').hide();
            $('.Category').hide();
        }
    }

    function DisplayAct1() {
        if (document.getElementById("cheact1").checked) {
            $('.Category').show();
        }
        else {
            $('.Category').hide();
        }
    }
</script>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Daily Business Date Wise(Underwrite)</strong></h3>
                        </div>
                        @*<div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageQuery","Query") '"><i class="fa fa-list"></i> Query List</button>
                            </div>*@
                    </div>
                </div>
                <div class="panel-body">

                    @*<form id="formQuery" asp-controller="Report" asp-action="AdminDailyBusinessDayWise" method="post" class="form-horizontal" enctype="multipart/form-data">*@
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label asp-for="OfficeId"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                            <select asp-for="OfficeId" class="form-control" asp-items="ViewBag.OfficeList">
                                                <option>---Select Type---</option>
                                            </select>
                                        </div>
                                        <input asp-for="Office" type="hidden" />
                                    </div>
                                </div>
                            </div>

                            &nbsp;
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label asp-for="FromDate"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" required />
                                        </div>
                                        <span asp-validation-for="FromDate" class="alert-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label asp-for="ToDate"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" required />
                                        </div>
                                        <span asp-validation-for="ToDate" class="alert-danger"></span>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save" onclick="ViewAdminDailyBusinessDayWise()">View</i></button>
                            @*<button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("AddQuery", "Query")'"><i class="fa fa-refresh"></i> Reset</button>*@
                        </div>
                    </div>
                    <br />
                    @*</form>*@
                    <div class="row">
                        <div class="col-md-12">
                            Insurance Company&nbsp;&nbsp;<input type="checkbox" onchange="DisplayAct()" id="cheact" class="md-check">
                            Category Wise&nbsp;&nbsp;<input type="checkbox" onchange="DisplayAct()" id="cheact1" class="md-check"><br /><br />
                            <b>Total Premium Between Date</b>:-<label id="Total"></label><br />
                            @*<label id="Grid"></label>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="ComActive">

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


