﻿@model CoreStructure_APP.Models.ClaimReport
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Claim Report";
    ViewBag.Active = "ClaimReport";
    ViewBag.Open = "Claim Report";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}
<script type="text/javascript">
    function GetFiltervalueforexport() {
        var PolicyNo = $('#PolicyNo').val();
        $('#hdPolicyNo').val(PolicyNo);
        var ContactPersonId = $('#ContactPersonId').val();
        $('#hdContactPersonId').val(ContactPersonId);
        var PolicyholderId = $('#PolicyholderId').val();
        $('#hdPolicyholderId').val(PolicyholderId)
        $('#formdata').submit();
    }
</script>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Claim Report</strong></h3>
                        </div>
                        @*<div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageQuery","Query") '"><i class="fa fa-list"></i> Query List</button>
                            </div>*@
                    </div>
                </div>
                <div class="panel-body">

                    <form id="formQuery" asp-controller="Report" asp-action="ClaimReport" method="post" class="form-horizontal" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="PolicyNo"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="PolicyNo" class="form-control" asp-items="ViewBag.PolicyNoList">
                                                    <option>---Select Type---</option>
                                                </select>
                                            </div>
                                            <input asp-for="PolicyNo" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Type---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPerson" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="PolicyholderId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="PolicyholderId" class="form-control" asp-items="ViewBag.PolicyHolderList">
                                                    <option>---Select Type---</option>
                                                </select>
                                            </div>
                                            <input asp-for="PolicyholderName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">

                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save">View</i></button>
                                @*<button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("AddQuery", "Query")'"><i class="fa fa-refresh"></i> Reset</button>*@
                            </div>
                        </div>
                        <br />
                    </form>

                    <form method="post" id="formdata" asp-controller="Report" asp-action="ExcelClaimReport" enctype="multipart/form-data">
                        @Html.HiddenFor(x => x.hdPolicyNo)
                        @Html.HiddenFor(x => x.hdContactPersonId)
                        @Html.HiddenFor(x => x.hdPolicyholderId)
                        <div class="row">
                            <div class="col-md-12" style="padding-top:10px;text-align:right;padding-right:75px">
                                <button type="button" onclick="GetFiltervalueforexport()">Export To Excel</button>
                            </div>
                        </div>
                        <br />
                        <div id="dvData"></div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th>S. No.</th>
                                                <th>Date</th>
                                                <th>Policy Holder Name</th>
                                                <th>PatientName</th>
                                                <th>Contact Person</th>
                                                <th>Policy No</th>
                                                <th>Policy Date</th>
                                                <th>Expiry Date</th>
                                                <th>Claim Intimation</th>
                                                <th>Surveyor</th>
                                                <th>Category (Cashless/Reim)</th>
                                                <th>Ins Co.</th>
                                                <th>TP Name</th>
                                                <th>Lodge Amount</th>
                                                <th>Amount Settled</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int SNo = 0; }
                                            @if (ViewBag.ClaimStatusList != null)
                                            {
                                                foreach (var item in ViewBag.ClaimStatusList)
                                                {
                                                    { SNo = SNo + 1; }
                                                    <tr>
                                                        <td>@SNo<span></span></td>
                                                        <td>@item.UnderwriteDate</td>
                                                        <td>@item.PolicyholderName</td>
                                                        <td>@item.PatientName</td>
                                                        <td>@item.ContactPerson</td>
                                                        <td>@item.PolicyNo</td>
                                                        <td>@item.PolicyDate</td>
                                                        <td>@item.ExpiryDate</td>
                                                        <td>@item.ClaimDate</td>
                                                        <td>@item.TPName</td>
                                                        <td>@item.CategoryName</td>
                                                        <td>@item.InsCo</td>
                                                        <td>@item.TPName</td>
                                                        <td>@item.ClaimAmount</td>
                                                        <td>@item.SettleAmount</td>
                                                        <td>@item.ClaimStatus</td>
                                                    </tr>

                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="7">No Data Found... </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>