﻿@model CoreStructure_APP.Models.RenewalReport_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Renewal Report";
    ViewBag.Active = "RenewalReport";
    ViewBag.Open = "Renewal Report";
    ViewBag.Panel = "Report";
    ViewData["Title"] = "Renewal Report";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script type="text/javascript">
    //function BindIssuingOfc() {
    //    var InsCo = $('#InsuranceCompanyId').val();
    //    $('#IssuingOfficeId').empty().append(" <option value=''>---Select Issuing Office---</option>");
    //    $.ajax({
    //        url: "/Report/GetIssuingOfcListbyInsCoIdAdmin",
    //        type: "POST",
    //        dataType: "json",
    //        async: false,
    //        data: { 'InsuranceCompanyId': InsCo },
    //        success: function (data) {
    //            //console.log(data);
    //            //alert(data.results);
    //            if (data.results) {

    //                if (data.results != '' || data.results != null);
    //                {
    //                    for (i = 0; i < data.results.length; i++) {
    //                        $('#IssuingOfficeId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
    //                    }
    //                }
    //                else {
    //                $('#IssuingOfficeId').val(0);
    //            }
    //        }
    //    }
    //    });
    //}

    //function ViewPolicyReport() {
    //    var TypeId = $('#TypeId').val();
    //    var FromDate = $('#FromDate').val();
    //    var ToDate = $('#ToDate').val();
    //    var ContactPersonId = $('#ContactPersonId').val();
    //    var CategoryId = $('#CategoryId').val();
    //    var InsuranceCompanyId = $('#InsuranceCompanyId').val();
    //    var IssuingOfficeId = $('#IssuingOfficeId').val();
    //    var ProductId = $('#ProductId').val();
    //    var GroupId = $('#GroupId').val();
    //    var PolicyStatusId = $('#PolicyStatusId').val();
    //    $.ajax({
    //        url: "/Report/ViewPolicyReport",
    //        type: "POST",
    //        dataType: "json",
    //        async: false,
    //        data: { 'TypeId': TypeId, 'FromDate': FromDate, 'ToDate': ToDate, 'ContactPersonId': ContactPersonId, 'CategoryId': CategoryId, 'InsuranceCompanyId': InsuranceCompanyId, 'IssuingOfficeId': IssuingOfficeId, 'ProductId': ProductId, 'GroupId': GroupId, 'PolicyStatusId': PolicyStatusId },
    //        success: function (data) {
    //            if (data.results) {

    //                alert(data.results);
    //                //for (i = 0; i < data.results.length; i++) {
    //                //    $('#IssuingOfficeId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
    //                //}

    //            }
    //        }
    //    });
    //}

    function BindContactPerson() {
        var Office = $('#Officeid').val();
        $('#ContactPersonId').empty().append(" <option value=''>---Select Contact Person---</option>");
        $.ajax({
            url: "/Report/GetContactPersonByOfficeId",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'OfficeId': Office },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {
                    if (data.results != '' || data.results != null);
                    {
                        for (i = 0; i < data.results.length; i++) {
                            $('#ContactPersonId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                        }
                    }
                }
            }
        });
    }
</script>
<script type="text/javascript">
    function GetFiltervalueforexport() {
        var OfficeId = $('#Officeid').val();
        $('#hdOfficeid').val(OfficeId);
        var FromDate = $('#FromDate').val();
        $('#hdFromDate').val(FromDate);
        var ToDate = $('#ToDate').val();
        $('#hdToDate').val(ToDate);
        var ContactPersonId = $('#ContactPersonId').val();
        $('#hdContactPersonId').val(ContactPersonId)
        var PolicyNo = $('#PolicyNo').val();
        $('#hdPolicyNo').val(PolicyNo)
         var RenewalType = $('#RenewalType').val();
        $('#hdRenewalType').val(RenewalType)
        $('#formdata').submit();
    }
</script>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Renewal Report</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form id="formQuery" asp-controller="Report" asp-action="RenewalReport" method="post" class="form-horizontal" enctype="multipart/form-data">
                        @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1")
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="Officeid"></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                    <select asp-for="Officeid" class="form-control" asp-items="ViewBag.OfficeList">
                                                        <option>---Select Office---</option>
                                                    </select>
                                                </div>
                                                <input asp-for="Office" type="hidden" />
                                                <input asp-for="RenewalType" type="hidden" />
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                            <br />
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FromDate"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                            <span asp-validation-for="FromDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ToDate"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                            <span asp-validation-for="ToDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonName" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PolicyNo"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <input asp-for="PolicyNo" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save">View</i></button>
                                @*<button type="reset" class="btn btn-warning" value="" onclick="location.href = '@Url.Action("AddQuery", "Query")'"><i class="fa fa-refresh"></i> Reset</button>*@
                            </div>
                        </div>
                        <br />
                    </form>

                    <form method="post" id="formdata" asp-controller="Report" asp-action="ExcelRenewalReport" enctype="multipart/form-data">
                        @Html.HiddenFor(x => x.hdPolicyNo)
                        @Html.HiddenFor(x => x.hdContactPersonId)
                        @Html.HiddenFor(x => x.hdFromDate)
                        @Html.HiddenFor(x => x.hdToDate)
                        @Html.HiddenFor(x=>x.hdOfficeid)
                        <div class="row">
                            <div class="col-md-12" style="padding-top:10px;text-align:right;padding-right:75px">
                                <button type="button" onclick="GetFiltervalueforexport()">Export To Excel</button>
                            </div>
                        </div>
                        <br />
                        <div id="dvData"></div>
                    </form>
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Policy No</th>
                                            <th>Policy Date</th>
                                            <th>Policy Holder Name</th>
                                            <th>Contact Person Name</th>
                                            <th>Insurance Company</th>
                                            <th>Issuing Office</th>
                                            <th>Premium</th>
                                            <th>Category</th>
                                            <th>Product</th>
                                            <th>Subject Insured</th>
                                            <th>Cost Center</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int SNo = 0; }
                                        @if (ViewBag.PolicyList != null)
                                        {
                                            foreach (var item in ViewBag.PolicyList)
                                            {
                                                { SNo = SNo + 1; }
                                                <tr>
                                                    <td>@SNo<span></span></td>
                                                    <td>@item.PolicyNo</td>
                                                    <td>@item.PolicyDate</td>
                                                    <td>@item.PolicyHolderName</td>
                                                    <td>@item.ContactPersonName</td>
                                                    <td>@item.InsuranceCompanyName</td>
                                                    <td>@item.IssuingOfficeName</td>
                                                    <td>@item.Premium</td>
                                                    <td>@item.CategoryName</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.SubjectInsured</td>
                                                    <td>@item.CostCenter</td>
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">No Data Found... </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>

