﻿@model CoreStructure_APP.Models.Query
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using CoreStructure_APP.Utility

@{
    ViewBag.Title = "All Query";
    ViewBag.Active = "All Query";
    ViewBag.Open = "All Query";
    ViewBag.Panel = "Query";
    ViewData["Title"] = "All Query";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div style="display:none">

    @{
        string usertype = "";
        string userpozone = "";
        foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
        {
            if (cookie.Key == "EmpName")
            {
                <div class="profile-data-name">@cookie.Value</div>
            }
            if (cookie.Key == "UType")
            {
                <div class="profile-data-title">@cookie.Value</div>
                usertype = cookie.Value;
            }
            if (cookie.Key == "UPOCompId")
            {
                userpozone = cookie.Value;
            }

        }
    }

</div>




<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Queries</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        @if (usertype != Standard.StandardUserType.subsuperadmin)
                        {
                            <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formQuery" asp-controller="Query" asp-action="AllQuery" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="FromDate"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="ToDate"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CName"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="CName" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="QStatus"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="QStatus" class="form-control">
                                                    <option>---Select Status---</option>
                                                    <option value="1">Pending</option>
                                                    <option value="2">Closed</option>
                                                    <option value="3">Converted</option>
                                                    <option value="4">UnderWritten</option>
                                                </select>
                                            </div>
                                            <input asp-for="QStatus" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString()) < 3)
                                {
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label asp-for="EmpId"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                    <select asp-for="EmpId" asp-items="ViewBag.EmployeeList" class="form-control">
                                                        <option>---Select Employee---</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Client Name</th>
                                        <th>Query Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Contact Person</th>
                                        <th>Reference Person &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th>Category</th>
                                        <th>Expiry Date</th>
                                        <th>Remarks</th>
                                        <th>Query Status</th>
                                        <th>Pending Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.QueryList != null)
                                    {
                                        foreach (var item in ViewBag.QueryList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.ClientName</td>
                                                <td>@item.QueryDate</td>
                                                <td>@item.ContactPersonName</td>
                                                <td>@item.ReferencePerson</td>
                                                <td>@item.MobileNo</td>
                                                <td>@item.EmailId</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.PolicyExpiryDate</td>
                                                <td>@item.Remarks</td>
                                                <td>
                                                    @if (item.QStatus == 1)
                                                    {
                                                        <span style="color:#fbba34">Pending</span>
                                                    }
                                                    else if (item.QStatus == 2)
                                                    {
                                                        <span style="color:red">Closed</span>
                                                    }
                                                    else if (item.QStatus == 3)
                                                    {
                                                        <span style="color:forestgreen">Converted</span>
                                                    }
                                                    else if (item.QStatus == 4)
                                                    {
                                                        <span style="color:forestgreen">UnderWritten</span>
                                                    }
                                                    else
                                                    {
                                                        <span>N/A</span>
                                                    }
                                                </td>
                                                <td>@item.PendingRemark</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>