﻿@model CoreStructure_APP.Models.Policy_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Closed Query";
    ViewBag.Active = "Closed Query";
    ViewBag.Open = "Closed Query";
    ViewBag.Panel = "Query";
    ViewData["Title"] = "Closed Query";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/datatable/components.min.css" rel="stylesheet" />

<link href="~/Content/datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/datatable/datatables.bootstrap.css" rel="stylesheet" />

<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Closed Queries</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @*<button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>*@
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formQuery" asp-controller="Query" asp-action="ClosedQueries" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FromDate"> Date </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                                                    <option>---Select Category---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CategoryId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </form>




                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">


                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Client Name</th>
                                        <th>Query Date</th>
                                        <th>Reference</th>
                                        <th>Mobile No.</th>
                                        <th>Email</th>
                                        <th>Category</th>
                                        <th>Expiry Date</th>
                                        <th>Remarks</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.QueryList != null)
                                    {
                                        foreach (var item in ViewBag.QueryList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.ClientName</td>
                                                <td>@item.QueryDate</td>
                                                <td>@item.ContactPersonName</td>
                                                <td>@item.MobileNo</td>
                                                <td>@item.EmailId</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.PolicyExpiryDate</td>
                                                <td>@item.Remarks</td>
                                                <td>
                                                    @if (item.QStatus == 1)
                                                    {
                                                        <span style="color:#fbba34">Pending</span>
                                                    }
                                                    else if (item.QStatus == 2)
                                                    {
                                                        <span style="color:red">Closed</span>
                                                    }
                                                    else if (item.QStatus == 3)
                                                    {
                                                        <span style="color:forestgreen">Converted</span>
                                                    }
                                                    else if (item.QStatus == 4)
                                                    {
                                                        <span style="color:forestgreen">UnderWritten</span>
                                                    }
                                                    else
                                                    {
                                                        <span>N/A</span>
                                                    }
                                                </td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Close Query</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label> Remarks</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input type="hidden" id="queryId" />
                                        <input id="closeRemark" class="form-control" maxlength="100" autocomplete="off" required />
                                    </div>
                                    <span id="closeRequired" class="alert-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default" onclick="SubmitCloseRemark()">Submit</button>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>


<script type="text/javascript">

    $(document).on("click", ".open-CloseQuery", function () {
        var myQID = $(this).data('id');
        $(".modal-body #queryId").val(myQID);
    });

    function SubmitCloseRemark() {
        var clRemark = $('#closeRemark').val();
        var qId = $('#queryId').val();
        if (clRemark == '' || clRemark == null) {
            alert('Please Enter a Reason');
        }
        else {
            $.ajax({
                url: "/Query/CloseQuery",
                type: "POST",
                dataType: "json",
                async: false,
                data: { 'QId': qId, 'Remark': clRemark },
                success: function (data) {
                    window.location.href = '/Query/ManageQuery'
                }
            });
        }
    }
</script>

