﻿@model CoreStructure_APP.Models.Policy_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Deleted Policy";
    ViewBag.Active = "Deleted Policy";
    ViewBag.Open = "Deleted Policy";
    ViewBag.Panel = "Policy";
    ViewData["Title"] = "Deleted Policy";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Queries</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formQuery" asp-controller="Query" asp-action="DeletedPolicies" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FromDate">Date</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                                                    <option>---Select Category---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CategoryId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PStatus"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="PStatus" class="form-control">
                                                    <option>---Select Status---</option>
                                                    <option value="1">UnderWritten</option>
                                                    <option value="2">Generated</option>
                                                </select>
                                            </div>
                                            <input asp-for="PStatus" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">

                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Policy Holder</th>
                                        <th>Contact Person</th>
                                        <th>Category</th>
                                        <th>Insurance Company</th>
                                        <th>Subject Insured</th>
                                        <th>Exp. Date</th>
                                        <th>Document</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.PolicyList != null)
                                    {
                                        foreach (var item in ViewBag.PolicyList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.PolicyHolderName</td>
                                                <td>@item.ContactPersonName</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.InsuranceCompanyName</td>
                                                <td>@item.SubjectInsured</td>
                                                <td>@item.ExpiryDate</td>
                                                <td>@item.UploadFile</td>
                                                <td>@item.PolicyStatusName</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true

        });
    });
</script>



<script src="~/Content/datatable/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>