﻿@model CoreStructure_APP.Models.Query
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Query";
    ViewBag.Active = "AddQuery";
    ViewBag.Open = "Edit Query";
    ViewBag.Panel = "Query";
    ViewData["Title"] = "Edit Query";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<link href="~/Content/multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/multiselect/js/bootstrap-multiselect.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<div class="panel-body">
    <form id="formQuery" asp-controller="Query" asp-action="UpdateQuery" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
            @ViewBag.Message
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <div class="col-md-6">
                                <h3 class="panel-title"><strong>Edit Query</strong></h3>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("ManageQuery","Query") '"><i class="fa fa-list"></i> Query List</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ClientName"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="QId" type="hidden" />
                                                <input asp-for="ClientName" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="ClientName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FatherName"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="FatherName" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                            <span asp-validation-for="FatherName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option value="">---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonName" type="hidden" />
                                            <span asp-validation-for="ContactPersonId" class="alert-danger"></span>
                                            <label id="lblCPError" class="alert-danger" style="display:none;"> Please Select A Contact Person</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ReferencePerson"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="ReferencePerson" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="MobileNo"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="MobileNo" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                            </div>
                                            <span asp-validation-for="MobileNo" class="alert-danger"></span>
                                            <label id="lblMobError" class="alert-danger" style="display:none;">Please Enter Valid Mobile No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="EmailId"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="EmailId" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                            <span asp-validation-for="EmailId" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="StateId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateList" onchange="BindCity()">
                                                    <option value="">---Select State---</option>
                                                </select>
                                            </div>
                                            <input asp-for="StateName" type="hidden" />
                                            <span asp-validation-for="StateId" class="alert-danger"></span>
                                            <label id="lblStateError" class="alert-danger" style="display:none;"> Please Select A State</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CityId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityList">
                                                    <option value="">---Select City---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CityName" type="hidden" />
                                            <span asp-validation-for="CityId" class="alert-danger"></span>
                                            <label id="lblCityError" class="alert-danger" style="display:none;"> Please Select A City</label>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Address"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                            <span asp-validation-for="Address" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="QueryDate"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="QueryDate" class="form-control" maxlength="100" autocomplete="off" required />
                                            </div>
                                            <span asp-validation-for="QueryDate" class="alert-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                                                    <option value="0">---Select Category---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CategoryName" type="hidden" />
                                            <label id="lblCatError" class="alert-danger" style="display:none;"> Please Select A Category</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PolicyExpiryDate"></label><span class="red">*</span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="PolicyExpiryDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="QuatationAmount"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="QuatationAmount" class="form-control" maxlength="15" autocomplete="off" onkeypress="return isNumberKey(event)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Remarks"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                <input asp-for="Remarks" type="text" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <button type="button" onclick="submitform()"  class="btn btn-success"><i class="fa fa-save"> Update</i></button>
                                <button type="reset" class="btn btn-warning" value="" onclick="window.location.reload()"><i class="fa fa-refresh"></i> Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
@*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function CheckmobileSeriesEP(obj) {

        var mob = $('#MobileNo').val();
        var mobfst = mob.substr(0, 1);
        var phoneno = /^\d{10}$/;
        if (mob.match(phoneno)) {

            if (mob.length != 10) {
                $('#lblMobError').show();
                return false;
            }
            if (parseInt(mobfst) < 6) {
                $('#lblMobError').show();
                return false;
            }
        }
        else {
            $('#lblMobError').show();
            return false;
        }
    }


    function submitform() {
        var cp = $('#ContactPersonId').val();
        var state = $('#StateId').val();
        var city = $('#CityId').val();
        var cat = $('#CategoryId').val();
        if (cp == 0 || cp == null) {
            $('#lblCPError').show();
            return false;
        }
        else if (state == 0 || state == null) {
            $('#lblStateError').show();
            return false;
        }

            else if (city == 0 || city == null) {
            $('#lblCityError').show();
            return false;
        }
            else if (cat == 0 || cat == null) {
            $('#lblCatError').show();
            return false;
        }

        else {

            document.getElementById('formQuery').submit();
        }
    }
</script>
<script type="text/javascript">

    function BindCity() {
        var stId = $('#StateId').val();
        $('#CityId').empty().append(" <option value=''>---select City---</option>");
        $.ajax({
            url: "/Masters/GetCityList",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'StateId': stId },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {
                    for (i = 0; i < data.results.length; i++) {
                        //  console.log(data[i].value);
                        $('#CityId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                    }
                }
            }
        });
    }

</script>
<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>