﻿@model CoreStructure_APP.Models.Policy
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Generate Policy";
    ViewBag.Active = "Generate Policy";
    ViewBag.Open = "Generate Policy";
    ViewBag.Panel = "Policy";
    ViewData["Title"] = "Generate Policy";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];
}

<link href="~/Content/Stepper/css/addons/datatables.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/datatables-select.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/directives.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/flag.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/jquery.zmd.hierarchical-display.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/rating.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/modules/animations-extended.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/style.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/mdb.lite.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/mdb.min.css" rel="stylesheet" />
<style type="text/css">
    .steps-form {
        display: table;
        width: 100%;
        position: relative;
    }

        .steps-form .steps-row {
            display: table-row;
        }

            .steps-form .steps-row:before {
                top: 14px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }

            .steps-form .steps-row .steps-step {
                display: table-cell;
                text-align: center;
                position: relative;
            }

                .steps-form .steps-row .steps-step p {
                    margin-top: 0.5rem;
                }

                .steps-form .steps-row .steps-step button[disabled] {
                    opacity: 1 !important;
                    filter: alpha(opacity=100) !important;
                }

                .steps-form .steps-row .steps-step .btn-circle {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding: 6px 0;
                    font-size: 12px;
                    line-height: 1.428571429;
                    border-radius: 15px;
                    margin-top: 0;
                }
</style>


<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Generate Policy</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- Steps form -->
                <div class="card">
                    <div class="card-body mb-4">
                        <h2 class="text-center font-weight-bold pt-4 pb-5"><strong>Generate Policy</strong></h2>
                        <!-- Stepper -->
                        <div class="steps-form">
                            <div class="steps-row setup-panel">
                                <div class="steps-step">
                                    <a href="#step-9" type="button" class="btn btn-indigo btn-circle">1</a>
                                    <p>Contact Details</p>
                                </div>
                                <div class="steps-step">
                                    <a href="#step-10" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                    <p>Ins. Co. Details</p>
                                </div>
                                <div class="steps-step">
                                    <a href="#step-11" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                    <p>Billing Details</p>
                                </div>
                                <div class="steps-step">
                                    <a href="#step-12" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                    <p>Confirm</p>
                                </div>
                            </div>
                        </div>
                        <form id="formGeneratePolicy" asp-controller="Query" asp-action="SaveGeneratePolicy" method="post" class="form-horizontal" enctype="multipart/form-data">
                            @*<form role="form" action="" method="post">*@
                            <input asp-for="PId" type="hidden" />
                            <input asp-for="QId" type="hidden" />
                            <!-- First Step -->
                            <div class="row setup-content" id="step-9">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Provide Your Contact Details</strong></h3>
                                <br />
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="TypeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeList">
                                                            <option>---Select Policy Type---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="TypeName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="GroupId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                                            <option>---Select Group---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="GroupName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ContactPersonId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                            <option>---Select Contact Person---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="ContactPersonName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyHolderId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="PolicyHolderId" class="form-control" asp-items="ViewBag.PolicyHolderList">
                                                            <option>---Select Policy Holder---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="PolicyHolderName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="UnderWriteDate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="date" asp-for="UnderWriteDate" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="UnderWriteDate" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" style="height:41px;width:94px;background-color:#49b53f !important;float:right;margin-right:78px" type="button" onclick="ForConfirmData()">Next</button>
                                </div>
                            </div>

                            <!-- Second Step -->
                            <div class="row setup-content" id="step-10">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Provide Your InsCo. Details</strong></h3>
                                <br />
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CategoryId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="CategoryId" class="form-control" onchange="oncatchange()" asp-items="ViewBag.CategoryList">
                                                            <option>---Select Category---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="CategoryName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3" id="divVehicleNo" style="display:block">

                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="VehicleNo"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="VehicleNo" class="form-control" maxlength="15" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="VehicleNo" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <div class="divOnDamage">
                                        <br />
                                    </div>

                                    <div class="row mt-3" id="divOnDamage" style="display:block">

                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="OnDamage"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="OnDamage" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="OnDamage" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                    <div class="divPersonalAccident" style="display:block">
                                        <br />
                                    </div>
                                    <div class="row mt-3" id="divPersonalAccident">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PersonalAccident"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="PersonalAccident" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="PersonalAccident" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                    <div class="divThirdParty" style="display:block">
                                        <br />
                                    </div>

                                    <div class="row mt-3" id="divThirdParty">

                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ThirdParty"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="ThirdParty" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="ThirdParty" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />


                                    <div class="row mt-3" id="divinsceptiondate" style="display:none">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="inceptiondate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="date" asp-for="inceptiondate" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="inceptiondate" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>

                                    </div>
                                    <div class="divinsceptiondate">
                                        <br />
                                    </div>



                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="InsuranceCompanyId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="InsuranceCompanyId" class="form-control" onchange="onInscochange()" asp-items="ViewBag.InsuranceCompanyList">
                                                            <option>---Select Company Name---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="InsuranceCompanyName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="IssuingOfficeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="IssuingOfficeId" class="form-control" asp-items="ViewBag.IssuingOfficeList">
                                                            <option>---Select Issuing Office---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="IssuingOfficeName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ProductId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductList">
                                                            <option>---Select Product---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="ProductName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" style="height:41px;width:94px;margin-left:78px" type="button">Previous</button>
                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" style="height:35px; width:94px; background-color:#49b53f !important;float:right;margin-right:78px" type="button" onclick="ForConfirmData()">Next</button>
                                </div>
                            </div>

                            <!-- Third Step -->
                            <div class="row setup-content" id="step-11">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Provide Your Billing Details</strong></h3>
                                <br />
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SubjectInsured"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="SubjectInsured" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="SubjectInsured" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CostCenter"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="CostCenter" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="CostCenter" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CommissionRate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="CommissionRate" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="CommissionRate" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="Premium"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="Premium" class="form-control" maxlength="12" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="Premium" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="CGST" class="form-control" maxlength="12" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="CGST" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="SGST" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="SGST" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PremiumPayable"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="PremiumPayable" class="form-control" maxlength="12" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="PremiumPayable" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="IDV"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="IDV" class="form-control" maxlength="12" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="IDV" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyDate"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input asp-for="PolicyDate" type="date" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="PolicyDate" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ExpiryDate"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="date" asp-for="ExpiryDate" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="ExpiryDate" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyNo"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="PolicyNo" class="form-control" maxlength="25" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="PolicyNo" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PreviousPolicyNo"></label><font color="red">*</font>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="PreviousPolicyNo" class="form-control" maxlength="25" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="PreviousPolicyNo" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="UploadFile"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @*<span class="input-group-addon"><span class="fa fa-info-circle"></span></span>*@
                                                        @*<input type="file" asp-for="UploadFile" required />*@
                                                        <input type="file" multiple class="file" name="filename1" id="UploadFile" data-preview-file-type="any"/>
                                                        @*<input asp-for="UploadFile" class="form-control" maxlength="100" autocomplete="off" required />*@
                                                    </div>
                                                    @*<span asp-validation-for="UploadFile" class="alert-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" style="height:41px;width:94px;margin-left:78px" type="button">Previous</button>
                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" style="height:35px; width:94px; background-color:#49b53f !important;float:right;margin-right:78px" type="button" onclick="ForConfirmData()">Next</button>
                                </div>
                            </div>

                            <!-- Fourth Step -->
                            <div class="row setup-content" id="step-12">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Confirm Policy Details</strong></h3>
                                <br />
                                <h4 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Contact Details</strong></h4>
                                <hr class="my-5">
                                <div class="col-md-12">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="TypeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @*<label id="tName" ></label>*@
                                                        <input id="tName" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="GroupId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="gpName" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ContactPersonId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="cpName" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyHolderId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="phName" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="UnderWriteDate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="uwDate" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                    <h4 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Ins. Co. Details</strong></h4>
                                    <hr class="my-5">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CategoryId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="ctName" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />

                                    <div class="row mt-3 divVehicleNo" style="display:none" id="divVehicleNo">
                                        <br />
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="VehicleNo"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="vehNo" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />

                                    <div class="row mt-3 divOnDamage" style="display:none" id="divOnDamage">
                                        <br />
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="OnDamage"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="od" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3 divPersonalAccident" style="display:none" id="divPersonalAccident">
                                        <br />
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PersonalAccident"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="pa" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3 divThirdParty" style="display:none" id="divThirdParty">
                                        <br />
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ThirdParty"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="tp" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <br />
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="InsuranceCompanyId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="icName" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="IssuingOfficeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="ioName" style="color: #635959;" type="text" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ProductId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="pName" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                    <h4 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Billing Details</strong></h4>
                                    <hr class="my-5">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SubjectInsured"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="subIns" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CostCenter"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="ctcen" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CommissionRate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="cmRate" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="Premium"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="premium" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="cgs" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="sgs" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PremiumPayable"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="prePay" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="IDV"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="idVal" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyDate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="pDate" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ExpiryDate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="eDate" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyNo"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="polNo" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PreviousPolicyNo"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="prePolNo" type="text" style="color: #635959;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" style="height:41px;width:94px" type="button">Previous</button>
                                    <button class="btn btn-default btn-rounded float-right" style="height:35px; width:94px; background-color:#49b53f !important;float:right; margin-right: 106px;" type="button" onclick="generatePolicySave()">Generate Policy</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- Steps form -->

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.noConflict();
</script>

<script src="~/Content/Stepper/js/addons/datatables.min.js"></script>
<script src="~/Content/Stepper/js/addons/datatables-select.min.js"></script>
<script src="~/Content/Stepper/js/addons/directives.min.js"></script>
<script src="~/Content/Stepper/js/addons/flag.min.js"></script>
<script src="~/Content/Stepper/js/addons/imagesloaded.pkgd.min.js"></script>
<script src="~/Content/Stepper/js/addons/jquery.zmd.hierarchical-display.min.js"></script>
<script src="~/Content/Stepper/js/addons/masonry.pkgd.min.js"></script>
<script src="~/Content/Stepper/js/addons/rating.min.js"></script>
<script src="~/Content/Stepper/js/modules/animations-extended.min.js"></script>
<script src="~/Content/Stepper/js/modules/forms-free.min.js"></script>
<script src="~/Content/Stepper/js/modules/scrolling-navbar.min.js"></script>
<script src="~/Content/Stepper/js/modules/treeview.min.js"></script>
<script src="~/Content/Stepper/js/modules/wow.min.js"></script>
<script src="~/Content/Stepper/js/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-indigo').addClass('btn-default');
                $item.addClass('btn-indigo');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepSteps = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepSteps.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-indigo').trigger('click');
    });
</script>

<script type="text/javascript">
    function ForConfirmData() {

        // Contact Details
        var typeId = $('#TypeId').val();
        var tpName = $("#TypeId option:selected").text();

        var groupId = $('#GroupId').val();
        var gpName = $("#GroupId option:selected").text();

        var contactPersonId = $('#ContactPersonId').val();
        var cpName = $("#ContactPersonId option:selected").text();

        var policyHolderId = $('#PolicyHolderId').val();
        var phName = $("#PolicyHolderId option:selected").text();

        var underWriteDate = $('#UnderWriteDate').val();

        // Insurance Company Details
        var categoryId = $('#CategoryId').val();
        var ctName = $("#CategoryId option:selected").text();

        var insuranceCompanyId = $('#InsuranceCompanyId').val();
        var icName = $("#InsuranceCompanyId option:selected").text();

        var issuingOfficeId = $('#IssuingOfficeId').val();
        var ioName = $("#IssuingOfficeId option:selected").text();

        var productId = $('#ProductId').val();
        var pName = $("#ProductId option:selected").text();

        // Billing Details
        var subjectInsured = $('#SubjectInsured').val();
        var costCenter = $('#CostCenter').val();
        var commissionRate = $('#CommissionRate').val();
        var premium = $('#Premium').val();
        var cGST = $('#CGST').val();
        var sGST = $('#SGST').val();
        var premiumPayable = $('#PremiumPayable').val();

        var vNo = $('#VehicleNo').val();
        var onDam = $('#OnDamage').val();
        var prAc = $('#PersonalAccident').val();
        var thPr = $('#ThirdParty').val();

        var idValue = $('#IDV').val();


        var pd = $('#PolicyDate').val();
        var ed = $('#ExpiryDate').val();
        var pNo = $('#PolicyNo').val();
        var pPNo = $('#PreviousPolicyNo').val();
        //var vNo = $('#').val();
        //var vNo = $('#').val();
        //var vNo = $('#').val();
        //var vNo = $('#').val();
        //var vNo = $('#').val();
        //var vNo = $('#').val();

        //alert(tpName + ', ' + groupId + ', ' + contactPersonId + ', ' + policyHolderId + ', ' + underWriteDate + ', ' + categoryId + ', ' + insuranceCompanyId + ', ' +
        //    issuingOfficeId + ', ' + productId + ', ' + subjectInsured + ', ' + costCenter + ', ' + commissionRate + ', ' + premium + ', ' + cGST + ', ' + sGST + ', ' + premiumPayable);
        //alert(tpName);
        $('#tName').val(tpName);
        $('#gpName').val(gpName);
        $('#cpName').val(cpName);
        $('#phName').val(phName);
        $('#uwDate').val(underWriteDate);
        $('#ctName').val(ctName);
        $('#icName').val(icName);
        $('#ioName').val(ioName);
        $('#pName').val(pName);
        $('#subIns').val(subjectInsured);
        $('#ctcen').val(costCenter);
        $('#cmRate').val(commissionRate);
        $('#premium').val(premium);
        $('#cgs').val(cGST);
        $('#sgs').val(sGST);
        $('#prePay').val(premiumPayable);
        $('#vehNo').val(vNo);
        $('#od').val(onDam);
        $('#pa').val(prAc);
        $('#tp').val(thPr);
        $('#idVal').val(idValue);
        $('#pDate').val(pd);
        $('#eDate').val(ed);
        $('#polNo').val(pNo);
        $('#prePolNo').val(pPNo);
    }

    function generatePolicySave() {
        $('#formGeneratePolicy').submit();
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var catId = $('#CategoryId').val();
        //alert(catId);
        if (catId == '13' || catId == '12') {
            $('#divVehicleNo').show();
            $('#divOnDamage').show();
            //$('#divPersonalAccident').show();
            $('#divPersonalAccident').hide();
            $('#divThirdParty').show();


            $('.divVehicleNo').show();
            $('.divOnDamage').show();
            //$('.divPersonalAccident').show();
            $('.divPersonalAccident').hide();
            $('.divThirdParty').show();
            $('#divinsceptiondate').hide();
            $('.divinsceptiondate').hide();
            $('#divinsceptiondate').removeAttr('required');

        }
        else if (catId == '11') {

            $('#divinsceptiondate').show();
            $('.divinsceptiondate').show();

            $('#divVehicleNo').hide();
            $('#divOnDamage').hide();
            $('#divPersonalAccident').hide();
            $('#divThirdParty').hide();

            $('.divVehicleNo').hide();
            $('.divOnDamage').hide();
            $('.divPersonalAccident').hide();
            $('.divThirdParty').hide();

            $('#VehicleNo').removeAttr('required');
            $('#OnDamage').removeAttr('required');
            $('#PersonalAccident').removeAttr('required');
            $('#ThirdParty').removeAttr('required');

        }
        else {

            $('#divVehicleNo').hide();
            $('#divOnDamage').hide();
            $('#divPersonalAccident').hide();
            $('#divThirdParty').hide();

            $('.divVehicleNo').hide();
            $('.divOnDamage').hide();
            $('.divPersonalAccident').hide();
            $('.divThirdParty').hide();

            $('#VehicleNo').removeAttr('required');
            $('#OnDamage').removeAttr('required');
            $('#PersonalAccident').removeAttr('required');
            $('#ThirdParty').removeAttr('required');
            $('#divinsceptiondate').hide();
            $('.divinsceptiondate').hide();
            $('#divinsceptiondate').removeAttr('required');
        }
    });





    function oncatchange() {

        var catId = $('#CategoryId').val();
        if (catId == '13' || catId == '12') {
            $('#divVehicleNo').show();
            $('#divOnDamage').show();
            $('#divPersonalAccident').hide();
            $('#divThirdParty').show();


            $('.divVehicleNo').show();
            $('.divOnDamage').show();
            $('.divPersonalAccident').hide();
            $('.divThirdParty').show();
            $('#divinsceptiondate').hide();
            $('#divinsceptiondate').removeAttr('required');

        }
        else if (catId == '11') {

            $('#divinsceptiondate').show();
            $('#divVehicleNo').hide();
            $('#divOnDamage').hide();
            $('#divPersonalAccident').hide();
            $('#divThirdParty').hide();

            $('.divVehicleNo').hide();
            $('.divOnDamage').hide();
            $('.divPersonalAccident').hide();
            $('.divThirdParty').hide();

            $('#VehicleNo').removeAttr('required');
            $('#OnDamage').removeAttr('required');
            $('#PersonalAccident').removeAttr('required');
            $('#ThirdParty').removeAttr('required');

        }
        else {

            $('#divVehicleNo').hide();
            $('#divOnDamage').hide();
            $('#divPersonalAccident').hide();
            $('#divThirdParty').hide();

            $('.divVehicleNo').hide();
            $('.divOnDamage').hide();
            $('.divPersonalAccident').hide();
            $('.divThirdParty').hide();

            $('#VehicleNo').removeAttr('required');
            $('#OnDamage').removeAttr('required');
            $('#PersonalAccident').removeAttr('required');
            $('#ThirdParty').removeAttr('required');
            $('#divinsceptiondate').hide();
            $('#divinsceptiondate').removeAttr('required');
        }




        BindProductOffice();

    }

    function onInscochange() {
        BindProductOffice();
        BindIssuingoffice();

    }





    function BindProductOffice() {


        var InsCo = $('#InsuranceCompanyId').val();
        if (InsCo == '' || InsCo == 0) {
            return false;
        }

        var catid = $('#CategoryId').val();
        if (catid == '' || catid == 0) {
            return false;
        }


        $('#ProductId').empty().append(" <option value=''>---Select Product---</option>");


        $.ajax({
            url: "/Report/GetCategorylistListbyInsCoId",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'InsuranceCompanyId': InsCo, 'catid': catid },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {

                    if (data.results != '' || data.results != null);
                    {
                        for (i = 0; i < data.results.length; i++) {
                            $('#ProductId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                        }
                    }
                    //else {
                    //$('#IssuingOfficeId').val(0);
                }
            }
        });

    }






    function BindIssuingoffice() {


        var InsCo = $('#InsuranceCompanyId').val();
        if (InsCo == '' || InsCo == 0) {
            return false;
        }

        $('#IssuingOfficeId').empty().append(" <option value=''>---Select Issuing office---</option>");


        $.ajax({
            url: "/Report/GetIssuingofficeByInsco",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'InsuranceCompanyId': InsCo },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {

                    if (data.results != '' || data.results != null);
                    {
                        for (i = 0; i < data.results.length; i++) {
                            $('#IssuingOfficeId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                        }
                    }
                    //else {
                    //$('#IssuingOfficeId').val(0);
                }
            }
        });
    }



</script>

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>