﻿@model CoreStructure_APP.Models.Query
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Manage Query";
    ViewBag.Active = "Manage Query";
    ViewBag.Open = "Manage Query";
    ViewBag.Panel = "Query";
    ViewData["Title"] = "Manage Query";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}

<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Queries</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formQuery" asp-controller="Query" asp-action="ManageQuery" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label asp-for="Date"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="Date" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CName"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <input asp-for="CName" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label asp-for="QStatus"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="QStatus" class="form-control">
                                                    <option>---Select Status---</option>
                                                    <option value="1">Pending</option>
                                                    <option value="2">Closed</option>
                                                    <option value="3">Converted</option>
                                                    <option value="4">UnderWritten</option>
                                                </select>
                                            </div>
                                            <input asp-for="QStatus" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Client Name</th>
                                        <th>Query Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Contact Person</th>
                                        <th>Reference Person &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th>Category</th>
                                        <th>Expiry Date</th>
                                        <th>Remarks</th>
                                        <th>Query Status</th>
                                        <th>Pending Status</th>
                                        <th>Action</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.QueryList != null)
                                    {
                                        foreach (var item in ViewBag.QueryList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.ClientName</td>
                                                <td>@item.QueryDate</td>
                                                <td>@item.ContactPersonName</td>
                                                <td>@item.ReferencePerson</td>
                                                <td>@item.MobileNo</td>
                                                <td>@item.EmailId</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.PolicyExpiryDate</td>
                                                <td>@item.Remarks</td>
                                                <td>
                                                    @if (item.QStatus == 1)
                                                    {
                                                        <a data-toggle="modal" data-id="@item.QId" class="open-PendingStatus" href="#myModalPending"><span style="color:#fbba34">Pending</span></a>
                                                    }
                                                    else if (item.QStatus == 2)
                                                    {
                                                        <span style="color:red">Closed</span>
                                                    }
                                                    else if (item.QStatus == 3)
                                                    {
                                                        <span style="color:forestgreen">Converted</span>
                                                    }
                                                    else if (item.QStatus == 4)
                                                    {
                                                        <span style="color:forestgreen">UnderWritten</span>
                                                    }
                                                    else
                                                    {
                                                        <span>N/A</span>
                                                    }
                                                </td>
                                                <td>@item.PendingRemark</td>
                                                <td>
                                                    @if (item.QStatus == 1)
                                                    {
                                                        <a data-toggle="modal" data-id="@item.QId" title="Close This Query" class="open-CloseQuery btn btn-danger btn-md btn-rounded" href="#myModal"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        <a class="btn btn-success btn-md btn-rounded" title="Convert This Query" href="@Url.Action("ConvertQuery", "Query", new { @QId = item.QId })" onclick="return confirm('Are you sure you want to Convert this Query?');"> <span class="fa fa-check"></span> </a>
                                                    }
                                                    else if (item.QStatus == 2)
                                                    {
                                                        <span style="color:red">Closed</span>
                                                    }
                                                    else if (item.QStatus == 3)
                                                    {
                                                        <a class="btn btn-success btn-md btn-rounded" title="UnderWrite This Query" href="@Url.Action("UnderWriteQuery", "Query", new { @QId = item.QId })" onclick="return confirm('Are you sure you want to Underwrite this Query?');"> <span class="fa fa-pencil"></span> </a>
                                                    }
                                                    else
                                                    {

                                                    }
                                                </td>
                                                <td>
                                                    @if (item.QStatus == 1)
                                                    {
                                                        <a class="btn btn-default btn-md btn-rounded" href="@Url.Action("EditQuery", "Query", new { @QId = item.QId })"> <span class="fa fa-pencil"></span> </a>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.QStatus == 1)
                                                    {
                                                        <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteQuery", "Query", new { @QId = item.QId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModalPending" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pending Status</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label> Pending Status</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input type="hidden" id="queryId" />
                                        <input id="pendingRemark" class="form-control" maxlength="100" autocomplete="off" required />
                                    </div>
                                    <span id="pendingRequired" class="alert-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default" onclick="SubmitPendingRemark()">Submit</button>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Close Remark</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label> Remarks</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input type="hidden" id="queryId" />
                                        <input id="closeRemark" class="form-control" maxlength="100" autocomplete="off" required />
                                    </div>
                                    <span id="closeRequired" class="alert-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default" onclick="SubmitCloseRemark()">Submit</button>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>



<script type="text/javascript">

    $(document).on("click", ".open-CloseQuery", function () {
        var myQID = $(this).data('id');
        $(".modal-body #queryId").val(myQID);
    });

    $(document).on("click", ".open-PendingStatus", function () {
        var myQID = $(this).data('id');
        $(".modal-body #queryId").val(myQID);
    });



    function SubmitCloseRemark() {
        var clRemark = $('#closeRemark').val();
        var qId = $('#queryId').val();
        if (clRemark == '' || clRemark == null) {
            alert('Please Enter a Reason');
        }
        else {
            $.ajax({
                url: "/Query/CloseQuery",
                type: "POST",
                dataType: "json",
                async: false,
                data: { 'QId': qId, 'Remark': clRemark },
                success: function (data) {
                    if (data == 'Query Closed Successfully..!') {
                        alert(data);
                        window.location.href = '/Query/ManageQuery'
                    }
                }
            });
        }
    }

    function SubmitPendingRemark() {
        var pnRemark = $('#pendingRemark').val();
        var qId = $('#queryId').val();
        if (pnRemark == '' || pnRemark == null) {
            alert('Please Enter a Reason');
        }
        else {            
            $.ajax({
                url: "/Query/PendingQueryRemarkUpdate",
                type: "POST",
                dataType: "json",
                async: false,
                data: { 'QId': qId, 'Remark': pnRemark },
                success: function (data) {
                    if (data == 'Pending Status Update Successfully..!') {
                        alert(data);
                        window.location.href = '/Query/ManageQuery'
                    }
                }
            });
        }
    }
</script>

