﻿@model CoreStructure_APP.Models.Policy_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Master Policy Data";
    ViewBag.Active = "Master Policy Data";
    ViewBag.Open = "Master Data";
    ViewBag.Panel = "Policy";
    ViewData["Title"] = "Master Policy Data";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}
<script type="text/javascript">
    function GetFiltervalueforexport() {
        debugger;
        var FromDate = $('#FromDate').val();
        $('#hdfromdate').val(FromDate);
        var ToDate = $('#ToDate').val();
        $('#hdtodate').val(ToDate);
        var GroupId = $('#GroupId').val();
        $('#hdGroupId').val(GroupId);
        var ContactPersonId = $('#ContactPersonId').val();
        $('#hdContactPersonId').val(ContactPersonId);
        var PolicyholderId = $('#PolicyHolderId').val();
        $('#hdPolicyHolderId').val(PolicyholderId);
        var CategoryId = $('#CategoryId').val();
        $('#hdCategoryId').val(CategoryId);
        var InsuranceCompanyId = $('#InsuranceCompanyId').val();
        $('#hdInsuranceCompanyId').val(InsuranceCompanyId);
        $('#formdata').submit();
    }
</script>
<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Master Data</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @* <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>*@
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formMasterData" asp-controller="Query" asp-action="MasterPolicyData" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="Officeid"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="Officeid" class="form-control" asp-items="ViewBag.OfficeList">
                                                    <option>---Select Type---</option>
                                                </select>

                                                <input asp-for="Office" type="hidden" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                &nbsp;
                            </div>
                            <br />
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FromDate"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ToDate"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="GroupId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                                    <option>---Select Group---</option>
                                                </select>
                                            </div>
                                            <input asp-for="GroupId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                            <input asp-for="ContactPersonId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PolicyHolderId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="PolicyHolderId" class="form-control" asp-items="ViewBag.PolicyHolderList">
                                                    <option>---Select Policy Holder---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                                                    <option>---Select Category---</option>
                                                </select>
                                            </div>
                                            <input asp-for="CategoryId" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="InsuranceCompanyId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyList">
                                                    <option>---Select Insurance Company---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">

                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" id="formdata" asp-controller="Query" asp-action="Excel" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.hdPolicyHolderId)
                    @Html.HiddenFor(x => x.hdfromdate)
                    @Html.HiddenFor(x => x.hdtodate)
                    @Html.HiddenFor(x => x.hdContactPersonId)
                    @Html.HiddenFor(x => x.hdCategoryId)
                    @Html.HiddenFor(x => x.hdInsuranceCompanyId)
                    @Html.HiddenFor(x => x.hdGroupId)

                    <div class="row">
                        <div class="col-md-12" style="padding-top:10px;text-align:right;padding-right:75px">
                            <button type="button" onclick="GetFiltervalueforexport()">Export To Excel</button>
                        </div>
                    </div>
                    <br />
                    <div id="dvData"></div>
                </form>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Policy Holder</th>
                                        <th>Contact Person</th>
                                        <th>Contact No</th>
                                        <th>Group</th>
                                        <th>Subject Insured</th>
                                        <th>Category</th>
                                        <th>Vehicle No</th>
                                        <th>Request Type</th>
                                        <th>Insurance Co.</th>
                                        <th>Policy No.</th>
                                        <th>Policy Date</th>
                                        <th>Expiry Date</th>
                                        @*<th>Document Uploaded</th>*@
                                        <th>Premium</th>
                                        <th>GST</th>
                                        <th>Total</th>
                                        <th>OD Premium </th>
                                        <th>Brokerage %</th>
                                        <th>Brokerage Amount</th>
                                        <th>TP Premium</th>
                                        <th>Brokerage %</th>
                                        <th>Brokerage Amount</th>
                                        <th>Total Brokerage Amount</th>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1" || HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "2")
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; decimal ttlPremium = 0; decimal ttlGST = 0; decimal ttlTotal = 0; decimal ttlOD = 0; decimal ttlTP = 0;
                                        decimal ttlBrokerOD = 0; decimal ttlBrokerTP = 0; decimal ttlBrokerPA = 0;}
                                    @if (ViewBag.PolicyList != null)
                                    {
                                        foreach (var item in ViewBag.PolicyList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.PolicyHolderName</td>
                                                <td>@item.ContactPersonName</td>
                                                <td>@item.ContactNo</td>
                                                <td>@item.GroupName</td>
                                                <td>@item.SubjectInsured</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.VehicleNo</td>
                                                <td>
                                                    @if (@item.IsRenewal == 0)
                                                    {
                                                        <span>Internal</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Renewal</span>
                                                    }
                                                </td>
                                                <td>@item.InsuranceCompanyName</td>
                                                <td>@item.PolicyNo</td>
                                                <td>@item.PolicyDate</td>
                                                <td>@item.ExpiryDate</td>
                                                @*<td>@item.UploadFile </td>*@
                                                <td>@item.Premium @{ ttlPremium = ttlPremium + Convert.ToDecimal(item.Premium);}</td>
                                                <td>
                                                    @{decimal tGST; tGST = Convert.ToDecimal(item.CGST) + Convert.ToDecimal(item.SGST);}
                                                    @tGST.ToString("#.##")
                                                    @{ ttlGST = ttlGST + tGST;}
                                                </td>
                                                <td>@item.PremiumPayable @{ ttlTotal = ttlTotal + Convert.ToDecimal(item.PremiumPayable);}</td>
                                                <td>
                                                    @item.OnDamage
                                                    @if (item.OnDamage != null && item.OnDamage != "")
                                                    {
                                                        ttlOD = ttlOD + Convert.ToDecimal(item.OnDamage);
                                                    }

                                                </td>
                                                
                                                <td>@item.ODRate</td>
                                                
                                                <td>
                                                    @{ decimal odAmnt = 0; decimal premAmnt = 0;}
                                                    @if (item.OnDamage != null && item.OnDamage != "" && item.ODRate != null && item.ODRate != "")
                                                    {
                                                        odAmnt = (Convert.ToDecimal(item.OnDamage) * Convert.ToDecimal(item.ODRate)) / 100;
                                                        @odAmnt.ToString("#.##")
                                                        ttlBrokerOD = ttlBrokerOD + odAmnt;
                                                    }
                                                    else if(item.OnDamage == null || item.OnDamage == "")
                                                    {
                                                        premAmnt = (Convert.ToDecimal(item.Premium) * Convert.ToDecimal(item.ODRate)) / 100;
                                                        @premAmnt.ToString("#.##")
                                                        ttlBrokerOD = ttlBrokerOD + premAmnt;
                                                    }
                                                    else
                                                    {
                                                        <span>0.00</span>

                                                    }

                                                </td>
                                                
                                                <td>
                                                    @item.ThirdParty
                                                    @if (item.ThirdParty != null && item.ThirdParty != "")
                                                    {
                                                        ttlTP = ttlTP + Convert.ToDecimal(item.ThirdParty);
                                                    }
                                                </td>


                                                <td>@item.ProductRate</td>
                                                <td>
                                                    @{ decimal tpAmnt = 0;}
                                                    @if (item.ThirdParty != null && item.ThirdParty != "" && item.ProductRate != null && item.ProductRate != "")
                                                    {
                                                        tpAmnt = (Convert.ToDecimal(item.ThirdParty) * Convert.ToDecimal(item.ProductRate)) / 100;
                                                        @tpAmnt.ToString("#.##")
                                                        ttlBrokerTP = ttlBrokerTP + tpAmnt;
                                                    }
                                                    else { }
                                                </td>
                                                <td>
                                                    @{ decimal paAmnt = 0;}
                                                    @*@if (item.PersonalAccident != null && item.PersonalAccident != "")*@
                                                    @if ((item.OnDamage != null && item.OnDamage != "" && item.ODRate != null && item.ODRate != "") && (item.ThirdParty != null && item.ThirdParty != "" && item.ProductRate != null && item.ProductRate != ""))
                                                    {
                                                        paAmnt = odAmnt + tpAmnt + premAmnt;
                                                        @paAmnt.ToString("#.##")
                                                        ttlBrokerPA = ttlBrokerPA + paAmnt;
                                                    }
                                                    else if (item.OnDamage == null || item.OnDamage == "")
                                                    {
                                                        paAmnt = premAmnt;
                                                        @paAmnt.ToString("#.##")
                                                        ttlBrokerPA = ttlBrokerPA + paAmnt;
                                                    }else{
                                                        <span>0.00</span>
                                                    }
                                                </td>
                                                @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1" || HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "2")
                                                {
                                                    <td><a class="btn btn-default btn-md btn-rounded" href="@Url.Action("EditPolicy", "Query", new { @PId = item.PId })"> <span class="fa fa-pencil"></span> </a></td>
                                                }
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th style="text-align:right">Total:</th>
                                        <th>@ttlPremium.ToString("0.##")</th>
                                        <th>@ttlGST.ToString("#.##")</th>
                                        <th>@ttlTotal.ToString("#.##")</th>
                                        <th>@ttlOD.ToString("#.##")</th>
                                        <th></th>
                                        <th>@ttlBrokerOD.ToString("#.##")</th>
                                        <th>@ttlTP.ToString("#.##")</th>
                                        <th></th>
                                        <th>@ttlBrokerTP.ToString("#.##")</th>
                                        <th>@ttlBrokerPA.ToString("#.##")</th>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "1" || HttpContextAccessor.HttpContext.Request.Cookies["URole"].ToString() == "2")
                                        {
                                            <th></th>
                                        }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>
