﻿@model CoreStructure_APP.Models.Policy
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Renew Policy";
    ViewBag.Active = "Renew Policy";
    ViewBag.Open = "Renew Policy";
    ViewBag.Panel = "Policy";
    ViewData["Title"] = "Renew Policy";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];
}

@*<link href="~/Content/Stepper/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/addons/datatables-select.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/addons/directives.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/addons/flag.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/addons/jquery.zmd.hierarchical-display.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/addons/rating.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/modules/animations-extended.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/style.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/mdb.lite.min.css" rel="stylesheet" />
    <link href="~/Content/Stepper/css/mdb.min.css" rel="stylesheet" />*@

<link href="~/Content/Stepper/css/addons/directives.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/flag.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/jquery.zmd.hierarchical-display.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/addons/rating.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/modules/animations-extended.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/style.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/mdb.lite.min.css" rel="stylesheet" />
<link href="~/Content/Stepper/css/mdb.min.css" rel="stylesheet" />

<style type="text/css">
    .steps-form {
        display: table;
        width: 100%;
        position: relative;
    }

        .steps-form .steps-row {
            display: table-row;
        }

            .steps-form .steps-row:before {
                top: 14px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }

            .steps-form .steps-row .steps-step {
                display: table-cell;
                text-align: center;
                position: relative;
            }

                .steps-form .steps-row .steps-step p {
                    margin-top: 0.5rem;
                }

                .steps-form .steps-row .steps-step button[disabled] {
                    opacity: 1 !important;
                    filter: alpha(opacity=100) !important;
                }

                .steps-form .steps-row .steps-step .btn-circle {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding: 6px 0;
                    font-size: 12px;
                    line-height: 1.428571429;
                    border-radius: 15px;
                    margin-top: 0;
                }
</style>

<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Policy Renewal</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @* <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>*@
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- Steps form -->
                <div class="card">
                    <div class="card-body mb-4">
                        <h2 class="text-center font-weight-bold pt-4 pb-5"><strong>Policy Renewal</strong></h2>
                        <!-- Stepper -->
                        <div class="steps-form">
                            <div class="steps-row setup-panel">
                                <div class="steps-step">
                                    <a href="#step-9" type="button" class="btn btn-indigo btn-circle">1</a>
                                    <p>Contact Details</p>
                                </div>
                                <div class="steps-step">
                                    <a href="#step-10" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                    <p>Ins. Co. Details</p>
                                </div>
                                <div class="steps-step">
                                    <a href="#step-11" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                    <p>Billing Details</p>
                                </div>
                                <div class="steps-step">
                                    <a href="#step-12" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                    <p>Confirm</p>
                                </div>
                            </div>
                        </div>
                        <form id="formRenewPolicy" asp-controller="Query" asp-action="SaveRenewPolicy" method="post" class="form-horizontal" enctype="multipart/form-data">
                            @*<form role="form" action="" method="post">*@
                            <input asp-for="PId" type="hidden" />
                            <input asp-for="QId" type="hidden" />
                            <!-- First Step -->
                            <div class="row setup-content" id="step-9">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Provide Your Contact Details</strong></h3>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="TypeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeList">
                                                            <option>---Select Policy Type---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="TypeName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="GroupId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                                            <option>---Select Group---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="GroupName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ContactPersonId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                            <option>---Select Contact Person---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="ContactPersonName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyHolderId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="PolicyHolderId" class="form-control" asp-items="ViewBag.PolicyHolderList">
                                                            <option>---Select Ploicy Holder---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="PolicyHolderName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="UnderWriteDate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="date" asp-for="UnderWriteDate" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="UnderWriteDate" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" style="height:42px; width:94px; background-color:#49b53f !important;float:right;margin-right:78px" type="button" onclick="ForConfirmDataStep1()">Next</button>
                                </div>
                            </div>

                            <!-- Second Step -->
                            <div class="row setup-content" id="step-10">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Provide Your InsCo. Details</strong></h3>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CategoryId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList" onchange="BindProductOffice()">
                                                            <option>---Select Category---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="CategoryName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="InsuranceCompanyId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyList" onchange="BindIssuingOffice();">
                                                            <option>---Select Company Name---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="InsuranceCompanyName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="IssuingOfficeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="IssuingOfficeId" class="form-control" asp-items="ViewBag.IssuingOfficeList">
                                                            <option>---Select Issuing Office---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="IssuingOfficeName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ProductId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductList" onchange="GetCommissionRate();">
                                                            <option>---Select Product---</option>
                                                        </select>
                                                    </div>
                                                    <input asp-for="ProductName" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" style="height:42px; width:94px;color:#FFFF !important;margin-left:78px;" type="button">Previous</button>
                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" style="height:42px; width:94px; background-color:#49b53f !important;float:right;margin-right:78px" type="button" onclick="ForConfirmData()">Next</button>
                                </div>
                            </div>

                            <!-- Third Step -->
                            <div class="row setup-content" id="step-11">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Provide Your Billing Details</strong></h3>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SubjectInsured"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="SubjectInsured" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="SubjectInsured" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CostCenter"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="CostCenter" class="form-control" maxlength="100" autocomplete="off" required />
                                                    </div>
                                                    <span asp-validation-for="CostCenter" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3" id="divODRate">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ODCommissionRate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="ODCommissionRate" class="form-control" maxlength="10" autocomplete="off" readonly onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3" id="divTPRate">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="TPCommissionRate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="TPCommissionRate" class="form-control" maxlength="10" autocomplete="off" readonly onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CommissionRate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="CommissionRate" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="CommissionRate" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="Premium"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="Premium" class="form-control" maxlength="12" autocomplete="off" required onkeypress="return isNumberKey(event)" onchange="CalculateNetPayable();" />
                                                    </div>
                                                    <span asp-validation-for="Premium" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="CGST" class="form-control" maxlength="12" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="CGST" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="SGST" class="form-control" maxlength="10" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="SGST" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PremiumPayable"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="PremiumPayable" class="form-control" maxlength="12" autocomplete="off" required onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                    <span asp-validation-for="PremiumPayable" class="alert-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="DiscountProvided"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-info-circle"></span></span>
                                                        <input asp-for="DiscountProvided" class="form-control" maxlength="10" autocomplete="off" onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" style="height:42px; width:94px;color:#FFFF !important;margin-left:78px;" type="button">Previous</button>
                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" style="height:42px; width:94px; background-color:#49b53f !important;float:right;margin-right:78px" type="button" onclick="ForConfirmData()">Next</button>
                                </div>
                            </div>

                            <!-- Fourth Step -->
                            <div class="row setup-content" id="step-12">
                                <h3 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Confirm Policy Details</strong></h3>
                                <br />
                                <h4 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Contact Details</strong></h4>
                                <hr class="my-5">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="TypeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @*<label id="tName" ></label>*@
                                                        <input id="tName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="GroupId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="gpName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ContactPersonId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="cpName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PolicyHolderId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="phName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="UnderWriteDate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="uwDate" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <h4 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>InsCo. Details</strong></h4>
                                    <hr class="my-5">

                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CategoryId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="ctName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="InsuranceCompanyId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="icName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="IssuingOfficeId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="ioName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ProductId"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="pName" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <h4 class="font-weight-bold pl-0 my-4" style="margin-left:80px;"><strong>Billing Details</strong></h4>
                                    <hr class="my-5">

                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SubjectInsured"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="subIns" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CostCenter"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="ctcen" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3" id="divODRate1">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="ODCommissionRate"></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input id="odComRate" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3" id="divTPRate1">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="TPCommissionRate"></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input id="tpComRate" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CommissionRate"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="cmRate" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="Premium"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="premium" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="CGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="cgs" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="SGST"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="sgs" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="PremiumPayable"></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input id="prePay" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mt-3">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label asp-for="DiscountProvided"></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input id="discount" type="text" style="color: #615353;" class="form-control" disabled="disabled">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                    <br />
                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" style="height:35px; width:auto; background-color:#49b53f !important;margin-left:78px;" type="button">Previous</button>
                                    <button class="btn btn-default btn-rounded float-right" style="height:35px; width:auto; background-color:#49b53f !important;float:right;margin-right:78px" type="submit">Renew Policy</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- Steps form -->

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.noConflict();
</script>


@*<script src="~/Content/Stepper/js/addons/datatables.min.js"></script>
    <script src="~/Content/Stepper/js/addons/datatables-select.min.js"></script>
    <script src="~/Content/Stepper/js/addons/directives.min.js"></script>
    <script src="~/Content/Stepper/js/addons/flag.min.js"></script>
    <script src="~/Content/Stepper/js/addons/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/Stepper/js/addons/jquery.zmd.hierarchical-display.min.js"></script>
    <script src="~/Content/Stepper/js/addons/masonry.pkgd.min.js"></script>
    <script src="~/Content/Stepper/js/addons/rating.min.js"></script>
    <script src="~/Content/Stepper/js/modules/animations-extended.min.js"></script>
    <script src="~/Content/Stepper/js/modules/forms-free.min.js"></script>
    <script src="~/Content/Stepper/js/modules/scrolling-navbar.min.js"></script>
    <script src="~/Content/Stepper/js/modules/treeview.min.js"></script>
    <script src="~/Content/Stepper/js/modules/wow.min.js"></script>
    <script src="~/Content/Stepper/js/bootstrap.js"></script>
    <script src="~/Content/Stepper/js/jquery.js"></script>
    <script src="~/Content/Stepper/js/mdb.js"></script>
    <script src="~/Content/Stepper/js/popper.js"></script>
    <script src="~/Content/Stepper/src/js/free/forms-free.js"></script>
    <script src="~/Content/Stepper/src/js/free/scrolling-navbar.js"></script>
    <script src="~/Content/Stepper/src/js/free/treeview.js"></script>
    <script src="~/Content/Stepper/src/js/free/wow.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/addons/datatables.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/addons/datatables-select.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/addons/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/addons/jquery.zmd.hierarchical-display.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/addons/masonry.pkgd.min.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/addons/rating.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/free/waves.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/free/velocity.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/free/jquery.easing.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/free/enhanced-modals.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/free/chartjs-datalabels.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/free/chart.js"></script>
    <script src="~/Content/Stepper/src/js/vendor/free/bs-custom-file-input.js"></script>*@

<script src="~/Content/Stepper/js/addons/datatables.min.js"></script>
<script src="~/Content/Stepper/js/addons/datatables-select.min.js"></script>
<script src="~/Content/Stepper/js/addons/directives.min.js"></script>
<script src="~/Content/Stepper/js/addons/flag.min.js"></script>
<script src="~/Content/Stepper/js/addons/imagesloaded.pkgd.min.js"></script>
<script src="~/Content/Stepper/js/addons/jquery.zmd.hierarchical-display.min.js"></script>
<script src="~/Content/Stepper/js/addons/masonry.pkgd.min.js"></script>
<script src="~/Content/Stepper/js/addons/rating.min.js"></script>
<script src="~/Content/Stepper/js/modules/animations-extended.min.js"></script>
<script src="~/Content/Stepper/js/modules/forms-free.min.js"></script>
<script src="~/Content/Stepper/js/modules/scrolling-navbar.min.js"></script>
<script src="~/Content/Stepper/js/modules/treeview.min.js"></script>
<script src="~/Content/Stepper/js/modules/wow.min.js"></script>
<script src="~/Content/Stepper/js/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-indigo').addClass('btn-default');
                $item.addClass('btn-indigo');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepSteps = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepSteps.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-indigo').trigger('click');
    });
</script>

<script type="text/javascript">
    function ForConfirmData() {

        // Contact Details
        var typeId = $('#TypeId').val();
        var tpName = $("#TypeId option:selected").text();

        var groupId = $('#GroupId').val();
        var gpName = $("#GroupId option:selected").text();

        var contactPersonId = $('#ContactPersonId').val();
        var cpName = $("#ContactPersonId option:selected").text();

        var policyHolderId = $('#PolicyHolderId').val();
        var phName = $("#PolicyHolderId option:selected").text();

        var underWriteDate = $('#UnderWriteDate').val();

        // Insurance Company Details
        var categoryId = $('#CategoryId').val();
        var ctName = $("#CategoryId option:selected").text();

        var insuranceCompanyId = $('#InsuranceCompanyId').val();
        var icName = $("#InsuranceCompanyId option:selected").text();

        var issuingOfficeId = $('#IssuingOfficeId').val();
        var ioName = $("#IssuingOfficeId option:selected").text();

        var productId = $('#ProductId').val();
        var pName = $("#ProductId option:selected").text();

        // Billing Details
        var subjectInsured = $('#SubjectInsured').val();
        var costCenter = $('#CostCenter').val();
        var commissionRate = $('#CommissionRate').val();
        var premium = $('#Premium').val();
        var cGST = $('#CGST').val();
        var sGST = $('#SGST').val();
        var premiumPayable = $('#PremiumPayable').val();
        var disc = $('#DiscountProvided').val();
        var odRate = $('#ODCommissionRate').val();
        var tpRate = $('#TPCommissionRate').val();

        $('#tName').val(tpName);
        $('#gpName').val(gpName);
        $('#cpName').val(cpName);
        $('#phName').val(phName);
        $('#uwDate').val(underWriteDate);
        $('#ctName').val(ctName);
        $('#icName').val(icName);
        $('#ioName').val(ioName);
        $('#pName').val(pName);
        $('#subIns').val(subjectInsured);
        $('#ctcen').val(costCenter);
        $('#cmRate').val(commissionRate);
        $('#premium').val(premium);
        $('#cgs').val(cGST);
        $('#sgs').val(sGST);
        $('#prePay').val(premiumPayable);
         $('#discount').val(disc);
        $('#odComRate').val(odRate);
        $('#tpComRate').val(tpRate);

    }

    function ForConfirmDataStep1() {
        var group = $("#GroupId").val();
        if (group == "") {
            alert("Group Not Selected");

            return false;
        }

    }
</script>

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<script type="text/javascript">
    //function GetCommissionRate() {
    //    var prId = $('#ProductId').val();
    //    //$('#CityId').empty().append(" <option value=''>---select City---</option>");
    //    $.ajax({
    //        url: "/Query/GetCommissionRateOfProduct",
    //        type: "POST",
    //        dataType: "json",
    //        async: false,
    //        data: { 'ProductId': prId },
    //        success: function (data) {
    //            $('#CommissionRate').val(data);
    //        }
    //    });
    //}

    function GetCommissionRate() {
        var prId = $('#ProductId').val();
        var catId = $('#CategoryId').val();
        if (catId == '13') {
            $('#divODRate').show();
            $('#divTPRate').show();
            $('#divODRate1').show();
            $('#divTPRate1').show();
        }
        else {
            $('#divODRate').hide();
            $('#divTPRate').hide();
            $('#divODRate1').hide();
            $('#divTPRate1').hide();
        }
        //$('#CityId').empty().append(" <option value=''>---select City---</option>");
        $.ajax({
            url: "/Query/GetCommissionRateOfProduct",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'ProductId': prId },
            success: function (data) {
                //debugger;
                //console.log(data);
                //alert(data.rate);
                //alert(data.odRate);
                $('#CommissionRate').val(data.totalrate);
                $('#ODCommissionRate').val(data.odRate);
                $('#TPCommissionRate').val(data.rate);
                
            }
        });
    }

    function CalculateNetPayable() {
        var premium = $('#Premium').val();
        var calTax = ((parseFloat(premium) * 9) / 100).toFixed(2);
        var calTotal = parseFloat(premium) + parseFloat(calTax) + parseFloat(calTax);
        $('#CGST').val(calTax);
        $('#SGST').val(calTax);
        $('#PremiumPayable').val(calTotal.toFixed(2));
        //alert(parseFloat(calTotal));
    }

     function BindIssuingOffice() {
        var InsCo = $('#InsuranceCompanyId').val();
        $('#IssuingOfficeId').empty().append(" <option value=''>---Select Issuing Office---</option>");
        $.ajax({
            url: "/Report/GetIssuingOfcListbyInsCoId",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'InsuranceCompanyId': InsCo },
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {

                    if (data.results != '' || data.results != null);
                    {
                        for (i = 0; i < data.results.length; i++) {
                            $('#IssuingOfficeId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                        }
                    }
                    //else {
                    //$('#IssuingOfficeId').val(0);
                }
            }
        });
        BindProductOffice();
    }

    function BindProductOffice() {
        var InsCo = $('#InsuranceCompanyId').val();

        if (InsCo == '' || InsCo == 0) {
            return false;
        }

        var catid = $('#CategoryId').val();
        if (catid == '' || catid == 0) {
            return false;
        }


        $('#ProductId').empty().append(" <option value=''>---Select Product---</option>");


        $.ajax({
            url: "/Report/GetCategorylistListbyInsCoId",
            type: "POST",
            dataType: "json",
            async: false,
            data: { 'InsuranceCompanyId': InsCo,'catid': catid},
            success: function (data) {
                //console.log(data);
                //alert(data.results);
                if (data.results) {

                    if (data.results != '' || data.results != null);
                    {
                        for (i = 0; i < data.results.length; i++) {
                            $('#ProductId').append("<option value='" + data.results[i].value + "'>" + data.results[i].text + "</option>");
                        }
                    }
                    //else {
                    //$('#IssuingOfficeId').val(0);
                }
            }
        });
    }

</script>