﻿@model CoreStructure_APP.Models.Policy_Filter
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using CoreStructure_APP.Utility


@{
    ViewBag.Title = "Renew Policy";
    ViewBag.Active = "Renew Policy";
    ViewBag.Open = "Renew Policy";
    ViewBag.Panel = "Policy";
    ViewData["Title"] = "Renew Policy";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

}



<div style="display:none">

    @{
        string usertype = "";
        string userpozone = "";
        foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
        {
            if (cookie.Key == "EmpName")
            {
                <div class="profile-data-name">@cookie.Value</div>
            }
            if (cookie.Key == "UType")
            {
                <div class="profile-data-title">@cookie.Value</div>
                usertype = cookie.Value;
            }
            if (cookie.Key == "UPOCompId")
            {
                userpozone = cookie.Value;
            }

        }
    }

</div>


<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-6">
                        <h3 class="panel-title"><strong>Policy Renewal</strong></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @* <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddQuery", "Query") '"><i class="fa fa-list"></i> New Query</button>*@
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form id="formQuery" asp-controller="Query" asp-action="RenewalPolicies" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row" style="margin-left:5px !important">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="FromDate"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="FromDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ToDate"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                <input type="date" asp-for="ToDate" class="form-control" maxlength="100" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="InsuranceCompanyId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyList">
                                                    <option>---Select Insurance Company---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="GroupId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                                    <option>---Select Group---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="ContactPersonId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonList">
                                                    <option>---Select Contact Person---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="CategoryId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                                                    <option>---Select Category---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label asp-for="PolicyHolderId"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                <select asp-for="PolicyHolderId" class="form-control" asp-items="ViewBag.PolicyHolderList">
                                                    <option>---Select Policy Holder---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">

                                </div>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">

                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-eye"> View</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Policy No.</th>
                                        <th>Policy Date</th>
                                        <th>Expiry Date</th>
                                        <th>Policy Holder</th>
                                        <th>Contact Person</th>
                                        <th>Insurance Co.</th>
                                        <th>Issuing Office</th>
                                        @*<th>Premium</th>*@
                                        <th>Category</th>
                                        <th>Product</th>
                                        <th>Subject Insured</th>
                                        <th>Cost Center</th>

                                        @if (usertype != Standard.StandardUserType.subsuperadmin)
                                        {

                                            <th>Action</th>

                                        }
                                        @*<th>Status</th>*@
                                        @*<th>Edit</th>
        <th>Delete</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.PolicyList != null)
                                    {
                                        foreach (var item in ViewBag.PolicyList)
                                        {
                                            { SNo = SNo + 1; }
                                    <tr>
                                        <td>@SNo<span></span></td>
                                        <td>@item.PolicyNo</td>
                                        <td>@item.PolicyDate</td>
                                        <td>@item.ExpiryDate</td>
                                        <td>@item.PolicyHolderName</td>
                                        <td>@item.ContactPersonName</td>
                                        <td>@item.InsuranceCompanyName</td>
                                        <td>@item.IssuingOfficeName</td>
                                        @*<td>@item.PremiumPayable</td>*@
                                        <td>@item.CategoryName</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.SubjectInsured</td>
                                        <td>@item.CostCenter</td>

                                        @if (usertype != Standard.StandardUserType.subsuperadmin)
                                        {

                                            <td>
                                                @if (item.IsRenewal == 0)
                                                {
                                                    <a class="btn btn-success btn-md btn-rounded" title="Renew Policy" href="@Url.Action("RenewPolicy", "Query", new { @PId = item.PId })" onclick="return confirm('Are you sure you want to Renew this Policy?');"> Renew </a>
                                                    @*<a class="btn btn-default btn-md btn-rounded" href="@Url.Action("GeneratePolicy", "Query", new { @PId = item.PId })"> Generate </a>*@
                                                }
                                            </td>
                                        }
                                        </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Close Query</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label> Remarks</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group"></span>
                                        <input type="hidden" id="queryId" />
                                        <input id="closeRemark" class="form-control" maxlength="100" autocomplete="off" required />
                                    </div>
                                    <span id="closeRequired" class="alert-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default" onclick="SubmitCloseRemark()">Submit</button>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script src="~/Content/datatable/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#sample_1').DataTable({
        });
    });
</script>

<script type="text/javascript">

    $(document).on("click", ".open-CloseQuery", function () {
        var myQID = $(this).data('id');
        $(".modal-body #queryId").val(myQID);
    });

    function SubmitCloseRemark() {
        var clRemark = $('#closeRemark').val();
        var qId = $('#queryId').val();
        if (clRemark == '' || clRemark == null) {
            alert('Please Enter a Reason');
        }
        else {
            $.ajax({
                url: "/Query/CloseQuery",
                type: "POST",
                dataType: "json",
                async: false,
                data: { 'QId': qId, 'Remark': clRemark },
                success: function (data) {
                    window.location.href = '/Query/ManageQuery'
                }
            });
        }
    }
</script>
