﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model CoreStructure_APP.Models.Users
@{
    ViewBag.Title = "Admin Profile";
    ViewBag.Active = "AdminProfile";
    ViewBag.Panel = "Admin Profile";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

    var photoPath = "";
    if(Model.fileName != null && Model.fileName != "")
    {
        photoPath = "~/UserImages/" + (Model.fileName ?? "no-image.jpg");
    }
    else
    {
        photoPath = "~/Content/Images/user-images.png";
    }
}


<form asp-controller="Auth" asp-action="AdminProfile" method="post" class="form-horizontal">

    <div class="@ViewBag.HideClass" style="text-align:center">
        @ViewBag.Message
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title">ADMIN PROFILE</h3>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="col-md-4">
                        @*<img src="~/Content/Images/user-images.png" alt="avatar" id="Image1" class="Image1" style="width:50%;">*@
                        <img src="@photoPath" asp-append-version="true" alt="avatar" id="Image1" class="Image1" style="width:50%;">
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Name</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-building-o"></span></span>
                                    <input asp-for="Name" class="form-control" maxlength="100" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>User Name</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                    <input asp-for="UserName" class="form-control" maxlength="100" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Address</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-home"></span></span>
                                    <input asp-for="Address" class="form-control" maxlength="100" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Date Of Birth</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input asp-for="DOB" class="form-control" maxlength="100" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Mobile</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                    <input asp-for="MobileNo" class="form-control" maxlength="100" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Email</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                    <input asp-for="EmailId" class="form-control" maxlength="100" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</form>
