﻿@{
    //Layout = "~/Views/Shared/_LayoutForbiddenError.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>PIB || UnAuthorized Access</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/Content/Theme1/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="error-container">
        <div class="error-code" style="font-size:15px !important">403</div>
        <div class="error-text" style="font-size:15px !important">Forbidden error</div>
        @*<div class="error-subtext">I’m sorry. I know who you are–I believe who you say you are–but you just don’t have permission to access this resource.</div>*@
    <div class="error-subtext" style="font-size:20px !important">You dont have access to this page, Please contact your HID-e Administrater</div>
        <div class="error-actions">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-info btn-block btn-lg" onClick="location.href = '@Url.Action("Index", "Home")'">Back to dashboard</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block btn-lg" onClick="location.href = '@Url.Action("Login", "Auth")'">Login page</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



