﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model CoreStructure_APP.Models.ResetPassword_Model
@{
    ViewBag.Title = "User Change Password";
    ViewBag.Active = "UserChangePassword";
    ViewBag.Open = "UserChangePassword";
    ViewBag.Panel = "UserChangePassword";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];
}


<form asp-controller="Auth" asp-action="UserChangePassword" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
        @ViewBag.Message
    </div>
       
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title">CHANGE PASSWORD</h3>
                        </div>
                    </div>

                </div>
                <input type="hidden" asp-for="SLNO" />
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label asp-for="Current_Password"></label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="password" asp-for="Current_Password" class="form-control" maxlength="20" autocomplete="off" required />
                                        <span asp-validation-for="Current_Password" class="alert-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label asp-for="New_Password"></label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="password" asp-for="New_Password" class="form-control" maxlength="20" autocomplete="off" required />
                                        <span asp-validation-for="New_Password" class="alert-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label asp-for="Confirm_Password"></label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="password" asp-for="Confirm_Password" class="form-control" maxlength="20" autocomplete="off" required />
                                        <span asp-validation-for="Confirm_Password" class="alert-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" value="Submit" class="btn btn-success"><i class="fa fa-save"> Submit</i></button>
                </div>
            </div>
        </div>
    </div>

</form>
