﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model CoreStructure_APP.Models.Users
@{
    ViewBag.Title = "User Profile";
    ViewBag.Active = "UserProfile";
    ViewBag.Open = "UserProfile";
    ViewBag.Panel = "UserProfile";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];

   var photoPath = "";
    if(Model.fileName != null && Model.fileName != "")
    {
        photoPath = "~/UserImages/" + (Model.fileName ?? "no-image.jpg");
    }
    else
    {
        photoPath = "~/Content/Images/user-images.png";
    }
}


<form asp-controller="Auth" asp-action="UserProfile" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="@ViewBag.HideClass" style="text-align:center">
        @ViewBag.Message
    </div>       
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title">USER PROFILE</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body profile" style="background: url('~/Content/Images/user-images.png') center center no-repeat;">
                                    <div class="profile-image">
                                        @*<img src="~/Content/Images/user-images.png" alt="User Image" style="width:100% !important"  />*@
                                        <img src="@photoPath" alt="User Image" asp-append-version="true" style="width:100% !important" />
                                    </div>
                                </div>
                                <div class="panel-body list-group border-bottom">
                                    <p class="list-group-item" style="font-weight:bold;font-size:25px;">@Model.Name</p>
                                    <p class="list-group-item"><span class="fa fa-map-marker"></span> @Model.CityName, @Model.StateName</p>
                                    <p class="list-group-item"><span class="fa fa-briefcase"></span> @Model.RoleName</p>
                                    <p class="list-group-item"><span class="fa fa-phone"></span> @Model.MobileNo</p>
                                    <p class="list-group-item"><span class="fa fa-envelope"></span> @Model.EmailId</p>
                                    @*<a href="#" class="list-group-item active"><span class="fa fa-edit" data-toggle="modal" data-target="#myModal"></span> Edit Profile</a>
                                    <button type="button" id="header-book-bow" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="fa fa-edit">Edit Profile</span></button>*@
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div style="background-color:whitesmoke;">
                                &nbsp;
                                <div class="row">
                                    <input asp-for="UserId" type="hidden" />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label style="font-size:20px;"> User Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-list-ol"></span></span>
                                                    <input asp-for="UserName" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="FatherName" style="font-size:20px;"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-building-o"></span></span>
                                                    <input asp-for="FatherName" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="MotherName" style="font-size:20px;"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                                    <input asp-for="MotherName" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="DOJ" style="font-size:20px;"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input asp-for="DOJ" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label asp-for="DOB" style="font-size:20px;"></label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input asp-for="DOB" class="form-control" maxlength="100" autocomplete="off" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                            &nbsp;
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @*<input type="button" value="Change Password" class="btn btn-info" />*@
                                        <a href="@Url.Action("UserChangePassword", "Auth",new { Area=""}, null)" class="btn btn-info" title="change password" style="margin-left: 80px;"> Change Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h3 class="panel-title">Address Details</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label asp-for="Address"></label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Model.Address, @Model.Town
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label asp-for="CityName"></label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Model.CityName
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label asp-for="StateName"></label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Model.StateName
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label asp-for="EmergencyContactNo"></label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Model.EmergencyContactNo
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label asp-for="NameRelation"></label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Model.NameRelation
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label>Status</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @if (@Model.UserId > 0)
                                                                    {
                                                                        <p style="color:green">Active</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p style="color:red">InActive</p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                &nbsp;                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

        var $j = jQuery.noConflict(true);

        function onChange(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $j('#Image1').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $j("#filename1").change(function () {
            onChange(this);
        });


        $j('#DOB').focusout(function () {

            var dates = $j('#DOB').val();
            var age = getAge(dates);
            if (age > 14) {
                $j('#DOBError').hide();
            }
            else {
                $j('#DOB').focus();
                $j('#DOBError').show();
            }
        });

        function getAge(dateString) {
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }

    </script>
</form>
