﻿@model CoreStructure_APP.Models.Task_Table
@{
    ViewData["Title"] = "_TotalTaskFilterWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row row-eq-height">
    <div class="col-12 col-lg-4 mt-3 pr-lg-0">
        <div class="card" style="min-height:456px">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Todo</h4>
                <div class="dropdown">
                    @Enumerable.Count(Model.results.Where(x => x.StatusId == 1 || x.StatusId == 4 || x.StatusId == 0)) Tasks
                </div>
            </div>
            <div class="card-body">
                <ul class="tasks chat-menu" id="task-list-1">
                    @if (Model.results.Count > 0)
                    {

                        foreach (var item in Model.results.Where(x => x.StatusId == 1 || x.StatusId == 4 || x.StatusId == 0))
                        {
                            <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                <label class="">
                                    <i class="fa fa-folder-open fa-2x" style="color: #FF5733" aria-hidden="true"></i>
                                    <b> <a href="/ToDo/TaskDetails?Id=@item.Id">@item.Title</a></b>  <br><span class="text-muted"> @item.AssignBy</span>
                                    <span class="checkmark mt-2"></span>

                                    @if (item.Priority == "High")
                                    {
                                        <span class="badge p-2 badge-danger mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }
                                    else if (item.Priority == "Medium")
                                    {
                                        <span class="badge p-2 badge-warning mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-primary p-2 mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }

                                </label>
                                <div class="ml-auto d-flex">
                                    <a href="#" data-toggle="modal" onclick="bindtodoid(@item.Id,@item.Isaccepted)" data-target="#edittodo"><i class="icon-pencil"></i></a>
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>


    </div>

    <div class="col-12 col-lg-4 mt-3 pr-lg-0">
        <div class="card" style="min-height:456px">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">In progress</h4>
                <div class="dropdown">
                    @Enumerable.Count(Model.results.Where(x => x.StatusId == 2)) Tasks
                </div>
            </div>


            <div class="card-body">
                <ul class="tasks chat-menu" id="task-list-2">
                    @if (Model.results.Count > 0)
                    {
                        foreach (var item in Model.results.Where(x => x.StatusId == 2))
                        {
                            <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                <label class="">
                                    <i class="fa fa-cogs fa-2x" style="color: #D49E50" aria-hidden="true"></i>
                                    <b> <a href="TaskDetails?Id=@item.Id">@item.Title</a></b>  <br><span class="text-muted"> @item.AssignTo</span>
                                    <span class="checkmark mt-2"></span>
                                    @if (item.Priority == "High")
                                    {
                                        <span class="badge p-2 badge-danger mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }
                                    else if (item.Priority == "Medium")
                                    {
                                        <span class="badge p-2 badge-warning mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-primary p-2 mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }


                                </label>
                                <div class="ml-auto d-flex">
                                    <a href="#" data-toggle="modal" onclick="bindtodoid(@item.Id,@item.Isaccepted)" data-target="#edittodo"><i class="icon-pencil"></i></a>
                                </div>
                            </li>
                        }
                    }


                </ul>
            </div>
        </div>
    </div>



    <div class="col-12 col-lg-4 mt-3 pr-lg-0">
        <div class="card" style="min-height:456px">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Completed</h4>
                <div class="dropdown">
                    @Enumerable.Count(Model.results.Where(x => x.StatusId == 3)) Tasks
                </div>
            </div>
            <div class="card-body">
                <ul class="tasks chat-menu" id="task-list-3">
                    @if (Model.results.Count > 0)
                    {
                        foreach (var item in Model.results.Where(x => x.StatusId == 3))
                        {
                            <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                <label class="">
                                    <i class="fa fa-thumbs-up fa-2x" style="color: #39980F" aria-hidden="true"></i>
                                    <b> <a href="TaskDetails?Id=@item.Id">@item.Title</a></b>  <br><span class="text-muted"> @item.AssignTo</span>
                                    <span class="checkmark mt-2"></span>
                                    @if (item.Priority == "High")
                                    {
                                        <span class="badge p-2 badge-danger mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }
                                    else if (item.Priority == "Medium")
                                    {
                                        <span class="badge p-2 badge-warning mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-primary p-2 mb-1" style="margin-left: 252px;">@item.Priority</span>
                                    }
                                </label>
                                <div class="ml-auto d-flex">
                                    <a href="#" data-toggle="modal" onclick="bindtodoid(@item.Id,@item.Isaccepted)" data-target="#edittodo"><i class="icon-pencil"></i></a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>*@

