﻿@model CoreStructure_APP.Models.Task_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Add Task";
    ViewBag.Active = "AddTask";
    ViewBag.Open = "Add Task";
    ViewBag.Panel = "ToDo";
    ViewData["Title"] = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function GetVerticalDiv() {

        var Assignto = $('#AssignToId').val();
        if (Assignto == 2) {
            $('#divVertical').show();
        }
        else {
            $('#divVertical').hide();
        }
    }


</script>
<script>

    $(document).ready(function () {
        $("#StartDate").datepicker({
            dateFormat: "dd-mm-yy",
            minDate: -0,
            maxDate: "+0M +0D"

        });
    });
</script>
<script type="text/javascript">
    function checkfrequency() {
        var FrequencyId = $('#Frequency').val();
        if (FrequencyId == 3) {
            $('#divstrt').show();
            $('#divend').show();
        }
        else {
            $('#divstrt').hide();
            $('#divend').hide();
        }
    }
</script>
<main>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Add Task</h4></div>
                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item"><a href="Index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Add Task</a></li>
                    </ol>
                    <br />
                </div>
            </div>

            <div class="col-12  align-self-center @ViewBag.HideClass" id="success-alert">
                <div class="card-content white-text">
                    <p> @ViewBag.Message</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 mt-4">
                <div class="card">
                    @*<div class="card-header">
                            <h4 class="card-title">Form Inputs</h4>
                        </div>*@

                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form id="formActivity" asp-controller="ToDo" asp-action="SaveTask" method="post" class="form-horizontal" enctype="multipart/form-data">
                                        @Html.HiddenFor(x => x.FrequencyId)
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label asp-for="Date"></label> <span style="color:red">*</span>
                                                <input asp-for="Date" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="Date" required />
                                                <span asp-validation-for="Date" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="Title"></label> <span style="color:red">*</span>
                                                <input asp-for="Title" class="form-control" autocomplete="off" placeholder="Title" required />
                                                <span asp-validation-for="Title" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="PriorityId"></label> <span style="color:red">*</span>
                                                <select asp-for="PriorityId" class="form-control" asp-items="ViewBag.PriorityList">
                                                    <option value="">---Select Priority---</option>
                                                </select>
                                                <span asp-validation-for="PriorityId" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label asp-for="FrequencyId"></label> <span style="color:red">*</span>
                                                <select id="Frequency" class="form-control" onchange="checkfrequency()">
                                                    <option value="0">--Select Frequency--</option>
                                                    <option value="1">Can't Determine</option>
                                                    <option value="2">Continue</option>
                                                    <option value="3">Deadline Based</option>
                                                </select>
                                                <span asp-validation-for="FrequencyId" class="alert-danger"></span>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <label asp-for="Description"></label> <span style="color:red">*</span>
                                                <input asp-for="Description" class="form-control" autocomplete="off" placeholder="Description" rows="5" required />
                                                <span asp-validation-for="Description" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            @*<div class="form-group col-md-4">
                <label asp-for="AssignToId"></label> <span style="color:red">*</span>
                <select asp-for="AssignToId" class="form-control" onchange="GetVerticalDiv()">
                    <option value="">---Assign To---</option>
                    <option value="1">Self</option>
                    <option value="2">Other</option>
                </select>
                <span asp-validation-for="AssignToId" class="alert-danger"></span>
            </div>*@
                                            <div class="form-group col-md-4" id="divVertical">
                                                <label asp-for="Verticals"></label> <span style="color:red">*</span>
                                                <select asp-for="Verticals" class="form-control" asp-items="ViewBag.VerticalList" onchange="GetVerticaldata()">
                                                    <option value="">---Select Vertical---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="Clientid"></label> <span style="color:red">*</span>
                                                <select asp-for="Clientid" class="form-control" asp-items="ViewBag.ClientList" onchange="Getbindproject()">
                                                    <option value="">---Select Client---</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4" id="divproject" style="display:none">
                                                <label asp-for="Projectid"></label> <span style="color:red">*</span>
                                                <select asp-for="Projectid" class="form-control" asp-items="ViewBag.Projectlist" onchange="getbindmodules()">
                                                    <option value="">---Select Project---</option>
                                                </select>
                                            </div>


                                            <div class="form-group col-md-4" id="divmodules" style="display:none">
                                                <label asp-for="Moduleid"></label> <span style="color:red">*</span>
                                                <select asp-for="Moduleid" class="form-control" asp-items="ViewBag.Modulelist">
                                                    <option value="">---Select Module---</option>
                                                </select>
                                            </div>


                                            <div class="form-group col-md-4" id="divactivity" style="display:none">
                                                <label asp-for="Activityid"></label> <span style="color:red">*</span>
                                                <select asp-for="Activityid" class="form-control" asp-items="ViewBag.ActivityList" onchange="getsubactivity()">
                                                    <option value="">---Select Activity---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" id="divcategory" style="display:none">
                                                <label asp-for="Categoryid"></label> <span style="color:red">*</span>
                                                <select asp-for="Categoryid" class="form-control" asp-items="ViewBag.CategoryList" onchange="getsubcategory()">
                                                    <option value="">---Select Category---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" id="divsubcategory" style="display:none">
                                                <label asp-for="Subcategoryid"></label> <span style="color:red">*</span>
                                                <select asp-for="Subcategoryid" class="form-control" asp-items="ViewBag.SubcategoryList">
                                                    <option value="">---Select Sub Category---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4" id="divsubactivity" style="display:none">
                                                <label asp-for="Subactivityid"></label> <span style="color:red">*</span>
                                                <select asp-for="Subactivityid" class="form-control" asp-items="ViewBag.SubActivityList">
                                                    <option value="">---Select Sub Activity---</option>
                                                </select>
                                            </div>


                                            <div class="form-group col-md-4" id="divstrt" style="display:block">
                                                <label asp-for="StartDate"></label> <span style="color:red">*</span>
                                                <input asp-for="StartDate" class="form-control datepicker" onchange="checkstdate()" maxlength="100" autocomplete="off" placeholder="Start Date" required />
                                                <span asp-validation-for="StartDate" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4" id="divend" style="display:block">
                                                <label asp-for="EndDate"></label> <span style="color:red">*</span>
                                                <input asp-for="EndDate" class="form-control datepicker" maxlength="100" onchange="checkstdate1()" autocomplete="off" placeholder="End Date" required />
                                                <span asp-validation-for="EndDate" class="alert-danger"></span>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-primary" onclick="SaveTaskDetails()"><i class="fa fa-save"> Save</i></button>
                                        <img src="~/Content/loading.gif" id="imgloader" style="display:none" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<script type="text/javascript">


    function GetVerticaldata() {

        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetClientlist",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#Clientid").empty();
                if (data) {
                    $('#Clientid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Clientid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                } else {
                    $('#Clientid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

        $.ajax({
            url: "/TODO/GetActivitylist",
            type: "POST",
            dataType: "json",

            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#Activityid").empty();
                $("#Subactivityid").empty();
                if (data) {
                    $('#Activityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Activityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Activityid').append("<option value='0'>--- Select --</option>");
                }
            }
        });


        if (Verticals == 4) {

            $('#divproject').show();
            $('#divmodules').show();
            $('#divactivity').show();
            $('#divsubactivity').show();
        }
        else if (Verticals == 5) {
            $('#divproject').show();
            $('#divcategory').show();
            $('#divsubcategory').show();
            $('#divactivity').hide();
            $('#divsubactivity').hide();
            $('#divmodules').hide();
        } else {
            $('#divproject').hide();
            $('#divmodules').hide();
            $('#divcategory').hide();
            $('#divsubcategory').hide();
            $('#divactivity').show();
            $('#divsubactivity').show();
        }


    }
    function Getbindproject() {

        var Clientid = $('#Clientid').val();
        var Verticals = $('#Verticals').val();

        $.ajax({
            url: "/TODO/GetProject",
            type: "POST",
            dataType: "json",

            data: { 'Clientid': Clientid, 'Verticals': Verticals },
            success: function (data) {

                $("#Projectid").empty();
                if (data) {
                    $('#Projectid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Projectid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Projectid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }
    function getbindmodules() {

        var Projectid = $('#Projectid').val();
        var Verticals = $('#Verticals').val();

        $.ajax({
            url: "/TODO/GetProjectModules",
            type: "POST",
            dataType: "json",

            data: { 'Projectid': Projectid, 'Verticals': Verticals },
            success: function (data) {

                $("#Moduleid").empty();
                if (data) {
                    $('#Moduleid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Moduleid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Moduleid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }
    function getsubactivity() {
        var Id = $('#Activityid').val();
        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetSubActivityList",
            type: "POST",
            dataType: "json",

            data: { 'ActivityId': Id, 'Verticals': Verticals },
            success: function (data) {

                $("#Subactivityid").empty();

                if (data) {
                    $('#Subactivityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {

                        $('#Subactivityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Subactivityid').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }


    function getsubcategory() {
        var Id = $('#Categoryid').val();
        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetSubCategoryList",
            type: "POST",
            dataType: "json",

            data: { 'Categoryid': Id, 'Verticals': Verticals },
            success: function (data) {

                $("#Subcategoryid").empty();

                if (data) {
                    $('#Subcategoryid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {

                        $('#Subcategoryid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Subcategoryid').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }
    function SaveTaskDetails() {


        $('#imgloader').show();

        var Date = $('#Date').val();
        if (Date == '' || Date == null) {
            swal("Date can't be blank");
            return false;
        }
        var Title = $('#Title').val();
        if (Title == '' || Title == null) {
            swal("Title can't be blank");
            return false;
        }
        var PriorityId = $('#PriorityId').val();
        if (PriorityId == '' || PriorityId == null) {
            swal("Priority can't be blank");
            return false;
        }
        var FreqId = $('#Frequency').val();
        $('#FrequencyId').val(FreqId);
        if (FreqId == '' || FreqId == null) {
            swal("Frequency can't be blank");
            return false;
        }
        var Description = $('#Description').val();
        if (Description == '' || Description == null) {
            swal("Description can't be blank");
            return false;
        }
        var Verticals = $('#Verticals').val();
        if (Verticals == '' || Verticals == null) {
            swal("Vertical can't be blank");
            return false;
        }

        var Clientid = $('#Clientid').val();
        if (Clientid == 0 || Clientid == null) {
            swal("Client can't be blank");
            return false;
        }
        else if (Verticals == 4) {
            var Projectid = $('#Projectid').val();
            if (Projectid == 0 || Projectid == null) {
                swal("Project can't be blank");
                return false;
            }
            var Moduleid = $('#Moduleid').val();
            if (Moduleid == 0 || Moduleid == null) {
                swal("Module can't be blank");
                return false;
            }
        }
        else if (Verticals == 5) {
            var Projectid = $('#Projectid').val();
            if (Projectid == 0 || Projectid == null) {
                swal("Project can't be blank");
                return false;
            }
        }
        if (Verticals == 5) {
            var Categoryid = $('#Categoryid').val();
            if (Categoryid == 0 || Categoryid == null) {
                swal("Category can't be blank");
                return false;
            }
            var Subcategoryid = $('#Subcategoryid').val();
            if (Subcategoryid == 0 || Subcategoryid == null) {
                swal("Sub Category can't be blank");
                return false;
            }
        }
        else {
            var Activityid = $('#Activityid').val();
            if (Activityid == 0 || Activityid == null) {
                swal("Activity can't be blank");
                return false;
            }
            var Subactivityid = $('#Subactivityid').val();
            if (Subactivityid == 0 || Subactivityid == null) {
                swal("Sub Activity can't be blank");
                return false;
            }
        }
        if (FreqId == 3) {
            var StartDate = $('#StartDate').val();
            if (StartDate == '' || StartDate == null) {
                swal("Start Date can't be blank");
                return false;
            }
            var EndDate = $('#EndDate').val();
            if (EndDate == '' || EndDate == null) {
                swal("End Date can't be blank");
                return false;
            }
        }

        $('#formActivity').submit();

        $('#imgloader').hide();
    }

</script>

<script type="text/javascript">



    function checkstdate() {

        var StartDate = $('#StartDate').val();
        var res = StartDate.split("-");
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;
        var g1 = new Date(today);
        var g2 = new Date(res[2] + "-" + res[1] + "-" + res[0]);
        if (g1 > g2) {
            swal('Do not enter back date');
            $('#StartDate').val('');
        }
    }

    function checkstdate1() {

        var StartDate = $('#EndDate').val();
        var res = StartDate.split("-");
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;
        var g1 = new Date(today);
        var g2 = new Date(res[2] + "-" + res[1] + "-" + res[0]);
        if (g1 > g2) {
            swal('Do not enter back date');
            $('#EndDate').val('');
        }
    }


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

         var Verticals = "@Model.HDVertical";
        $('#Verticals').val(Verticals);
        GetVerticaldata();

    });

</script>