﻿@model CoreStructure_APP.Models.Task_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IJsonHelper Json;
@{
    ViewBag.Title = "Edit Assign Task";
    ViewBag.Active = "EditAssignTask";
    ViewBag.Open = "Edit Assign Task";
    ViewBag.Panel = "ToDo";
    ViewData["Title"] = "Edit Assign Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <div class="container-fluid">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Edit Assign Task</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item"><a href="Index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Edit Assign Task</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->
        <!-- START: Card Data-->

        <div class="row">
            <div class="col-12 mt-4">
                <div class="card">
                    @*<div class="card-header">
                            <h4 class="card-title">Form Inputs</h4>
                        </div>*@
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form id="formActivity" asp-controller="ToDo" asp-action="UpdateAssignTask" method="post" class="form-horizontal" enctype="multipart/form-data">
                                        @Html.HiddenFor(x => x.FrequencyId)
                                        @Html.HiddenFor(x => x.TotalRowAdded)
                                        @Html.HiddenFor(x => x.RowCount)
                                        @Html.HiddenFor(x => x.Id)
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <input asp-for="Id" type="hidden" />
                                                <label asp-for="Date"></label> <span style="color:red">*</span>
                                                <input asp-for="Date" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="Date" required />
                                                <span asp-validation-for="Date" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="Title"></label> <span style="color:red">*</span>
                                                <input asp-for="Title" class="form-control" autocomplete="off" placeholder="Title" required />
                                                <span asp-validation-for="Title" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="PriorityId"></label> <span style="color:red">*</span>
                                                <select asp-for="PriorityId" class="form-control" asp-items="ViewBag.PriorityList">
                                                    <option value="">---Select Priority---</option>
                                                </select>
                                                <span asp-validation-for="PriorityId" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label asp-for="FrequencyId"></label> <span style="color:red">*</span>
                                                <select id="Frequency" class="form-control" onchange="checkfrequency()">
                                                    <option value="0">--Select Frequency--</option>
                                                    <option value="1">Can't Determine</option>
                                                    <option value="2">Continue</option>
                                                    <option value="3">Deadline Based</option>
                                                </select>
                                                <span asp-validation-for="FrequencyId" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label asp-for="Description"></label> <span style="color:red">*</span>
                                                <input asp-for="Description" class="form-control" autocomplete="off" placeholder="Description" required />
                                                <span asp-validation-for="Description" class="alert-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            @*<div class="form-group col-md-4">
                                                    <label asp-for="AssignToId"></label> <span style="color:red">*</span>
                                                    <select asp-for="AssignToId" class="form-control">
                                                        <option value="">---Assign To---</option>
                                                        <option value="1">Self</option>
                                                        <option value="2">Other</option>
                                                    </select>
                                                    <span asp-validation-for="AssignToId" class="alert-danger"></span>
                                                </div>*@
                                            <div class="form-group col-md-3" id="divVertical">
                                                <label asp-for="Verticals"></label> <span style="color:red">*</span>
                                                <select asp-for="Verticals" class="form-control" asp-items="ViewBag.VerticalList" onchange="GetVerticaldata()">
                                                    <option value="">---Select Vertical---</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-3">
                                                <label asp-for="EmpId"></label> <span style="color:red">*</span>
                                                @{
                                                    string Userid = "";
                                                    string Vertical = "";
                                                    foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                                                    {
                                                        if (cookie.Key == "UserId")
                                                        {
                                                            Userid = cookie.Value;


                                                        }
                                                        if (cookie.Key == "Vertical")
                                                        {
                                                            Vertical = cookie.Value;
                                                        }
                                                    }
                                                }
                                                @if (Userid == "63" && Vertical == "2")
                                                {
                                                    <a href="javascript:;" onclick="GetTotalTaskDetails()"><b><label id="TotalTask" style="margin-left:60px"></label></b></a>
                                                }
                                                else
                                                {
                                                    <label id="TotalTask" style="margin-left:60px"></label>
                                                }

                                                <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmployeeList" onchange="GetTotalTasks()">
                                                    <option value="">---Select Employee---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3" id="divstrt" style="display:none">
                                                <label asp-for="StartDate"></label> <span style="color:red">*</span>
                                                <input asp-for="StartDate" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="Start Date" required />
                                                <span asp-validation-for="StartDate" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-3" id="divend" style="display:none">
                                                <label asp-for="EndDate"></label> <span style="color:red">*</span>
                                                <input asp-for="EndDate" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="End Date" required />
                                                <span asp-validation-for="EndDate" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="addmore()"><i class="fa fa-save"> Add</i></button>
                                        <div class="row">
                                            <div class="col-12 mt-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="field" class="display table dataTable table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr No.</th>
                                                                        <th>Date</th>
                                                                        <th>Title</th>
                                                                        <th>Description</th>
                                                                        <th>Priority</th>
                                                                        <th>Vertical</th>
                                                                        <th>Employee Name</th>
                                                                        <th>Start Date</th>
                                                                        <th>End Date</th>
                                                                        <th>Frequency</th>
                                                                        <th>Action</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbodydata">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"> Update</i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<script src="~/Content/Theme/dist/vendors/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var Freq = "@Model.FrequencyId";
    document.getElementById("Frequency").value = "@Model.FrequencyId";
     if (Freq == "3") {
            $('#divstrt').show();
            $('#divend').show();
        }
        else {
            $('#divstrt').hide();
            $('#divend').hide();
        }
    //chekfrequency();
</script>

<script>
        function chekfrequency() {
        var Freq = "@Model.FrequencyId";

        }
</script>
<input type="hidden" asp-for="userstring" />
<script type="text/javascript">
    function GetVerticaldata() {
        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetEmployeelist",
            type: "POST",
            dataType: "json",

            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#EmpId").empty();
                if (data) {
                    $('#EmpId').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#EmpId').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                } else {
                    $('#EmpId').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }
    function GetTotalTasks() {
        var Verticals = $('#Verticals').val();
        var EmpId = $('#EmpId').val();
        $.ajax({
            url: "/TODO/GetTotalTasks",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals, 'EmpId': EmpId },
            success: function (data) {
                if (data != 0 || data != null) {
                    $('#TotalTask').show();
                    $('#TotalTask').text(data);
                }
            }
        });
    }

    function addmore() {
        var count = $("#field > tbody > tr").length;
        var ttlrow = $('#TotalRowAdded').val();
        var TotalRowAdded = parseInt(ttlrow) + 1;
        $('#TotalRowAdded').val(TotalRowAdded);
        var newrow = count;
        $('#RowCount').val(count + 1);

        var Date = $('#Date').val();
        if (Date == '' || Date == null) {
            swal("Date can't be blank");
            return false;
        }
        var Title = $('#Title').val();
        if (Title == '' || Title == null) {
            swal("Title can't be blank");
            return false;
        }
        var PriorityId = $('#PriorityId').val();
        if (PriorityId == '' || PriorityId == null) {
            swal("Priority can't be blank");
            return false;
        }
        var Priority = document.getElementById("PriorityId");
        var PriorityText = Priority.options[Priority.selectedIndex].text;

        var FrequencyId = $('#Frequency').val();
        $('#FrequencyId').val(FrequencyId);
        if (FrequencyId == '' || FrequencyId == null) {
            swal("Frequency can't be blank");
            return false;
        }
        var Frequency = document.getElementById("Frequency");
        var FrequencyText = Frequency.options[Frequency.selectedIndex].text;

        var Description = $('#Description').val();
        if (Description == '' || Description == null) {
            swal("Description can't be blank");
            return false;
        }

        var Verticals = $('#Verticals').val();
        if (Verticals == '' || Verticals == null) {
            swal("Vertical can't be blank");
            return false;
        }

        var Vertical = document.getElementById("Verticals");
        var VerticalText = Vertical.options[Vertical.selectedIndex].text;

        var EmpId = $('#EmpId').val();
        if (EmpId == 0 || EmpId == null) {
            swal("Employee Name can't be blank");
            return false;
        }

        var Employee = document.getElementById("EmpId");
        var EmpId = $('#EmpId').val();
        var userstring = $('#userstring').val();
        var res = userstring.split(",");

        for (var i = 0; i < res.length; i++) {
            if (res[i] != EmpId) {

                userstring = userstring + EmpId + ",";
                $('#userstring').val(userstring);

            } else {
                swal('User Already Exists');
                return false;
            }
        }



        if (userstring == "") {
            userstring = EmpId + ",";
            $('#userstring').val(userstring);
        }




        var EmployeeText = Employee.options[Employee.selectedIndex].text;

        if (FrequencyId == 3) {
            var StartDate = $('#StartDate').val();
            if (StartDate == '' || StartDate == null) {
                swal("Start Date can't be blank");
                return false;
            }
            var EndDate = $('#EndDate').val();
            if (EndDate == '' || EndDate == null) {
                swal("End Date can't be blank");
                return false;
            }
        }
        else {
            var StartDate = "";
            var EndDate = "";
        }
        var newIn = '<tr id="field' + newrow + '"><td><label>' + $('#RowCount').val() + '</label></td><td><input type="text"  value="' + Date + '" name="Date' + newrow + '"  id="Date' + newrow + '" class="form-control input-lg" required></td><td>  <input type="text" value="' + Title + '" name="Title' + newrow + '" id="Title' + newrow + '" class="form-control input-lg" autocomplete="off" required></td><td> <input type="text" name="Description' + newrow + '" id="Description' + newrow + '" value="' + Description + '" class="form-control input-lg" required></td> <td><input type="text" id="Priority' + newrow + '" value="' + PriorityText + '" name="Priority' + newrow + '" class="form-control input-lg" required><input type="hidden" id="hdPriority' + newrow + '" name="hdPriority' + newrow + '" value="' + PriorityId + '"/></td> <td> <input type="text" name="Vertical' + newrow + '"  id="Vertical' + newrow + '" value="' + VerticalText + '" class="form-control input-lg" autocomplete="off" required> <input type="hidden" id="hdVertical' + newrow + '" name="hdVertical' + newrow + '" value="' + Verticals + '"/> </td> <td> <input type="text" id="Employee' + newrow + '" name="Employee' + newrow + '" value="' + EmployeeText + '" class="form-control input-lg" required><input type="hidden" id="hdEmployee' + newrow + '" name="hdEmployee' + newrow + '" value="' + EmpId + '"/> </td><td><input type="text" name="StartDate' + newrow + '" id="StartDate' + newrow + '" value="' + StartDate + '" class="form-control input-lg" required></td><td><input type="text" name="EndDate' + newrow + '" id="EndDate' + newrow + '" value="' + EndDate + '" class="form-control input-lg" required></td><td><input type="text" name="Frequency' + newrow + '" id="Frequency' + newrow + '" value="' + FrequencyText + '" class="form-control input-lg" required><input type="hidden" id="hdFrequency' + newrow + '" name="hdFrequency' + newrow + '" value="' + FrequencyId + '"/></td>  <td>  <i id="remove' + newrow + '" onclick="deleteRow(this)"  class="fa fa-times remove-me" style="color:red" aria-hidden="true"></i>  </td></tr>'
        $('#tbodydata').append(newIn);
        //}

        $('#Verticals').val('');
        $('#EmpId').val(0);
        $('#TotalTask').text('');
        //$('#PropertySize').val('');
        //$('#NOS').val('');
        //$('#Blocks').val('');
        //$('#rate').val('');
        //$('#StartDate').val('');


    }
    function Save() {

        $('#formActivity').submit();
    }
</script>
<script type="text/javascript">
    function GetTotalTaskDetails() {
        var Verticals = $('#Verticals').val();
        var EmpId = $('#EmpId').val();
        window.open('@Url.Action("ViewTotalTaskDetails","ToDO")?VerticalId=' + Verticals + '&EmpId=' + EmpId+'',"_blank");
    }

    function deleteRow(btn) {
        var count = $("#field > tbody > tr").length;
        if (count > 0) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
                  }
</script>
<script type="text/javascript">



    function checkstdate() {

        var StartDate = $('#StartDate').val();
        var res = StartDate.split("-");
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;
        var g1 = new Date(today);
        var g2 = new Date(res[2] + "-" + res[1] + "-" + res[0]);
        if (g1 > g2) {
            swal('Do not enter back date');
            $('#StartDate').val('');
        }
    }

    function checkstdate1() {

        var StartDate = $('#EndDate').val();
        var res = StartDate.split("-");
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;
        var g1 = new Date(today);
        var g2 = new Date(res[2] + "-" + res[1] + "-" + res[0]);
        if (g1 > g2) {
            swal('Do not enter back date');
            $('#EndDate').val('');
        }
    }


</script>
@*<script type="text/javascript">


        function GetVerticaldata() {

            function GetVerticaldata() {
                var Verticals = $('#Verticals').val();
                $.ajax({
                    url: "/TODO/GetEmployeelist",
                    type: "POST",
                    dataType: "json",

                    data: { 'Verticals': Verticals },
                    success: function (data) {

                        $("#EmpId").empty();
                        if (data) {
                            $('#EmpId').append("<option value='0'>--- Select --</option>");
                            for (i = 0; i < data.length; i++) {
                                $('#EmpId').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                            }
                        } else {
                            $('#EmpId').append("<option value='0'>--- Select --</option>");
                        }
                    }
                });
            }



    </script>*@
<script type="text/javascript">
            var count = $("#field > tbody > tr").length;
            var ttlrow = $('#TotalRowAdded').val();
            var TotalRowAdded = parseInt(ttlrow) + 1;
            $('#TotalRowAdded').val(TotalRowAdded);
            var newrow = count;
            $('#RowCount').val(count + 1);
     var Datalist = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DataList) as String);


    for (var i = 0; i < '@Model.gridcount'; i++) {
        var newIn = '<tr id="field' + newrow + '"><td><label>' + $('#RowCount').val() + '</label></td>';
        newIn +='<td><input type="text" value="' + Datalist[i].Date + '" name="Date' + newrow + '" id="Date' + newrow + '" class="form-control input-lg" required ></td >';
        newIn += '<td>  <input type="text" value="' + Datalist[i].Title + '" name="Title' + newrow + '" id="Title' + newrow + '" class="form-control input-lg" autocomplete="off" required></td>';
        newIn += '<td> <input type="text" name="Description' + newrow + '" id="Description' + newrow + '" value="' + Datalist[i].Description + '" class="form-control input-lg" required></td>';
        newIn += ' <td> <input type="text" name="Priority' + newrow + '" id="Priority' + newrow + '" value="' + Datalist[i].PriorityText + '"  class="form-control input-lg" required><input type="hidden" id="hdPriority' + newrow + '" name="hdPriority' + newrow + '" value="' + Datalist[i].PriorityId + '" /></td>';
        newIn += ' <td> <input type="text" name="Vertical' + newrow + '" id="Vertical' + newrow + '" value="' + Datalist[i].VerticalText + '" class="form-control input-lg" autocomplete="off" required> <input type="hidden" id="hdVertical' + newrow + '" name="hdVertical' + newrow + '" value="' + Datalist[i].Verticals + '" /> </td>';
        newIn += ' <td><input type="text" id="Employee' + newrow + '" name="Employee' + newrow + '" value="' + Datalist[i].EmployeeText + '" class="form-control input-lg" required><input type="hidden" id="hdEmployee' + newrow + '" name="hdEmployee' + newrow + '" value="' + Datalist[i].EmployeeText + '" /> </td>';
        newIn += '<td><input type="text" name="StartDate' + newrow + '" id="StartDate' + newrow + '" value="' + Datalist[i].StartDate + '" class="form-control input-lg" required></td>';
        newIn += '<td><input type="text" name="EndDate' + newrow + '" id="EndDate' + newrow + '" value="' + Datalist[i].EndDate + '" class="form-control input-lg" required></td>';
        newIn += '<td><input type="text" name="Frequency' + newrow + '" id="Frequency' + newrow + '" value="' + Datalist[i].Frequency + '" class="form-control input-lg" required><input type="hidden" id="hdFrequency' + newrow + '" name="hdFrequency' + newrow + '" value="' + Datalist[i].FrequencyId + '" /></td>';
        newIn +='<td>  <i id="remove' + newrow + '" onclick="deleteRow(this)" class="fa fa-times remove-me" style="color:red" aria-hidden="true"></i>  </td></tr > '
        $('#tbodydata').append(newIn);


                }
</script>
@*<script src="~/Content/Stepper/js/jquery.js"></script>
    <script type="text/javascript">

        swal('h')


    </script>*@
