﻿@model CoreStructure_APP.Models.Task_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IJsonHelper Json;
@{
    ViewBag.Title = "Edit Task";
    ViewBag.Active = "EditTask";
    ViewBag.Open = "Edit Task";
    ViewBag.Panel = "ToDo";
    ViewData["Title"] = "Edit Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <div class="container-fluid">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Edit Task</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item"><a href="Index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Edit Task</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->
        <!-- START: Card Data-->

        <div class="row">
            <div class="col-12 mt-4">
                <div class="card">
                    @*<div class="card-header">
                            <h4 class="card-title">Form Inputs</h4>
                        </div>*@
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form id="formActivity" asp-controller="ToDo" asp-action="SaveTask" method="post" class="form-horizontal" enctype="multipart/form-data">
                                        @Html.HiddenFor(x => x.FrequencyId)
                                        @Html.HiddenFor(x => x.TotalRowAdded)
                                        @Html.HiddenFor(x => x.RowCount)
                                        @Html.HiddenFor(x=>x.Id)
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <input asp-for="Id" type="hidden" />
                                                <label asp-for="Date"></label> <span style="color:red">*</span>
                                                <input asp-for="Date" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="Date" required />
                                                <span asp-validation-for="Date" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="Title"></label> <span style="color:red">*</span>
                                                <input asp-for="Title" class="form-control" autocomplete="off" placeholder="Title" required />
                                                <span asp-validation-for="Title" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="PriorityId"></label> <span style="color:red">*</span>
                                                <select asp-for="PriorityId" class="form-control" asp-items="ViewBag.PriorityList">
                                                    <option value="">---Select Priority---</option>
                                                </select>
                                                <span asp-validation-for="PriorityId" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label asp-for="FrequencyId"></label> <span style="color:red">*</span>
                                                <select id="Frequency" class="form-control" onchange="checkfrequency()">
                                                    <option value="0">--Select Frequency--</option>
                                                    <option value="1">Can't Determine</option>
                                                    <option value="2">Continue</option>
                                                    <option value="3">Deadline Based</option>
                                                </select>
                                                <span asp-validation-for="FrequencyId" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label asp-for="Description"></label> <span style="color:red">*</span>
                                                <input asp-for="Description" class="form-control" autocomplete="off" placeholder="Description" required />
                                                <span asp-validation-for="Description" class="alert-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            @*<div class="form-group col-md-4">
            <label asp-for="AssignToId"></label> <span style="color:red">*</span>
            <select asp-for="AssignToId" class="form-control">
                <option value="">---Assign To---</option>
                <option value="1">Self</option>
                <option value="2">Other</option>
            </select>
            <span asp-validation-for="AssignToId" class="alert-danger"></span>
        </div>*@
                                            <div class="form-group col-md-4" id="divVertical">
                                                <label asp-for="Verticals"></label> <span style="color:red">*</span>
                                                <select asp-for="Verticals" class="form-control" asp-items="ViewBag.VerticalList" onchange="GetVerticaldata()">
                                                    <option value="">---Select Vertical---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="Clientid"></label> <span style="color:red">*</span>
                                                <select asp-for="Clientid" class="form-control" asp-items="ViewBag.ClientList" onchange="Getbindproject()">
                                                    <option value="">---Select Client---</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4" id="divproject" style="display:none">
                                                <label asp-for="Projectid"></label> <span style="color:red">*</span>
                                                <select asp-for="Projectid" class="form-control" asp-items="ViewBag.Projectlist" onchange="getbindmodules()">
                                                    <option value="">---Select Project---</option>
                                                </select>
                                            </div>


                                            <div class="form-group col-md-4" id="divmodules" style="display:none">
                                                <label asp-for="Moduleid"></label> <span style="color:red">*</span>
                                                <select asp-for="Moduleid" class="form-control" asp-items="ViewBag.Modulelist">
                                                    <option value="">---Select Module---</option>
                                                </select>
                                            </div>


                                            <div class="form-group col-md-4" id="divactivity" style="display:none">
                                                <label asp-for="Activityid"></label> <span style="color:red">*</span>
                                                <select asp-for="Activityid" class="form-control" asp-items="ViewBag.ActivityList" onchange="getsubactivity()">
                                                    <option value="">---Select Activity---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" id="divcategory" style="display:none">
                                                <label asp-for="Categoryid"></label> <span style="color:red">*</span>
                                                <select asp-for="Categoryid" class="form-control" asp-items="ViewBag.CategoryList" onchange="getsubcategory()">
                                                    <option value="">---Select Category---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" id="divsubcategory" style="display:none">
                                                <label asp-for="Subcategoryid"></label> <span style="color:red">*</span>
                                                <select asp-for="Subcategoryid" class="form-control" asp-items="ViewBag.SubcategoryList">
                                                    <option value="">---Select Sub Category---</option>
                                                </select>
                                            </div>
                                            @*<div class="form-group col-md-3">
            <label asp-for="EmpId"></label> <span style="color:red">*</span>
            @{
                string Userid = "";
                string Vertical = "";
                foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                {
                    if (cookie.Key == "UserId")
                    {
                        Userid = cookie.Value;


                    }
                    if (cookie.Key == "Vertical")
                    {
                        Vertical = cookie.Value;
                    }
                }
            }
            @if (Userid == "63" && Vertical == "2")
            {
                <a href="javascript:;" onclick="GetTotalTaskDetails()"><b><label id="TotalTask" style="margin-left:60px"></label></b></a>
            }
            else
            {
                <label id="TotalTask" style="margin-left:60px"></label>
            }

            <select asp-for="EmpId" class="form-control" asp-items="ViewBag.EmployeeList" onchange="GetTotalTasks()">
                <option value="">---Select Employee---</option>
            </select>
        </div>*@

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4" id="divsubactivity" style="display:none">
                                                <label asp-for="Subactivityid"></label> <span style="color:red">*</span>
                                                <select asp-for="Subactivityid" class="form-control" asp-items="ViewBag.SubActivityList">
                                                    <option value="">---Select Sub Activity---</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4" id="divstrt" style="display:none">
                                                <label asp-for="StartDate"></label> <span style="color:red">*</span>
                                                <input asp-for="StartDate" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="Start Date" required />
                                                <span asp-validation-for="StartDate" class="alert-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4" id="divend" style="display:none">
                                                <label asp-for="EndDate"></label> <span style="color:red">*</span>
                                                <input asp-for="EndDate" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="End Date" required />
                                                <span asp-validation-for="EndDate" class="alert-danger"></span>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div class="col-12 mt-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="field" class="display table dataTable table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr No.</th>
                                                                        <th>Date</th>
                                                                        <th>Title</th>
                                                                        <th>Description</th>
                                                                        <th>Priority</th>
                                                                        <th>Vertical</th>
                                                                        <th>Employee Name</th>
                                                                        <th>Start Date</th>
                                                                        <th>End Date</th>
                                                                        <th>Frequency</th>
                                                                        <th>Action</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbodydata">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>*@
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"> Update</i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<script src="~/Content/Theme/dist/vendors/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var Freq = "@Model.FrequencyId";
    document.getElementById("Frequency").value = "@Model.FrequencyId";
     if (Freq == "3") {
            $('#divstrt').show();
            $('#divend').show();
        }
        else {
            $('#divstrt').hide();
            $('#divend').hide();
        }
    //chekfrequency();
</script>

@*<script>
        function chekfrequency() {
        var Freq = "@Model.FrequencyId";

        }
    </script>*@
@*<script type="text/javascript">
    function GetVerticaldata() {
        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetEmployeelist",
            type: "POST",
            dataType: "json",

            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#EmpId").empty();
                if (data) {
                    $('#EmpId').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#EmpId').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                } else {
                    $('#EmpId').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }
</script>*@
<script type="text/javascript">


    function GetVerticaldata() {

        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetClientlist",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#Clientid").empty();
                if (data) {
                    $('#Clientid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Clientid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                } else {
                    $('#Clientid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

        $.ajax({
            url: "/TODO/GetActivitylist",
            type: "POST",
            dataType: "json",

            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#Activityid").empty();
                $("#Subactivityid").empty();
                if (data) {
                    $('#Activityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Activityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Activityid').append("<option value='0'>--- Select --</option>");
                }
            }
        });


        if (Verticals == 4) {

            $('#divproject').show();
            $('#divmodules').show();
        }
        else if (Verticals == 5) {
            $('#divproject').show();
            $('#divmodules').hide();
            $('#divcategory').show();
            $('#divsubcategory').show();
            $('#divactivity').hide();
            $('#divsubactivity').hide();
        } else {
            $('#divproject').hide();
            $('#divmodules').hide();
            $('#divcategory').hide();
            $('#divsubcategory').hide();
        }


    }
    function Getbindproject() {

        var Clientid = $('#Clientid').val();
        var Verticals = $('#Verticals').val();

        $.ajax({
            url: "/TODO/GetProject",
            type: "POST",
            dataType: "json",

            data: { 'Clientid': Clientid, 'Verticals': Verticals },
            success: function (data) {

                $("#Projectid").empty();
                if (data) {
                    $('#Projectid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Projectid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Projectid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }
    function getbindmodules() {

        var Projectid = $('#Projectid').val();
        var Verticals = $('#Verticals').val();

        $.ajax({
            url: "/TODO/GetProjectModules",
            type: "POST",
            dataType: "json",

            data: { 'Projectid': Projectid, 'Verticals': Verticals },
            success: function (data) {

                $("#Moduleid").empty();
                if (data) {
                    $('#Moduleid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Moduleid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Moduleid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }
    function getsubactivity() {
        var Id = $('#Activityid').val();
        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetSubActivityList",
            type: "POST",
            dataType: "json",

            data: { 'ActivityId': Id, 'Verticals': Verticals },
            success: function (data) {

                $("#Subactivityid").empty();

                if (data) {
                    $('#Subactivityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {

                        $('#Subactivityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Subactivityid').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }

    function getsubcategory() {
        var Id = $('#Categoryid').val();
        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetSubCategoryList",
            type: "POST",
            dataType: "json",

            data: { 'Categoryid': Id, 'Verticals': Verticals },
            success: function (data) {

                $("#Subcategoryid").empty();

                if (data) {
                    $('#Subcategoryid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {

                        $('#Subcategoryid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Subcategoryid').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }
    function SaveTaskDetails() {
        var Date = $('#Date').val();
        if (Date == '' || Date == null) {
            swal("Date can't be blank");
            return false;
        }
        var Title = $('#Title').val();
        if (Title == '' || Title == null) {
            swal("Title can't be blank");
            return false;
        }
        var PriorityId = $('#PriorityId').val();
        if (PriorityId == '' || PriorityId == null) {
            swal("Priority can't be blank");
            return false;
        }
        var FreqId = $('#Frequency').val();
        $('#FrequencyId').val(FreqId);
        if (FreqId == '' || FreqId == null) {
            swal("Frequency can't be blank");
            return false;
        }
        var Description = $('#Description').val();
        if (Description == '' || Description == null) {
            swal("Description can't be blank");
            return false;
        }
        var Verticals = $('#Verticals').val();
        if (Verticals == '' || Verticals == null) {
            swal("Vertical can't be blank");
            return false;
        }

        var Clientid = $('#Clientid').val();
        if (Clientid == 0 || Clientid == null) {
            swal("Client can't be blank");
            return false;
        }
        else if (Verticals == 4) {
            var Projectid = $('#Projectid').val();
            if (Projectid == 0 || Projectid == null) {
                swal("Project can't be blank");
                return false;
            }
            var Moduleid = $('#Moduleid').val();
            if (Moduleid == 0 || Moduleid == null) {
                swal("Module can't be blank");
                return false;
            }
        }
        else if (Verticals == 5) {
            var Projectid = $('#Projectid').val();
            if (Projectid == 0 || Projectid == null) {
                swal("Project can't be blank");
                return false;
            }
        }
        var Activityid = $('#Activityid').val();
        if (Activityid == 0 || Activityid == null) {
            swal("Activity can't be blank");
            return false;
        }
        var Subactivityid = $('#Subactivityid').val();
        if (Subactivityid == 0 || Subactivityid == null) {
            swal("Sub Activity can't be blank");
            return false;
        }
        if (FreqId == 3) {
            var StartDate = $('#StartDate').val();
            if (StartDate == '' || StartDate == null) {
                swal("Start Date can't be blank");
                return false;
            }
            var EndDate = $('#EndDate').val();
            if (EndDate == '' || EndDate == null) {
                swal("End Date can't be blank");
                return false;
            }
        }

        $('#formActivity').submit();
    }

</script>
<script type="text/javascript">
    var ClientId = "@Model.Clientid";
    document.getElementById("Clientid").value = ClientId;

    var Activityid = "@Model.Activityid";
    document.getElementById("Activityid").value = Activityid;

    var Subactivityid = "@Model.Subactivityid";
    document.getElementById("Subactivityid").value = Subactivityid;

    var Categoryid = "@Model.Categoryid";
    document.getElementById("Categoryid").value = Categoryid;

     var Subcategoryid = "@Model.Subcategoryid";
    document.getElementById("Subcategoryid").value = Subcategoryid;

    var Verticals = "@Model.Verticals";
     if (Verticals == 4) {

            $('#divproject').show();
            $('#divmodules').show();
        }
        else if (Verticals == 5) {
             $('#divproject').show();
            $('#divmodules').hide();
            $('#divcategory').show();
            $('#divsubcategory').show();
            $('#divactivity').hide();
            $('#divsubactivity').hide();
        } else {
             $('#divproject').hide();
            $('#divmodules').hide();
            $('#divcategory').hide();
            $('#divsubcategory').hide();
    }

    var Projectid = "@Model.Projectid";
    document.getElementById("Projectid").value = Projectid;

    var Moduleid = "@Model.Moduleid";
    document.getElementById("Moduleid").value = Moduleid;
</script>
<script type="text/javascript">
    var EmpId = "@Model.AssignToId";
    document.getElementById("EmpId").value = "@Model.AssignToId";


            @*var count = $("#field > tbody > tr").length;
            var ttlrow = $('#TotalRowAdded').val();
            var TotalRowAdded = parseInt(ttlrow) + 1;
            $('#TotalRowAdded').val(TotalRowAdded);
            var newrow = count;
            $('#RowCount').val(count + 1);
     var Datalist = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DataList) as String);


    for (var i = 0; i < '@Model.gridcount'; i++) {
        var newIn = '<tr id="field' + newrow + '"><td><label>' + $('#RowCount').val() + '</label></td>';
        newIn +='<td><input type="text" value="' + Datalist[i].Date + '" name="Date' + newrow + '" id="Date' + newrow + '" class="form-control input-lg" required ></td >';
        newIn += '<td>  <input type="text" value="' + Datalist[i].Title + '" name="Title' + newrow + '" id="Title' + newrow + '" class="form-control input-lg" autocomplete="off" required></td>';
        newIn += '<td> <input type="text" name="Description' + newrow + '" id="Description' + newrow + '" value="' + Datalist[i].Description + '" class="form-control input-lg" required></td>';
        newIn += ' <td> <input type="text" name="Priority' + newrow + '" id="Priority' + newrow + '" value="' + Datalist[i].PriorityText + '"  class="form-control input-lg" required><input type="hidden" id="hdPriority' + newrow + '" name="hdPriority' + newrow + '" value="' + Datalist[i].PriorityId + '" /></td>';
        newIn += ' <td> <input type="text" name="Vertical' + newrow + '" id="Vertical' + newrow + '" value="' + Datalist[i].VerticalText + '" class="form-control input-lg" autocomplete="off" required> <input type="hidden" id="hdVertical' + newrow + '" name="hdVertical' + newrow + '" value="' + Datalist[i].Verticals + '" /> </td>';
        newIn += ' <td><input type="text" id="Employee' + newrow + '" name="Employee' + newrow + '" value="' + Datalist[i].EmployeeText + '" class="form-control input-lg" required><input type="hidden" id="hdEmployee' + newrow + '" name="hdEmployee' + newrow + '" value="' + Datalist[i].EmployeeText + '" /> </td>';
        newIn += '<td><input type="text" name="StartDate' + newrow + '" id="StartDate' + newrow + '" value="' + Datalist[i].StartDate + '" class="form-control input-lg" required></td>';
        newIn += '<td><input type="text" name="EndDate' + newrow + '" id="EndDate' + newrow + '" value="' + Datalist[i].EndDate + '" class="form-control input-lg" required></td>';
        newIn += '<td><input type="text" name="Frequency' + newrow + '" id="Frequency' + newrow + '" value="' + Datalist[i].Frequency + '" class="form-control input-lg" required><input type="hidden" id="hdFrequency' + newrow + '" name="hdFrequency' + newrow + '" value="' + Datalist[i].FrequencyId + '" /></td>';
        newIn +='<td>  <i id="remove' + newrow + '" onclick="deleteRow(this)" class="fa fa-times remove-me" style="color:red" aria-hidden="true"></i>  </td></tr > '
        $('#tbodydata').append(newIn);


                }*@
</script>
@*<script src="~/Content/Stepper/js/jquery.js"></script>
    <script type="text/javascript">

        swal('h')


    </script>*@