﻿@model CoreStructure_APP.Models.Task_Model
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/components-date-time-pickers.min.js"></script>
<!-- START: Breadcrumbs-->
<div class="row ">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto">
                <h4 class="mb-0">Task Board</h4>

            </div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <li class="breadcrumb-item">Home</li>
                @*<li class="breadcrumb-item">App</li>*@
                <li class="breadcrumb-item active"><a href="#">Task Board</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END: Breadcrumbs-->
<!-- START: Card Data-->
<div class="row row-eq-height">
    <div class="col-12 col-lg-4 mt-3 pr-lg-0">
        <div class="card" style="min-height:456px">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Todo</h4>
                <div class="dropdown">
                    @Enumerable.Count(ViewBag.TodoList) Tasks
                </div>
            </div>
            <div class="card-body">
                <ul class="tasks chat-menu" id="task-list-1">
                    @if (ViewBag.TodoList != null)
                    {
                        foreach (var item in ViewBag.TodoList)
                        {
                            <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                <label class="">
                                    <i class="fa fa-folder-open fa-2x" style="color: #FF5733" aria-hidden="true"></i>
                                    <b> <a href="/ToDo/TaskDetails?Id=@item.Id" target="_blank">@item.Title</a></b>
                                    <br />
                                    @if (item.Priority == "High")
                                    {
                                        <span class="badge p-2 badge-danger mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }
                                    else if (item.Priority == "Medium")
                                    {
                                        <span class="badge p-2 badge-warning mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge p-2 badge-info mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }
                                    <br><span class="text-muted"> Assignor : @item.AssignBy</span>
                                    <br><span class="text-muted"> Assignee : @item.AssignTo</span>
                                    <span class="checkmark mt-2"></span>
                                    <br />
                                    @if (item.IsActiveaction == 1 && item.Isaccepted == 0)
                                    {
                                        <div class="card-content">
                                            <div class="card-body">
                                                <input type="checkbox" checked data-toggle="toggle" style="width:103.344px !important;height: 0px !important;"
                                                       data-on="Accept" data-off="Accepted" data-onstyle="danger" data-offstyle="success" onchange="Accepttask(@item.Id,@item.Isaccepted)">

                                                <input type="checkbox" checked data-toggle="toggle" style="width:103.344px !important;height: 0px !important;"
                                                       data-on="Reject" data-off="Rejected" data-onstyle="danger" data-offstyle="success" onchange="Rejecttask(@item.Id,@item.Isaccepted)">

                                                <a href="/ToDo/ReassignTask?id=@item.Id" class="btn btn-primary" style="margin-bottom: 10px;margin-left: 5px;">Reassign</a>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" id="modalaccept" data-target="#accepttodo"></a>
                                        <a href="#" data-toggle="modal" id="modalReject" data-target="#Rejecttodo"></a>
                                    }
                                    @*else
                                        {
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <input type="checkbox" readonly="true" disabled="disabled" data-toggle="toggle" checked style="width:103.344px !important;height: 0px !important;"
                                                           data-on="Accepted"
                                                           data-off="Accept" data-onstyle="success" data-offstyle="danger">
                                                </div>
                                            </div>
                                        }*@
                                </label>
                                <div class="ml-auto d-flex">
                                    @if (item.IsActiveaction == 1)
                                    {
                                        <a href="#" data-toggle="modal" onclick="bindtodoid(@item.Id,@item.Isaccepted)" data-target="#edittodo"><i class="icon-pencil"></i></a>
                                    }
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4 mt-3 pr-lg-0">
        <div class="card" style="min-height:456px">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">In progress</h4>
                <div class="dropdown">
                    @Enumerable.Count(ViewBag.PendingList) Tasks
                </div>
            </div>


            <div class="card-body">
                <ul class="tasks chat-menu" id="task-list-2">
                    @if (ViewBag.PendingList != null)
                    {
                        foreach (var item in ViewBag.PendingList)
                        {
                            <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                <label class="">
                                    <i class="fa fa-cogs fa-2x" style="color: #D49E50" aria-hidden="true"></i>
                                    <b> <a href="TaskDetails?Id=@item.Id" target="_blank">@item.Title</a></b>
                                    <br />
                                    @if (item.Priority == "High")
                                    {
                                        <span class="badge p-2 badge-danger mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }
                                    else if (item.Priority == "Medium")
                                    {
                                        <span class="badge p-2 badge-warning mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge p-2 badge-info mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }


                                    <br><span class="text-muted"> Assignor : @item.AssignBy</span>
                                    <br><span class="text-muted"> Assignee : @item.AssignTo</span>

                                    <span class="checkmark mt-2"></span>



                                </label>
                                <div class="ml-auto d-flex">

                                    @if (item.IsActiveaction == 1)
                                    {
                                        <a href="#" data-toggle="modal" onclick="bindtodoid(@item.Id,@item.Isaccepted)" data-target="#edittodo"><i class="icon-pencil"></i></a>
                                    }
                                    else
                                    {

                                    }

                                </div>
                            </li>
                        }
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mt-3 pr-lg-0">
        <div class="card" style="min-height:456px">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Completed</h4>
                <div class="dropdown">
                    @Enumerable.Count(ViewBag.CompleteList) Tasks
                </div>
            </div>
            <div class="card-body">
                <ul class="tasks chat-menu" id="task-list-3">
                    @if (ViewBag.CompleteList != null)
                    {
                        foreach (var item in ViewBag.CompleteList)
                        {
                            <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                <label class="">
                                    @if (item.StatusId == 5)
                                    {
                                        <i class="fa fa-ban fa-2x" style="color: #e62511" aria-hidden="true"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-thumbs-up fa-2x" style="color: #39980F" aria-hidden="true"></i>
                                    }
                                    <b> <a href="TaskDetails?Id=@item.Id" target="_blank">@item.Title</a></b>
                                    <br />
                                    @if (item.Priority == "High")
                                    {
                                        <span class="badge p-2 badge-danger mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }
                                    else if (item.Priority == "Medium")
                                    {
                                        <span class="badge p-2 badge-warning mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }
                                    else
                                    {
                                        <span class="badge p-2 badge-info mb-1" style="margin-left: 325px;">@item.Priority</span>
                                    }

                                    <br><span class="text-muted"> Assignor : @item.AssignBy</span>
                                    <br><span class="text-muted"> Assignee : @item.AssignTo</span>
                                    <span class="checkmark mt-2"></span>

                                </label>
                                @*<div class="ml-auto d-flex">
                                        @if (item.IsActiveaction == 1)
                                        {
                                            <a href="#" data-toggle="modal" onclick="bindtodoid(@item.Id,@item.Isaccepted)" data-target="#edittodo"><i class="icon-pencil"></i></a>
                                        }
                                    </div>*@
                            </li>
                        }
                    }
                </ul>
                @*<a href="#" class="btn btn-outline-primary  mt-2">Add Task</a>*@
            </div>
        </div>
    </div>
</div>
<!-- END: Card DATA-->
<input type="hidden" asp-for="Todoid" />
<input type="hidden" asp-for="Hdaccepted" />
<input type="hidden" asp-for="HDVertical" />
<div class="modal" id="edittodo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="icon-pencil"></i> Todo
                </h5>
                <button type="button" class="close" id="modalclose" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div id="divdata" style="display:none">

                        <div class="form-group" id="divVertical">
                            <label asp-for="Verticals"></label> <span style="color:red">*</span>
                            <select asp-for="Verticals" class="form-control" asp-items="ViewBag.VerticalList" onchange="GetVerticaldata()">
                                <option value="">---Select Vertical---</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Clientid"></label> <span style="color:red">*</span>
                            <select asp-for="Clientid" class="form-control" asp-items="ViewBag.ClientList" onchange="Getbindproject()">
                                <option value="">---Select Client---</option>
                            </select>
                        </div>

                        <div class="form-group" id="divproject" style="display:none">
                            <label asp-for="Projectid"></label> <span style="color:red">*</span>
                            <select asp-for="Projectid" class="form-control" asp-items="ViewBag.Projectlist" onchange="getbindmodules()">
                                <option value="">---Select Project---</option>
                            </select>
                        </div>


                        <div class="form-group" id="divmodules" style="display:none">
                            <label asp-for="Moduleid"></label> <span style="color:red">*</span>
                            <select asp-for="Moduleid" class="form-control" asp-items="ViewBag.Modulelist">
                                <option value="">---Select Module---</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label asp-for="Activityid"></label> <span style="color:red">*</span>
                            <select asp-for="Activityid" class="form-control" asp-items="ViewBag.ActivityList" onchange="getsubactivity()">
                                <option value="">---Select Activity---</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label asp-for="Subactivityid"></label> <span style="color:red">*</span>
                            <select asp-for="Subactivityid" class="form-control" asp-items="ViewBag.SubActivityList">
                                <option value="">---Select Sub Activity---</option>
                            </select>
                        </div>

                    </div>




                    <div class="form-group">
                        <label asp-for="Date"></label> <span style="color:red">*</span>
                        <input asp-for="Date" class="form-control datepicker" maxlength="100" autocomplete="off" placeholder="Date" required />
                        <span asp-validation-for="Date" class="alert-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Time"></label> <span style="color:red">*</span>
                        <div class="input-group">
                            <input asp-for="Time" class="form-control timepicker timepicker-24" maxlength="100" autocomplete="off" placeholder="HH:MM" required />
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </span>
                        </div>
                        <span asp-validation-for="Time" class="alert-danger"></span>
                    </div>

                    <div id="act" style="display:none">
                        <div class="form-group">

                            <label asp-for="AttorneyActivityid"></label> <span style="color:red">*</span>
                            <select asp-for="AttorneyActivityid" class="form-control" asp-items="ViewBag.ActivityList" onchange="getAttrsubactivity()">
                                <option value="">---Select Activity---</option>
                            </select>
                            <span asp-validation-for="AttorneyActivityid" class="alert-danger"></span>

                        </div>
                        <div class="form-group">

                            <label asp-for="AttorneySubactivityid"></label> <span style="color:red">*</span>
                            <select asp-for="AttorneySubactivityid" class="form-control" asp-items="ViewBag.SubActivityList">
                                <option value="">---Select Sub Activity---</option>
                            </select>
                            <span asp-validation-for="AttorneySubactivityid" class="alert-danger"></span>

                        </div>
                    </div>

                    <div class="form-group">

                        <label asp-for="StatusId"></label> <span style="color:red">*</span>
                        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.statuslist">
                            <option value="">---Select Status---</option>
                        </select>
                        <span asp-validation-for="StatusId" class="alert-danger"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="Description"></label> <span style="color:red">*</span>
                        <input asp-for="Description" class="form-control" autocomplete="off" placeholder="Description" rows="5" required />
                        <span asp-validation-for="Description" class="alert-danger"></span>

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Savetodo()" class="btn btn-primary">Submit</button>

                <img src="~/Content/loading.gif" id="imgloader" style="display:none"  />

            </div>
        </div>
    </div>
</div>



<div class="modal" id="accepttodo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="icon-pencil"></i> Todo
                </h5>
                <button type="button" class="close" id="modalclose" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="modal-body">


                <div id="divdata1" style="display:none">

                    <div class="form-group" id="divVertical1">

                        <label asp-for="Verticals1"></label> <span style="color:red">*</span>
                        <select asp-for="Verticals1" class="form-control" asp-items="ViewBag.VerticalList" onchange="GetVerticaldata1();">
                            <option value="">---Select Vertical---</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label asp-for="Clientid1"></label> <span style="color:red">*</span>
                        <select asp-for="Clientid1" class="form-control" asp-items="ViewBag.ClientList" onchange="Getbindproject1()">
                            <option value="">---Select Client---</option>
                        </select>
                    </div>

                    <div class="form-group" id="divproject1" style="display:none">
                        <label asp-for="Projectid1"></label> <span style="color:red">*</span>
                        <select asp-for="Projectid1" class="form-control" asp-items="ViewBag.Projectlist" onchange="getbindmodules1()">
                            <option value="">---Select Project---</option>
                        </select>
                    </div>


                    <div class="form-group" id="divmodules1" style="display:none">
                        <label asp-for="Moduleid1"></label> <span style="color:red">*</span>
                        <select asp-for="Moduleid1" class="form-control" asp-items="ViewBag.Modulelist">
                            <option value="">---Select Module---</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label asp-for="Activityid1"></label> <span style="color:red">*</span>
                        <select asp-for="Activityid1" class="form-control" asp-items="ViewBag.ActivityList" onchange="getsubactivity1()">
                            <option value="">---Select Activity---</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label asp-for="Subactivityid1"></label> <span style="color:red">*</span>
                        <select asp-for="Subactivityid1" class="form-control" asp-items="ViewBag.SubActivityList">
                            <option value="">---Select Sub Activity---</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Accepttodo()" class="btn btn-primary">Submit</button>
                <img src="~/Content/loading.gif" id="imgloader1" style="display:none" />

            </div>
        </div>
    </div>
</div>


<div class="modal" id="Rejecttodo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="icon-pencil"></i>Reject Task
                </h5>
                <button type="button" class="close" id="modalclose" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="divdata2" style="display:none">
                    <div class="form-group">
                        <label asp-for="RejectRemark"></label> <span style="color:red">*</span>
                        <input asp-for="RejectRemark" class="form-control" autocomplete="off" placeholder="Description" rows="5" required />
                        <span asp-validation-for="RejectRemark" class="alert-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Rejecttodo()" class="btn btn-primary">Submit</button>
                <img src="~/Content/loading.gif" id="imgloader2" style="display:none" />
            </div>
        </div>
    </div>
</div>

@*<label id="lblchn" onclick="checkloader()">asdasdasd asdasd</label>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    //$("#Verticals1").change(function () {

    //        // Animate loader off screen
    //        $(".se-pre-con").fadeOut("slow");
    //        ;

    // });

    //function checkloader() {




    //}
</script>



<script type="text/javascript">

    function bindtodoid(todoid, isaccepted) {
        $('#Todoid').val(todoid);
        $('#Hdaccepted').val(isaccepted);

        if (isaccepted == 0) {

            $('#divdata').show();
            var vertical = $('#Verticals').val();
            if (Verticals == 4) {

                $('#divproject').show();
                $('#divmodules').show();

            } else if (Verticals == 5) {
                $('#divproject').show();
                $('#divmodules').hide();
                 $('#act').show();

            } else {
                $('#divproject').hide();
                $('#divmodules').hide();
                 $('#act').hide();
            }


        } else {
            $('#divdata').hide();
            $('#act').show();
        }

    }

    function Accepttask(todoid, isaccepted) {


        $('#modalaccept')[0].click();
        $('#Todoid').val(todoid);

        $('#Hdaccepted').val(isaccepted);


        if (isaccepted == 0) {

            $('#divdata1').show();
            var vertical = $('#HDVertical').val();
            if (Verticals == 4) {

                $('#divproject1').show();
                $('#divmodules1').show();

            } else if (Verticals == 5) {
                $('#divproject1').show();
                $('#divmodules1').hide();
                 $('#act').show();

            } else {
                $('#divproject1').hide();
                $('#divmodules1').hide();
                 $('#act').hide();
            }


        } else {
            $('#divdata1').hide();
        }
    }

    function Rejecttask(todoid, isaccepted) {

        $('#modalReject')[0].click();
        $('#Todoid').val(todoid);

        $('#Hdaccepted').val(isaccepted);


        if (isaccepted == 0) {

            $('#divdata2').show();
        } else {
            $('#divdata2').hide();
        }
    }
    function Savetodo() {
        var todoid = $('#Todoid').val();

        var isaccepted = $('#Hdaccepted').val();

        if (isaccepted == 0) {

            SaveAccepdata(todoid);
        }


        var date = $('#Date').val();
        if (date == "") {
            alert('Please Select Date');
            return false;
        }

        var Time = $('#Time').val();
        if (Time == "") {
            alert('Please Enter Time');
            return false;
        }

        var AttorneyActivityid = $('#AttorneyActivityid').val();
        if (AttorneyActivityid == "") {
              alert('Please Select Activity');
            return false;
        }
         var AttorneySubactivityid = $('#AttorneySubactivityid').val();
        if (AttorneySubactivityid == "") {
              alert('Please Select Sub Activity');
            return false;
        }
        var StatusId = $('#StatusId').val();
        if (StatusId == "") {
            alert('Please Enter Time');
            return false;
        }

        var Description = $('#Description').val();

        if (Description == "") {
            alert('Please Select Description');
            return false;
        }
        $('#imgloader').show();

        $.ajax({
            url: "/TODO/Savetodostatus",
            type: "POST",
            dataType: "json",
            data: { 'todoid': todoid, 'date': date, 'Time': Time, 'StatusId': StatusId, 'Description': Description,'ActivityId':AttorneyActivityid,'SubActivity':AttorneySubactivityid },
            success: function (data) {

                $('#modalclose').click();
                swal("Task Updated!");
                $('#imgloader').hide();
                window.location.reload();
                $('#StatusId').val(0);
            }
        });

    }

    function Accepttodo() {

        var todoid = $('#Todoid').val();
        var projectid = 0;
        var moduleid = 0;

        var Clientid = $('#Clientid1').val();
        if (Clientid == "0" || Clientid == "") {
            swal('Please Enter Clientname')
            return false;
        }



        var Activityid = $('#Activityid1').val();
        if (Activityid == "" || Activityid == "0") {
            swal('Please Enter Activity')
            return false;
        }


        var Subactivityid = $('#Subactivityid1').val();
        if (Subactivityid == "0" || Subactivityid == "") {
            swal('Please Enter Subactivity')
            return false;
        }

        var vertical = $('#Verticals1').val();
        if (vertical == 4) {

            projectid = $('#Projectid1').val();
            if (projectid == "0" || projectid == "") {
                swal('Please Enter project')
                return false;
            }

            moduleid = $('#Moduleid1').val();
            if (moduleid == "0" || moduleid == "") {
                swal('Please Enter module')
                return false;
            }

        } else if (vertical == 5) {

            projectid = $('#Projectid1').val();
            if (projectid == "0" || projectid == "") {
                swal('Please Enter project')
                return false;
            }
            moduleid = 0;

        } else {

            projectid = 0;
            moduleid = 0;

        }

        $('#imgloader1').show();

        $.ajax({
            url: "/TODO/AcceptTask",
            type: "POST",
            dataType: "json",
            data: { 'todoid': todoid, 'Clientid': Clientid, 'Activityid': Activityid, 'Subactivityid': Subactivityid, 'projectid': projectid, 'moduleid': moduleid },
            success: function (data) {

                $('#modalclose').click();
                swal("Task Accepted!");
                $('#imgloader1').hide();
                window.location.reload();

            }
        });



    }

    function Rejecttodo() {

        $('#imgloader2').show();
        var todoid = $('#Todoid').val();

        var RejectRemark = $('#RejectRemark').val();
        if (RejectRemark == "") {
            swal('Please Enter Reject Remark')
            return false;
        }
        $.ajax({
            url: "/TODO/RejectTask",
            type: "POST",
            dataType: "json",
            data: { 'todoid': todoid, 'RejectRemark': RejectRemark },
            success: function (data) {

                $('#imgloader2').hide();
                $('#modalclose').click();
                swal("Task Rejected!");
                window.location.reload();
            }
        });
    }


    function SaveAccepdata(todoid) {


        var projectid = 0;
        var moduleid = 0;

        var Clientid = $('#Clientid').val();
        if (Clientid == "0") {
            swal('Please Enter Clientname')
            return false;
        }

        var Activityid = $('#Activityid').val();
        if (Activityid == "0") {
            swal('Please Enter Activity')
            return false;
        }


        var Subactivityid = $('#Subactivityid').val();
        if (Subactivityid == "0") {
            swal('Please Enter Subactivity')
            return false;
        }

        var vertical = $('#Verticals').val();
        if (vertical == 4) {

            projectid = $('#Projectid').val();
            if (projectid == "0") {
                swal('Please Enter project')
                return false;
            }

            moduleid = $('#Moduleid').val();
            if (moduleid == "0") {
                swal('Please Enter module')
                return false;
            }

        } else if (vertical == 5) {

            projectid = $('#Projectid').val();
            if (projectid == "0") {
                swal('Please Enter project')
                return false;
            }
            moduleid = 0;

        } else {

            projectid = 0;
            moduleid = 0;

        }

        $.ajax({
            url: "/TODO/AcceptTask",
            type: "POST",
            dataType: "json",
            data: { 'todoid': todoid, 'Clientid': Clientid, 'Activityid': Activityid, 'Subactivityid': Subactivityid, 'projectid': projectid, 'moduleid': moduleid },
            success: function (data) {

            }
        });
    }
</script>
<script type="text/javascript">


    function GetVerticaldata() {

        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetClientlist",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#Clientid").empty();
                if (data) {
                    $('#Clientid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Clientid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                } else {
                    $('#Clientid').append("<option value='0'>--- Select --</option>");
                }
            }
        });
        
        $.ajax({
            url: "/TODO/GetActivitylist",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals },
            success: function (data) {
                $("#Activityid").empty();
                $("#Subactivityid").empty();
                if (data) {
                    $('#Activityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Activityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                       
                    }
                }
                else {
                    $('#Activityid').append("<option value='0'>--- Select --</option>");
                   
                }
            }
        });




        if (Verticals == 4) {

            $('#divproject').show();
            $('#divmodules').show();
        }
        else if (Verticals == 5) {
            $('#divproject').show();
            $('#divmodules').hide();
            $('#act').show();
        } else {
            $('#divproject').hide();
            $('#divmodules').hide();
             $('#act').hide();
        }


    }



    function Getbindproject() {

        var Clientid = $('#Clientid').val();
        var Verticals = $('#Verticals').val();

        $.ajax({
            url: "/TODO/GetProject",
            type: "POST",
            dataType: "json",
            data: { 'Clientid': Clientid, 'Verticals': Verticals },
            success: function (data) {

                $("#Projectid").empty();
                if (data) {
                    $('#Projectid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Projectid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Projectid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }


    function getbindmodules() {

        var Projectid = $('#Projectid').val();
        var Verticals = $('#Verticals').val();

        $.ajax({
            url: "/TODO/GetProjectModules",
            type: "POST",
            dataType: "json",
            data: { 'Projectid': Projectid, 'Verticals': Verticals },
            success: function (data) {

                $("#Moduleid").empty();
                if (data) {
                    $('#Moduleid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Moduleid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Moduleid').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }






    function getsubactivity() {
        var Id = $('#Activityid').val();
        var Verticals = $('#Verticals').val();
        $.ajax({
            url: "/TODO/GetSubActivityList",
            type: "POST",
            dataType: "json",
            data: { 'ActivityId': Id, 'Verticals': Verticals },
            success: function (data) {

                $("#Subactivityid").empty();

                if (data) {
                    $('#Subactivityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {

                        $('#Subactivityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Subactivityid').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }



     function getAttrsubactivity() {
        var Id = $('#AttorneyActivityid').val();
        var Verticals = "@Model.HDVertical";
        $.ajax({
            url: "/TODO/GetSubActivityListAttorny",
            type: "POST",
            dataType: "json",
            data: { 'ActivityId': Id, 'Verticals': Verticals },
            success: function (data) {

                $("#AttorneySubactivityid").empty();

                if (data) {
                    $('#AttorneySubactivityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {

                        $('#AttorneySubactivityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#AttorneySubactivityid').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }








</script>
<script type="text/javascript">
    var Verticals = "@Model.HDVertical";
     $.ajax({
         url: "/TODO/GetActivitylistAttorny",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals },
            success: function (data) {
                $("#AttorneyActivityid").empty();
                $("#AttorneySubactivityid").empty();
                if (data) {
                    $('#AttorneyActivityid').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#AttorneyActivityid').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                       
                    }
                }
                else {
                    $('#AttorneyActivityid').append("<option value='0'>--- Select --</option>");
                   
                }
            }
        });
</script>
<script type="text/javascript">

    function GetVerticaldata1() {

        var Verticals = $('#Verticals1').val();
        if (Verticals == 4) {

            $('#divproject1').show();
            $('#divmodules1').show();
        }
        else if (Verticals == 5) {
            $('#divproject1').show();
            $('#divmodules1').hide();
            $('#act').show();
        } else {
            $('#divproject1').hide();
            $('#divmodules1').hide();
             $('#act').hide();
        }

        Getverticalsdata();
        GetActivitydatas();
    }

    function Getverticalsdata() {
        var Verticals = $('#Verticals1').val();

        $.ajax({
            url: "/TODO/GetClientlist",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#Clientid1").empty();
                if (data) {
                    $('#Clientid1').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Clientid1').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                } else {
                    $('#Clientid1').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }

    function GetActivitydatas() {

        var Verticals = $('#Verticals1').val();

        $.ajax({
            url: "/TODO/GetActivitylist",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Verticals },
            success: function (data) {

                $("#Activityid1").empty();
                $("#Subactivityid1").empty();
                if (data) {
                    $('#Activityid1').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Activityid1').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Activityid1').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }



    function getbindmodules1() {

        var Projectid = $('#Projectid1').val();
        var Verticals = $('#Verticals1').val();

        $.ajax({
            url: "/TODO/GetProjectModules",
            type: "POST",
            dataType: "json",
            data: { 'Projectid': Projectid, 'Verticals': Verticals },
            success: function (data) {

                $("#Moduleid1").empty();
                if (data) {
                    $('#Moduleid1').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Moduleid1').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Moduleid1').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }



    function Getbindproject1() {

        var Clientid = $('#Clientid1').val();
        var Verticals = $('#Verticals1').val();

        $.ajax({
            url: "/TODO/GetProject",
            type: "POST",
            dataType: "json",
            data: { 'Clientid': Clientid, 'Verticals': Verticals },
            success: function (data) {

                $("#Projectid1").empty();
                if (data) {
                    $('#Projectid1').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#Projectid1').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Projectid1').append("<option value='0'>--- Select --</option>");
                }
            }
        });

    }





    function getsubactivity1() {
        var Id = $('#Activityid1').val();
        var Verticals = $('#Verticals1').val();
        $.ajax({
            url: "/TODO/GetSubActivityList",
            type: "POST",
            dataType: "json",
            data: { 'ActivityId': Id, 'Verticals': Verticals },
            success: function (data) {

                $("#Subactivityid1").empty();

                if (data) {
                    $('#Subactivityid1').append("<option value='0'>--- Select --</option>");
                    for (i = 0; i < data.length; i++) {

                        $('#Subactivityid1').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                }
                else {
                    $('#Subactivityid1').append("<option value='0'>--- Select --</option>");
                }
            }
        });
    }

</script>

<script type="text/javascript">

    $(document).ready(function () {

         var Verticals = "@Model.HDVertical";
        $('#Verticals1').val(Verticals);
        GetVerticaldata1();
        $('#Verticals').val(Verticals);
        GetVerticaldata();

    });

</script>