﻿@model CoreStructure_APP.Models.Task_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Task Details";
    ViewBag.Active = "TaskDetails";
    ViewBag.Open = "Task Details";
    ViewBag.Panel = "TaskDetails";
    ViewData["Title"] = "Task Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- START: Breadcrumbs-->
    <div class="row ">
        <div class="col-12  align-self-center">
            <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                <div class="w-sm-100 mr-auto"><h4 class="mb-0">Task Details</h4></div>

                <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                    <li class="breadcrumb-item"><a href="Index">Home</a></li>
                    <li class="breadcrumb-item active"><a href="#">Task Details</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" scope="col">Title</th>
                                        <th class="border-top-0" scope="col">Description</th>
                                        <th class="border-top-0" scope="col">Create On</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>@ViewBag.TodoDetailList[0].Title</td>
                                        <td>@ViewBag.TodoDetailList[0].Description</td>
                                        <td>@ViewBag.TodoDetailList[0].CreateOn</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form id="formActivity" asp-controller="ToDo" asp-action="TaskDetails" method="post" class="form-horizontal" enctype="multipart/form-data">
        <input type="hidden" asp-for="Todoid" />
    </form>

    <div class="row">
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" scope="col">Assignee</th>
                                        <th class="border-top-0" scope="col">Assignor</th>
                                        <th class="border-top-0" scope="col">Start Date</th>
                                        <th class="border-top-0" scope="col">End Date</th>
                                        <th class="border-top-0" scope="col">Priority</th>
                                        <th class="border-top-0" scope="col">Frequency</th>
                                        <th class="border-top-0" scope="col">Status</th>
                                        <th class="border-top-0" scope="col">Progress</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.TodoDetailList != null)
                                    {
                                        foreach (var item in ViewBag.TodoDetailList)
                                        {
                                            <tr>
                                                <td>@item.AssignTo</td>
                                                <td>@item.AssignBy</td>
                                                @if (item.StartDate == "01-01-1900")
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@item.StartDate</td>
                                                }
                                                @if (item.EndDate == "01-01-1900")
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@item.EndDate</td>
                                                }
                                                <td>@item.Priority</td>
                                                <td>@item.Frequency</td>
                                                <td>
                                                    @if (item.Isaccepted == 0 && item.StatusId == 5)
                                                    {
                                                        <a data-toggle="collapse" href="#tsk_@item.Id" role="button" style="color:dodgerblue" onclick="showtaskdetails(@item.Id)" aria-expanded="false" aria-controls="collapseExample">
                                                            Rejected
                                                        </a>
                                                        @*<span>Rejected</span>*@
                                                    }
                                                    else if (item.Isaccepted == 0)
                                                    {
                                                        <span>Not Accepted</span>

                                                    }
                                                    else
                                                    {
                                                        <a data-toggle="collapse" href="#tsk_@item.Id" role="button" style="color:dodgerblue" onclick="showtaskdetails(@item.Id)" aria-expanded="false" aria-controls="collapseExample">
                                                            @item.Status
                                                        </a>
                                                    }

                                                </td>
                                                <td>
                                                    <div class="progress">
                                                        @if (item.Status == "Open")
                                                        {
                                                            <div class="progress-bar bg-danger w-20" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                        }
                                                        else if (item.Status == "Processing")
                                                        {
                                                            <div class="progress-bar progress-bar-striped w-50" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                        }
                                                        else if (item.Status == "Reject")
                                                        {
                                                            <div class="progress-bar bg-danger w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="progress-bar bg-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                        }

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="tr_@item.Id">
                                                <td colspan="7" id="td_@item.Id">
                                                    <div class="collapse" id="tsk_@item.Id">
                                                        <div id="div_@item.Id">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function showtaskdetails(todoid) {

        $.ajax({
            url: "/TODO/GetAlltaskdetails",
            type: "POST",
            dataType: "json",
            data: { 'todoid': todoid },
            success: function (data) {

                var table = '<table class="table table-hover table-dark"> <thead><tr> <th>Sr.no </th> <th>Date </th><th>Time</th><th>Details</th> <th>Status </th></tr> </thead> <tbody>';

                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        table = table + "<tr><td>" + data[i].id + " </td><td> " + data[i].createOn + " </td><td>" + data[i].startDate + " </td><td>" + data[i].description + " </td><td>" + data[i].status + " </td> </tr>";
                    }

                } else {

                    table = "<tr><td colspan='4'> </td> </tr>";
                }

                table = table + "</tbody> </table> ";

                $('#div_' + todoid).html(table);

            }
        });
    }

</script>

