﻿@model CoreStructure_APP.Models.Task_Model
@{
    ViewData["Title"] = "ViewAllTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/components-date-time-pickers.min.js"></script>

<style type="text/css">
    .form-group {
        position: relative;
    }
</style>
<script type="text/javascript">
    function GetVerticalsdata() {
        var Vertical = $('#Vertical').val();
        $.ajax({
            url: "/TODO/GetEmployeelist",
            type: "POST",
            dataType: "json",
            data: { 'Verticals': Vertical },
            success: function (data) {

                $("#EmployeeId").empty();
                if (data) {
                    $('#EmployeeId').append("<option value='0'>--- Select All --</option>");
                    for (i = 0; i < data.length; i++) {
                        $('#EmployeeId').append("<option value='" + data[i].value + "'>" + data[i].text + "</option>");
                    }
                } else {
                    $('#EmployeeId').append("<option value='0'>--- Select  --</option>");
                }
            }

        });
        //GetDataFilterWise();
    }




</script>
<script type="text/javascript">
    function GetDataFilterWise() {
        //var Vertical = $('#Vertical').val();
        //if (Vertical == "" || Vertical == null) {
        //    Vertical = 0;
        //}
        //var EmpId = $('#EmployeeId').val();
        //if (EmpId == "" || EmpId == null) {
        //    EmpId = 0;
        //}
        //$.ajax({
        //    url: "/TODO/GetEmployeelistFilterWise",
        //    type: "POST",
        //    dataType: "json",
        //    async: false,
        //    data: { 'Verticals': Vertical, 'EmpId': EmpId },
        //    success: function (data) {

        //        alert('ygfggfgfg');


        //    }
        //});
        $('#formActivity').submit();
    }
</script>
<!-- START: Breadcrumbs-->
<form id="formActivity" asp-controller="ToDo" asp-action="GetEmployeelistFilterWise" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="row ">
        <div class="col-12  align-self-center">
            <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                <div class="w-sm-100 mr-auto">

                    <h4 class="mb-0" style="margin-top:34px"> Task Board </h4>

                </div>

                @*<div class="col-md-3" id="divVertical" style="text-align:left">*@
                <div class="form-group col-md-3">
                    <label asp-for="Vertical"></label>
                    <select asp-for="Vertical" class="form-control" asp-items="ViewBag.VerticalList" onchange="GetVerticalsdata()">
                        <option value="">---Select Vertical---</option>
                    </select>
                </div>
                @*<div class="form-group col-md-3">*@
                <div class="form-group col-md-3" style="margin-right: 235px;">
                    <label asp-for="EmployeeId"></label>
                    <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeList" onchange="GetDataFilterWise()">
                        <option value="">---Select Employee---</option>
                    </select>
                </div>

                <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                    <li class="breadcrumb-item">Home</li>
                    @*<li class="breadcrumb-item">App</li>*@
                    <li class="breadcrumb-item active"><a href="#">Task Board</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- END: Breadcrumbs-->
    <!-- START: Card Data-->
</form>
<div id="datagrid">
    <div class="row row-eq-height">
        <div class="col-12 col-lg-4 mt-3 pr-lg-0">
            <div class="card" style="min-height:456px">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Todo</h4>
                    <div class="dropdown">
                        @Enumerable.Count(ViewBag.TodoList) Tasks
                    </div>
                </div>
                <div class="card-body">
                    <ul class="tasks chat-menu" id="task-list-1">
                        @if (ViewBag.TodoList != null)
                        {
                            foreach (var item in ViewBag.TodoList)
                            {
                                <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                    <label class="">
                                        <i class="fa fa-folder-open fa-2x" style="color: #FF5733" aria-hidden="true"></i>
                                        <b> <a href="/ToDo/TaskDetails?Id=@item.Id" target="_blank">@item.Title</a></b>
                                        @if (item.Priority == "High")
                                        {
                                            <span class="badge p-2 badge-danger mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }
                                        else if (item.Priority == "Medium")
                                        {
                                            <span class="badge p-2 badge-warning mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }
                                        else
                                        {
                                            <span class="badge p-2 badge-info mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }


                                        <br><span class="text-muted"> Assignor : @item.AssignBy</span>
                                        <br><span class="text-muted"> Assignee : @item.AssignTo</span>
                                        <span class="checkmark mt-2"></span>

                                        <br />



                                    </label>

                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 mt-3 pr-lg-0">
            <div class="card" style="min-height:456px">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">In progress</h4>
                    <div class="dropdown">
                        @Enumerable.Count(ViewBag.PendingList) Tasks
                    </div>
                </div>


                <div class="card-body">
                    <ul class="tasks chat-menu" id="task-list-2">
                        @if (ViewBag.PendingList != null)
                        {
                            foreach (var item in ViewBag.PendingList)
                            {
                                <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                    <label class="">
                                        <i class="fa fa-cogs fa-2x" style="color: #D49E50" aria-hidden="true"></i>
                                        <b> <a href="TaskDetails?Id=@item.Id" target="_blank">@item.Title</a></b>

                                        @if (item.Priority == "High")
                                        {
                                            <span class="badge p-2 badge-danger mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }
                                        else if (item.Priority == "Medium")
                                        {
                                            <span class="badge p-2 badge-warning mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }
                                        else
                                        {
                                            <span class="badge p-2 badge-info mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }


                                        <br><span class="text-muted"> Assignor : @item.AssignBy</span>
                                        <br><span class="text-muted"> Assignee : @item.AssignTo</span>

                                        <span class="checkmark mt-2"></span>



                                    </label>
                                </li>
                            }
                        }


                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-3 pr-lg-0">
            <div class="card" style="min-height:456px">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Completed</h4>
                    <div class="dropdown">
                        @Enumerable.Count(ViewBag.CompleteList) Tasks
                    </div>
                </div>
                <div class="card-body">
                    <ul class="tasks chat-menu" id="task-list-3">
                        @if (ViewBag.CompleteList != null)
                        {
                            foreach (var item in ViewBag.CompleteList)
                            {
                                <li class="task task-card d-flex py-3 px-2 border-left border-primary">
                                    <label class="">
                                        @if (item.StatusId == 5)
                                        {
                                            <i class="fa fa-ban fa-2x" style="color: #e62511" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-thumbs-up fa-2x" style="color: #39980F" aria-hidden="true"></i>
                                        }
                                        <b> <a href="TaskDetails?Id=@item.Id" target="_blank">@item.Title</a></b>

                                        @if (item.Priority == "High")
                                        {
                                            <span class="badge p-2 badge-danger mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }
                                        else if (item.Priority == "Medium")
                                        {
                                            <span class="badge p-2 badge-warning mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }
                                        else
                                        {
                                            <span class="badge p-2 badge-info mb-1" style="margin-left: 200px;">@item.Priority</span>
                                        }

                                        <br><span class="text-muted"> Assignor : @item.AssignBy</span>
                                        <br><span class="text-muted"> Assignee : @item.AssignTo</span>
                                        <span class="checkmark mt-2"></span>

                                    </label>
                                </li>
                            }
                        }
                    </ul>
                    @*<a href="#" class="btn btn-outline-primary  mt-2">Add Task</a>*@
                </div>
            </div>
        </div>
    </div>
</div>



