﻿@model CoreStructure_APP.Models.Task_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "View Task";
    ViewBag.Active = "View Task";
    ViewBag.Open = "View Task";
    ViewBag.Panel = "ToDo";
    ViewData["Title"] = "View Task";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header  justify-content-between align-items-center">
                <h4 class="card-title">View Task</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display table dataTable table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Frequency</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>Assignee</th>
                                @*<th>Start Date</th>
                                <th>End Date</th>*@
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int SNo = 0; }
                            @if (ViewBag.TaskList != null)
                            {
                                foreach (var item in ViewBag.TaskList)
                                {
                                    { SNo = SNo + 1; }
                                    <tr>
                                        <td>@SNo</td>
                                        <td>@item.Date</td>
                                        <td>@item.Title</td>
                                        <td>@item.Frequency</td>
                                        <td>@item.Description</td>
                                        <td>@item.Priority</td>
                                        <td>@item.AssignTo</td>
                                        @*@if (item.StartDate == "01-01-1900")
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@item.StartDate</td>
                                        }
                                        @if (item.EndDate == "01-01-1900")
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@item.EndDate</td>
                                        }*@
                                        <td>
                                            <a href="/ToDo/TaskDetails?Id=@item.Id" target="_blank" style="color: dodgerblue;">
                                                @item.Status
                                            </a>
                                        </td>


                                        @if (item.Status != "Done" && item.Status != "Processing")
                                        {
                                            <td>
                                                <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditTask", "ToDo", new { @TaskId = item.Id })"> <span class="fas fa-pencil-alt"></span> </a>
                                                <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteTask", "ToDo", new { @TaskId = item.Id })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fas fa-trash"></span> </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">No Data Found... </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@*<div class="row">
        <div class="col-md-12" style="height:1px !important">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-6">
                            <h3 class="panel-title"><strong>Task</strong></h3>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <button type="button" class="btn btn-info " value="" onclick="location.href = '@Url.Action("AddContactPerson", "Masters") '"><i class="fa fa-list"></i> New Contact Person</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Name</th>
                                        <th>Father's Name</th>
                                        <th>Contact No</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>State</th>
                                        <th>City</th>

                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int SNo = 0; }
                                    @if (ViewBag.ContactPersonList != null)
                                    {
                                        foreach (var item in ViewBag.ContactPersonList)
                                        {
                                            { SNo = SNo + 1; }
                                            <tr>
                                                <td>@SNo<span></span></td>
                                                <td>@item.Name</td>
                                                <td>@item.FatherName</td>
                                                <td>@item.MobileNo</td>
                                                <td>@item.EmailId</td>
                                                <td>@item.Address</td>
                                                <td>@item.StateName</td>
                                                <td>@item.CityName</td>

                                                <td>
                                                    <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("EditContactPerson", "Masters", new { @ContactPersonId = item.ContactPersonId })"> <span class="fa fa-pencil"></span> </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-md btn-rounded" href="@Url.Action("DeleteContactPerson", "Masters", new { @ContactPersonId = item.ContactPersonId })" onclick="return confirm('Are you sure you want to delete?');"> <span class="fa fa-trash-o"></span> </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Data Found... </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


