﻿@model CoreStructure_APP.Models.Task_Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "View Total Task Details";
    ViewBag.Active = "View Total Task Details";
    ViewBag.Open = "View Total Task Details";
    ViewBag.Panel = "ToDo";
    ViewData["Title"] = "View Total Task Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="@ViewBag.HideClass" style="text-align:center" id="success-alert">
    @ViewBag.Message
</div>
<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header  justify-content-between align-items-center">
                <h4 class="card-title">Total Task</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display table dataTable table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>Assign To</th>
                                <th>Assign By</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>

                               
                            </tr>
                        </thead>
                        <tbody>
                            @{ int SNo = 0; }
                            @if (ViewBag.TaskList != null)
                            {
                                foreach (var item in ViewBag.TaskList)
                                {
                                    { SNo = SNo + 1; }
                                    <tr>
                                        <td>@SNo</td>
                                        <td>@item.Date</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>@item.Priority</td>
                                        <td>@item.AssignTo</td>
                                        <td>@item.AssignBy</td>
                                        <td>@item.StartDate</td>
                                        <td>@item.EndDate</td>
                                        <td>@item.Status</td>

                                       

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">No Data Found... </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>