﻿<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>PIB - @ViewBag.Title</title>
    <meta name="keywords" content="PIB" />
    <meta name="description" content="PIB">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/morris/morris.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/Content/Theme2/assets/vendor/modernizr/modernizr.js"></script>
    <link href="~/css/jquery.steps.css" rel="stylesheet" />
    <link href="~/Content/CustomCSS/Global.css" rel="stylesheet" />

</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <h4>PIB</h4>
                </a>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="~/Content/Theme2/assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="~/Content/Theme2/assets/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            <span class="name">User</span>
                            <span class="role">administrator</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="@Url.Action("Login","Auth")"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="@Url.Action("Index","Home")">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>PIB</span>
                                    </a>
                                </li>

                                <li class="nav-parent @(ViewBag.Panel=="Company Panel" ? "nav-expanded nav-active" : "")">
                                    <a>
                                        <i class="fa fa-align-left" aria-hidden="true"></i>
                                        <span>Company Panel</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li class="nav-parent @(ViewBag.Open=="ParentCompany" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Company</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewParentCompany" ? "nav-active" : "")">
                                                    <a href="@Url.Action("NewParentCompany","ParentCompany")">
                                                        <span class="fa fa-circle-o"></span> New Company
                                                    </a>
                                                </li>
                                                <li class="@(ViewBag.Active=="ListParentCompany" ? "nav-active" : "")">
                                                    <a href="@Url.Action("ListParentCompany","ParentCompany")">
                                                        <span class="fa fa-list-ul"></span> List Company
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-parent @(ViewBag.Open=="SubCompany" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Sub Company</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewSubCompany" ? "nav-active" : "")">
                                                    <a href="@Url.Action("NewSubCompany","SubCompany")">
                                                        <span class="fa fa-circle-o"></span> New Sub Company
                                                    </a>
                                                </li>
                                                <li class="@(ViewBag.Active=="ListSubCompany" ? "nav-active" : "")">
                                                    <a href="@Url.Action("ListSubCompany","SubCompany")">
                                                        <span class="fa fa-list-ul"></span> List Sub Company
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-parent @(ViewBag.Open=="Domain" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Domain</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewDomain" ? "nav-active" : "")">
                                                    <a href="@Url.Action("NewDomain","Domain")">
                                                        <span class="fa fa-circle-o"></span> New Domain
                                                    </a>
                                                </li>
                                                <li class="@(ViewBag.Active=="ListDomain" ? "nav-active" : "")">
                                                    <a href="@Url.Action("ListDomain","Domain")">
                                                        <span class="fa fa-list-ul"></span> List Domain
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-parent @(ViewBag.Panel=="Manage User" ? "nav-expanded nav-active" : "")">
                                    <a>
                                        <i class="fa fa-align-left" aria-hidden="true"></i>
                                        <span>Manage User</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li class="nav-parent @(ViewBag.Open=="Manage Employee" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Manage Employe</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewEmployee" ? "nav-active" : "")"><a href="@Url.Action("NewEmployee","Employee")"><span class="fa fa-circle-o"></span> New Employee</a></li>
                                                <li class="@(ViewBag.Active=="ListEmployee" ? "nav-active" : "")"><a href="@Url.Action("ListEmployee","Employee")"><span class="fa fa-list-ul"></span> List Employee</a></li>
                                                <li class="@(ViewBag.Active=="ApproverLimitation" ? "nav-active" : "")"><a href="@Url.Action("ApproverLimitation","Employee")"><span class="fa fa-circle-o"></span> Approver Limitation</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Manage Vendor" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Manage Vendor</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewVendor" ? "nav-active" : "")"><a href="@Url.Action("NewVendor","Vendor")"><span class="fa fa-circle-o"></span> New Vendor</a></li>
                                                <li class="@(ViewBag.Active=="ListVendor" ? "nav-active" : "")"><a href="@Url.Action("ListVendor","Vendor")"><span class="fa fa-list-ul"></span> List Vendor</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Group" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Manage Group</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewGroup" ? "nav-active" : "")"><a href="@Url.Action("NewGroup","Group")"><span class="fa fa-circle-o"></span> New Group</a></li>
                                                <li class="@(ViewBag.Active=="ListGroup" ? "nav-active" : "")"><a href="@Url.Action("ListGroup","Group")"><span class="fa fa-list-ul"></span> List Group</a></li>
                                                <li class="@(ViewBag.Active=="GroupMapping" ? "nav-active" : "")"><a href="@Url.Action("GroupMapping","Group")"><span class="fa fa-circle-o"></span> Group Mapping</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-parent @(ViewBag.Panel=="BPM Panel" ? "nav-expanded nav-active" : "")">
                                    <a>
                                        <i class="fa fa-align-left" aria-hidden="true"></i>
                                        <span>BPM Panel</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li class="nav-parent @(ViewBag.Open=="Manage Forms" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Manage Forms</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewForm" ? "nav-active" : "")"><a href="@Url.Action("NewForm","Form")"><span class="fa fa-circle-o"></span> New Form</a></li>
                                                <li class="@(ViewBag.Active=="ListForm" ? "nav-active" : "")"><a href="@Url.Action("ListForm","Form")"><span class="fa fa-list-ul"></span> List Form</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Manage Check List" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Manage Check List</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewCheckList" ? "nav-active" : "")"><a href="@Url.Action("NewCheckList","CheckList")"><span class="fa fa-circle-o"></span> New Check List</a></li>
                                                <li class="@(ViewBag.Active=="ListCheckList" ? "nav-active" : "")"><a href="@Url.Action("ListCheckList","CheckList")"><span class="fa fa-list-ul"></span> List Check List</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Work Flow" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Work Flow</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewWorkFlow" ? "nav-active" : "")"><a href="@Url.Action("NewWorkFlow","WorkFlow")"><span class="fa fa-circle-o"></span> New Work Flow</a></li>
                                                <li class="@(ViewBag.Active=="ListWorkFlow" ? "nav-active" : "")"><a href="@Url.Action("ListWorkFlow","WorkFlow")"><span class="fa fa-list-ul"></span> List Work Flow</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-parent @(ViewBag.Panel=="DMS Panel" ? "nav-expanded nav-active" : "")">
                                    <a>
                                        <i class="fa fa-align-left" aria-hidden="true"></i>
                                        <span>DMS Panel</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li class="nav-parent @(ViewBag.Open=="Manage Document Class" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Document Class</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewDocumentClass" ? "nav-active" : "")"><a href="@Url.Action("NewDocumentClass","DocumentClass")"><span class="fa fa-circle-o"></span> New Document Class</a></li>
                                                <li class="@(ViewBag.Active=="ListDocumentClass" ? "nav-active" : "")"><a href="@Url.Action("ListDocumentClass","DocumentClass")"><span class="fa fa-list-ul"></span> List Document Class</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Manage Document Type" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Document Type</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewDocumentType" ? "nav-active" : "")"><a href="@Url.Action("NewDocumentType","DocumentType")"><span class="fa fa-circle-o"></span> New Document Type</a></li>
                                                <li class="@(ViewBag.Active=="ListDocumentType" ? "nav-active" : "")"><a href="@Url.Action("ListDocumentType","DocumentType")"><span class="fa fa-list-ul"></span> List Document Type</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Manage Document Sensitivity" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Document Sensitivity</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewDocumentSensitivity" ? "nav-active" : "")"><a href="@Url.Action("NewDocumentSensitivity","DocumentSensitivity")"><span class="fa fa-circle-o"></span> New Document Sensitivity</a></li>
                                                <li class="@(ViewBag.Active=="ListDocumentSensitivity" ? "nav-active" : "")"><a href="@Url.Action("ListDocumentSensitivity","DocumentSensitivity")"><span class="fa fa-list-ul"></span> List Document Sensitivity</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Manage Record Field" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Record Field</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="NewRecordField" ? "nav-active" : "")"><a href="@Url.Action("NewRecordField","RecordField")"><span class="fa fa-circle-o"></span> New Record Field</a></li>
                                                <li class="@(ViewBag.Active=="ListRecordField" ? "nav-active" : "")"><a href="@Url.Action("ListRecordField","RecordField")"><span class="fa fa-list-ul"></span> List Record Field</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Document Class Document Type" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Document Class Document Type Mapping</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="InsertMapping" ? "nav-active" : "")"><a href="@Url.Action("InsertMapping","DocClassDocTypeMapping")"><span class="fa fa-circle-o"></span> New Mapping</a></li>
                                                <li class="@(ViewBag.Active=="ListMapping" ? "nav-active" : "")"><a href="@Url.Action("ListMapping","DocClassDocTypeMapping")"><span class="fa fa-list-ul"></span> List Mapping</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Document Class Record Field Mapping" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Document Class Record Field Mapping</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="InsertMapping" ? "nav-active" : "")"><a href="@Url.Action("InsertMapping","DocClassRecordFieldMapping")"><span class="fa fa-circle-o"></span> New Mapping</a></li>
                                                <li class="@(ViewBag.Active=="ListMapping" ? "nav-active" : "")"><a href="@Url.Action("ListMapping","DocClassRecordFieldMapping")"><span class="fa fa-list-ul"></span> List Mapping</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Document Type Record Field Mapping" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Document Type Record Field Mapping</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="InsertMapping" ? "nav-active" : "")"><a href="@Url.Action("InsertMapping","DocTypeRecordFieldMapping")"><span class="fa fa-circle-o"></span> New Mapping</a></li>
                                                <li class="@(ViewBag.Active=="ListMapping" ? "nav-active" : "")"><a href="@Url.Action("ListMapping","DocTypeRecordFieldMapping")"><span class="fa fa-list-ul"></span> List Mapping</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-parent @(ViewBag.Open=="Document Class User Mapping" ? "nav-expanded nav-active" : "")">
                                            <a>
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Document Class User Mapping</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                <li class="@(ViewBag.Active=="InsertMapping" ? "nav-active" : "")"><a href="@Url.Action("InsertMapping","DocClassUserMapping")"><span class="fa fa-circle-o"></span> New Mapping</a></li>
                                                <li class="@(ViewBag.Active=="ListMapping" ? "nav-active" : "")"><a href="@Url.Action("ListMapping","DocClassUserMapping")"><span class="fa fa-list-ul"></span> List Mapping</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a target="_blank" href="@Url.Action("Index", "AuditManagement",new { Area=""}, null)"><span class="fa fa-desktop"></span><span class="xn-text">Audit Management</span></a>
                                </li>

                                <li class="">
                                    <a href="@Url.Action("Login","Auth")"><span class="fa fa-power-off"></span><span class="xn-text">Quit</span></a>
                                </li>

                            </ul>
                        </nav>

                        <hr class="separator" />

                    </div>

                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>@ViewBag.Open</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="@Url.Action("Index","Home")">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>Home</span></li>
                        </ol>
                    </div>
                </header>

                @RenderBody()
            </section>
        </div>

    </section>
    <!-- Vendor -->
    <script src="~/Content/Theme2/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Content/Theme2/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/Theme2/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/Content/Theme2/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Theme2/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/Content/Theme2/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/Content/Theme2/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/Content/Theme2/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/Content/Theme2/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/Content/Theme2/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/Content/Theme2/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/Theme2/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/Content/Theme2/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/Content/Theme2/assets/vendor/raphael/raphael.js"></script>
    <script src="~/Content/Theme2/assets/vendor/morris/morris.js"></script>
    <script src="~/Content/Theme2/assets/vendor/gauge/gauge.js"></script>
    <script src="~/Content/Theme2/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="~/Content/Theme2/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/Theme2/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Content/Theme2/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Content/Theme2/assets/javascripts/theme.init.js"></script>

    <script src="~/js/jquery.steps.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <!-- Examples -->
    @*<script src="~/Content/Theme2/assets/javascripts/dashboard/examples.dashboard.js"></script>*@
</body>
</html>