﻿<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="PIB || Login" />
    <meta name="description" content="PIB || Login">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/Theme2/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/Content/Theme2/assets/vendor/modernizr/modernizr.js"></script>

</head>

@*<body style="background-image:url(../Content/BackImage.jpg);background-repeat: no-repeat;" >*@

<body style="background-image:url(../Content/backImage.png); background-repeat: no-repeat; display:block; width:100%;">

    <!-- start: page -->
    <section class="body-sign">
        @RenderBody()
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="~/Content/Theme2/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Content/Theme2/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/Theme2/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/Content/Theme2/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Theme2/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/Content/Theme2/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/Theme2/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Content/Theme2/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Content/Theme2/assets/javascripts/theme.init.js"></script>






 


</body>
</html>