﻿<!DOCTYPE html>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using CoreStructure_APP.Utility
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>PIB - @ViewBag.Title</title>
    @*@{
            string username;
            foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
            {
                @cookie.Key @cookie.Value

                if (cookie.Key == "UserId")
                {
                    username = cookie.Value;
                }
            }
        }*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <style type="text/css">
        @@font-face {
            font-family: 'roboto.regular';
            src: url('Content/roboto.regular.ttf');
        }

        .classname {
            font-family: 'roboto.regular';
        }
    </style>

    @*<a href="~/Content/roboto.regular.ttf">~/Content/roboto.regular.ttf</a>*@

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="Theme" href="~/Content/Theme1/css/Theme-default.css" />

    <link href="~/Content/CustomCSS/Global.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="@Url.Action("Index", "Home",new { Area=""}, null)" style="height:100% !important"><img src="~/Images/logo-gray.png" style="width:40%;" /></a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
            </ul>


            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">

                <li class="xn-icon-button" title="minimize / maximize">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <li class="xn-icon-button pull-right">
                    <a href="http://202.21.32.26:954/DMS/web_help/index.htm" target="_blank" title="help"><span class="fa fa-info"></span></a>
                </li>
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home",new { Area=""}, null)">Home</a></li>
                <li>@ViewBag.Panel</li>
                <li class="active">@ViewBag.Open</li>
            </ul>
            <!-- END BREADCRUMB -->
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">

                @RenderBody()

            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("Login","Auth",new { Area=""}, null)" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-message">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Hello <strong>World</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="#" class="btn btn-default btn-lg mb-control-close">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- START PRELOADS -->
    @*<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>*@
    <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    @*<script type="text/javascript" src="~/Content/Theme1/js/plugins/jquery/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins/jquery/jquery-ui.min.js"></script>
    @*<script type="text/javascript" src="~/Content/Theme1/js/plugins/bootstrap/bootstrap.min.js"></script>*@
    <!-- END PLUGINS -->
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Theme1/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/Theme1/js/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/Theme1/js/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/Theme1/js/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/Theme1/js/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/Theme1/js/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/Theme1/js/plugins/datatables/buttons.print.min.js"></script>

    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='~/Content/Theme1/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins/morris/raphael-min.js"></script>
    @*<script type="text/javascript" src="~/Content/Theme1/js/plugins/morris/morris.min.js"></script>*@
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/rickshaw/d3.v3.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/rickshaw/rickshaw.min.js"></script>
    <script type='text/javascript' src='~/Content/Theme1/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type='text/javascript' src='~/Content/Theme1/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type='text/javascript' src='~/Content/Theme1/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script src="~/Content/Theme1/js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/owl/owl.carousel.min.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="~/Content/Theme1/js/settings.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/actions.js"></script>

    @*<script type="text/javascript" src="~/Content/Theme1/js/demo_dashboard.js"></script>*@
    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->

    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">

    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

    <script src="~/js/jquery.steps.js"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        $("#success-alert").fadeTo(10000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });


        $(function () {
            $('.OnlyNumber').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });
        });

        $("#success-alert").fadeTo(10000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    </script>
   
</body>
</html>



