﻿<!DOCTYPE html>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using CoreStructure_APP.Utility
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>PIB - @ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/Theme2/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <style type="text/css">
        @@font-face {
            font-family: 'roboto.regular';
            src: url('Content/roboto.regular.ttf');
        }

        .classname {
            font-family: 'roboto.regular';
        }

        .table, tr, td {
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
    </style>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="Theme" href="~/Content/Theme1/css/Theme-default.css" />


    @*<link href="~/Content/CustomCSS/Global.css" rel="stylesheet" /> bylokesh *@
    @*<link href="~/css/jquery.steps.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/jquery-1.10.2.js"></script> by lokesh *@
    @*<script src="~/js/validatejs/jquery.validate.js"></script>*@

    @*<script src="~/js/validatejs/additional-methods.js"></script>*@



    <link href="~/Content/datatable/components.min.css" rel="stylesheet" />
    <link href="~/Content/datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/datatable/datatables.bootstrap.css" rel="stylesheet" />


    <!-- EOF JS INCLUDE -->
</head>
<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="@Url.Action("Index", "Home",new { Area=""}, null)"><img src="~/Content/Images/PIB_logo.png" style="width:70%" height="71px;" /></a>
                    <a href="#" class="x-navigation-control"></a>
                </li>

                @{
                    string userimage = "";
                    foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                    {
                        if (cookie.Key == "UImage")
                        {
                            userimage = cookie.Value;
                            if (userimage == "")
                            {
                                userimage = "/Content/Theme1/assets/images/users/images.jpg";
                            }
                            else
                            {
                                userimage = "~/UserImages/" + (userimage ?? "no-image.jpg");
                            }
                        }
                        else
                        {
                            userimage = "/Content/Theme1/assets/images/users/images.jpg";
                        }
                    }
                }
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="@userimage" asp-append-version="true" alt="User" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="@userimage" asp-append-version="true" alt="User" />
                        </div>
                        <div class="profile-data">
                            @{
                                string usertype = "";
                                string userpozone = "";
                                foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                                {
                                    if (cookie.Key == "EmpName")
                                    {
                                        <div class="profile-data-name">@cookie.Value</div>
                                    }
                                    if (cookie.Key == "UType")
                                    {
                                        <div class="profile-data-title">@cookie.Value</div>
                                        usertype = cookie.Value;
                                    }
                                    if (cookie.Key == "UPOCompId")
                                    {
                                        userpozone = cookie.Value;
                                    }

                                }
                            }
                        </div>
                        @{
                            if (usertype == Standard.StandardUserType.ADMIN)
                            {
                                <div class="profile-controls">
                                    <a href="@Url.Action("AdminProfile", "Auth",new { Area=""}, null)" class="profile-control-left" title="user profile"><span class="fa fa-user"></span></a>
                                    <a href="@Url.Action("AdminChangePassword", "Auth",new { Area=""}, null)" class="profile-control-right" title="change password"><span class="fa fa-lock"></span></a>
                                </div>
                            }
                            else
                            {
                                <div class="profile-controls">
                                    <a href="@Url.Action("UserProfile", "Auth",new { Area=""}, null)" class="profile-control-left" title="user profile"><span class="fa fa-user"></span></a>
                                    <a href="@Url.Action("UserChangePassword", "Auth",new { Area=""}, null)" class="profile-control-right" title="change password"><span class="fa fa-lock"></span></a>
                                </div>
                            }
                        }

                    </div>
                </li>

                @{
                    if (usertype == Standard.StandardUserType.SuperAdmin)
                    {
                        @*<li class="@(ViewBag.Active == "Dashboard" ? "active" : "")"><a href="@Url.Action("Index", "SuperAdmin",new { Area=""}, null)"><span class="fa fa-dashboard"></span> Dashboard</a></li>*@
                        <li class=" @(ViewBag.Open == "Dashboard" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home",new { Area=""}, null)"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>

                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Manage Users" ? "active" : "")">
                            <a href="#"><span class="fa fa-pencil"></span> <span class="xn-text">Masters</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "ManageUsers" ? "active" : "")"><a href="@Url.Action("ManageUsers", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> User </a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Query" ? "active" : "")">
                            <a href="#"><span class="fa fa-paragraph"></span> <span class="xn-text">Query</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("AllQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>All Query</a></li>
                                @*<li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ManageQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Query</a></li>
                        <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ClosedQueries", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>Closed Query</a></li>*@
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Policy" ? "active" : "")">
                            <a href="#"><span class="fa fa-paper-plane-o"></span> <span class="xn-text">Policy</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("ManagePolicy", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Generate Policy</a></li>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("RenewalPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Renew Policy</a></li>
                                @*<li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("DeletedPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Deleted Policy</a></li>*@
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "TimeSheet" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Timesheet</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "ViewTimeSheet" ? "active" : "")"><a href="@Url.Action("SuperAdminViewTimeSheet", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>View Timesheet</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Reports" ? "active" : "")">
                            <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Reports</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("MasterPolicyData", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Master Data</a></li>
                                <li class="@(ViewBag.Active == "AdminPolicyReport" ? "active" : "")"><a href="@Url.Action("AdminPolicyReport", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Policy Report </a></li>
                                <li class="@(ViewBag.Active == "AdminDailyBusiness" ? "active" : "")"><a href="@Url.Action("AdminDailyBusiness", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Daily Business </a></li>
                                <li class="@(ViewBag.Active == "AdminUpcomingPolicy" ? "active" : "")"><a href="@Url.Action("AdminUpcomingPolicy","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Upcoming Policy</a></li>
                                <li class="@(ViewBag.Active == "AdminClaimReport" ? "active" : "")"><a href="@Url.Action("AdminClaimReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Claim Report</a></li>
                                <li class="@(ViewBag.Active == "RenewalReport" ? "active" : "")"><a href="@Url.Action("RenewalReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Renewal Report</a></li>
                                <li class="@(ViewBag.Active == "AdminMISReport" ? "active" : "")"><a href="@Url.Action("AdminMISReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>MIS Report</a></li>
                                @*<li class="@(ViewBag.Active == "HRSheet" ? "active" : "")"><a href="@Url.Action("HRSheet","TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>HR Sheet</a></li>*@
                                <li class="@(ViewBag.Active == "HRSheetofficewiseChart" ? "active" : "")"><a href="@Url.Action("HRSheetofficewiseChart","TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>MIS Timesheet</a></li>
                            </ul>
                        </li>
                    }
                    else if (usertype == Standard.StandardUserType.ADMIN)
                    {

                        @*<li class="@(ViewBag.Active == "Dashboard" ? "active" : "")"><a href="@Url.Action("Index", "SuperAdmin",new { Area=""}, null)"><span class="fa fa-dashboard"></span> Dashboard</a></li>*@
                        <li class=" @(ViewBag.Open == "Dashboard" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home",new { Area=""}, null)"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>

                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Masters" ? "active" : "")">
                            <a href="#"><span class="fa fa-pencil"></span> <span class="xn-text">Masters</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "ManageUsers" ? "active" : "")"><a href="@Url.Action("ManageUsers", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> User </a></li>
                                @*<li class="@(ViewBag.Active == "ManageUsers" ? "active" : "")"><a href="@Url.Action("ManageUsers", "Masters",new { Area=""}, null)"><span class="fa fa-list-ul"></span> User List </a></li>*@
                                <li class="@(ViewBag.Active == "ManageGroups" ? "active" : "")"><a href="@Url.Action("ManageGroups", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Group </a></li>
                                <li class="@(ViewBag.Active == "ManageCategories" ? "active" : "")"><a href="@Url.Action("ManageCategories", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> Category</a></li>
                                <li class="@(ViewBag.Active == "ManageProducts" ? "active" : "")"><a href="@Url.Action("ManageProducts", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Product </a></li>
                                <li class="@(ViewBag.Active == "ManageIssuingOffice" ? "active" : "")"><a href="@Url.Action("ManageIssuingOffice", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Issuing Office </a></li>
                                <li class="@(ViewBag.Active == "ManageContactPersons" ? "active" : "")"><a href="@Url.Action("ManageContactPersons", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> Contact Person</a></li>
                                <li class="@(ViewBag.Active == "ManageTPSurveyor" ? "active" : "")"><a href="@Url.Action("ManageTPSurveyor", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> TP Surveyor</a></li>
                                <li class="@(ViewBag.Active == "ManageActivity" ? "active" : "")"><a href="@Url.Action("ManageActivity", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> Activity </a></li>
                                <li class="@(ViewBag.Active == "ManageSubActivity" ? "active" : "")"><a href="@Url.Action("ManageSubActivity", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span>Sub Activity</a></li>
                                <li class="@(ViewBag.Active == "ManageHoliday" ? "active" : "")"><a href="@Url.Action("ManageHoliday", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> Holiday </a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Query" ? "active" : "")">
                            <a href="#"><span class="fa fa-paragraph"></span> <span class="xn-text">Query</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("AllQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>All Query</a></li>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ManageQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Query</a></li>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ClosedQueries", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>Closed Query</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Policy" ? "active" : "")">
                            <a href="#"><span class="fa fa-paper-plane-o"></span> <span class="xn-text">Policy</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("ManagePolicy", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Generate Policy</a></li>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("RenewalPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Renew Policy</a></li>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("DeletedPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Deleted Policy</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Claim" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Claim</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "LodgeClaim" ? "active" : "")"><a href="@Url.Action("LodgeClaim", "Claim",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Lodge Claim </a></li>
                                <li class="@(ViewBag.Active == "ViewLodgeClaim" ? "active" : "")"><a href="@Url.Action("ViewLodgeClaim", "Claim",new { Area=""}, null)"><span class="fa fa-circle-o"></span>View Lodge Claim </a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "TimeSheet" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Timesheet</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "FillTimeSheet" ? "active" : "")"><a href="@Url.Action("FillTimeSheet", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Fill Timesheet </a></li>
                                <li class="@(ViewBag.Active == "ViewTimeSheet" ? "active" : "")"><a href="@Url.Action("AdminViewTimeSheet", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>View Timesheet</a></li>
                                <li class="@(ViewBag.Active == "DeleteTimeSheet" ? "active" : "")"><a href="@Url.Action("AdminDeleteTimeSheet", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Delete Timesheet</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Leave" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Leave</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "MarkLeave" ? "active" : "")"><a href="@Url.Action("MarkLeave", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Mark Leave </a></li>
                                <li class="@(ViewBag.Active == "LeaveVerify" ? "active" : "")"><a href="@Url.Action("LeaveVerify", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Verify Leave </a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Reports" ? "active" : "")">
                            <a href="#"><span class="fa fa-database"></span> <span class="xn-text">Reports</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("MasterPolicyData", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Master Data</a></li>
                                <li class="@(ViewBag.Active == "PolicyReport" ? "active" : "")"><a href="@Url.Action("PolicyReport", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Policy Report </a></li>
                                <li class="@(ViewBag.Active == "AdminDailyBusiness" ? "active" : "")"><a href="@Url.Action("AdminDailyBusiness", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Daily Business </a></li>
                                <li class="@(ViewBag.Active == "UpcomingPolicy" ? "active" : "")"><a href="@Url.Action("UpcomingPolicy","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Upcoming Policy</a></li>
                                <li class="@(ViewBag.Active == "ClaimReport" ? "active" : "")"><a href="@Url.Action("ClaimReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Claim Report</a></li>
                                <li class="@(ViewBag.Active == "RenewalReport" ? "active" : "")"><a href="@Url.Action("RenewalReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Renewal Report</a></li>
                                <li class="@(ViewBag.Active == "AdminMISReport" ? "active" : "")"><a href="@Url.Action("AdminMISReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>MIS Report</a></li>
                                <li class="@(ViewBag.Active == "HRSheet" ? "active" : "")"><a href="@Url.Action("HRSheet","TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>HR Sheet</a></li>
                                <li class="@(ViewBag.Active == "HRSheetofficewiseChart" ? "active" : "")"><a href="@Url.Action("HRSheetofficewiseChart","TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>MIS Timesheet</a></li>
                            </ul>
                        </li>
                    }
                    else if (usertype == Standard.StandardUserType.DC)
                    {
                        @*<li class="@(ViewBag.Active == "Dashboard" ? "active" : "")"><a href="@Url.Action("Index", "SuperAdmin",new { Area=""}, null)"><span class="fa fa-dashboard"></span> Dashboard</a></li>*@
                        <li class=" @(ViewBag.Open == "Dashboard" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home",new { Area=""}, null)"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>

                        </li>
                        @*<li class="xn-openable @(ViewBag.Open == "Masters" ? "active" : "")">
                    <a href="#"><span class="fa fa-pencil"></span> <span class="xn-text">Masters</span></a>
                    <ul>
                        <li class="@(ViewBag.Active == "ManageUsers" ? "active" : "")"><a href="@Url.Action("ManageUsers", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> User </a></li>
                        <li class="@(ViewBag.Active == "ManageGroups" ? "active" : "")"><a href="@Url.Action("ManageGroups", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Group </a></li>
                        <li class="@(ViewBag.Active == "ManageCategories" ? "active" : "")"><a href="@Url.Action("ManageCategories", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> Category</a></li>
                        <li class="@(ViewBag.Active == "ManageProducts" ? "active" : "")"><a href="@Url.Action("ManageProducts", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Product </a></li>
                        <li class="@(ViewBag.Active == "ManageIssuingOffice" ? "active" : "")"><a href="@Url.Action("ManageIssuingOffice", "Masters",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Issuing Office </a></li>
                        <li class="@(ViewBag.Active == "ManageContactPersons" ? "active" : "")"><a href="@Url.Action("ManageContactPersons", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> Contact Person</a></li>
                        <li class="@(ViewBag.Active == "ManageTPSurveyor" ? "active" : "")"><a href="@Url.Action("ManageTPSurveyor", "Masters" , new { Area=""},null)"><span class="fa fa-circle-o"></span> TP Surveyor</a></li>
                    </ul>
                </li>*@
                        <li class="xn-openable @(ViewBag.Open == "Query" ? "active" : "")">
                            <a href="#"><span class="fa fa-paragraph"></span> <span class="xn-text">Query</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("AllQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>All Query</a></li>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ManageQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Query</a></li>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ClosedQueries", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>Closed Query</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Policy" ? "active" : "")">
                            <a href="#"><span class="fa fa-paper-plane-o"></span> <span class="xn-text">Policy</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("ManagePolicy", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Generate Policy</a></li>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("RenewalPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Renew Policy</a></li>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")">@*<a href="@Url.Action("DeletedPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Deleted Policy</a>*@</li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Claim" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Claim</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "LodgeClaim" ? "active" : "")"><a href="@Url.Action("LodgeClaim", "Claim",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Lodge Claim </a></li>
                                @*<li class="@(ViewBag.Active == "ViewLodgeClaim" ? "active" : "")"><a href="@Url.Action("ViewLodgeClaim", "Claim",new { Area=""}, null)"><span class="fa fa-circle-o"></span>View Lodge Claim </a></li>*@
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "TimeSheet" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Timesheet</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "FillTimeSheet" ? "active" : "")"><a href="@Url.Action("FillTimeSheet", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Fill Timesheet </a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Leave" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Leave</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "LeaveRequest" ? "active" : "")"><a href="@Url.Action("LeaveRequest", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Leave Request </a></li>
                            </ul>
                        </li>
                        @*<li class="xn-openable @(ViewBag.Open == "Reports" ? "active" : "")">
                    <a href="#"><span class="fa fa-database"></span> <span class="xn-text">Reports</span></a>
                    <ul>
                        <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("MasterPolicyData", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Master Data</a></li>
                        <li class="@(ViewBag.Active == "PolicyReport" ? "active" : "")"><a href="@Url.Action("PolicyReport", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Policy Report </a></li>
                        <li class="@(ViewBag.Active == "AdminDailyBusiness" ? "active" : "")"><a href="@Url.Action("AdminDailyBusiness", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Daily Business </a></li>
                        <li class="@(ViewBag.Active == "UpcomingPolicy" ? "active" : "")"><a href="@Url.Action("UpcomingPolicy","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Upcoming Policy</a></li>
                        <li class="@(ViewBag.Active == "ClaimReport" ? "active" : "")"><a href="@Url.Action("ClaimReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Claim Report</a></li>
                        <li class="@(ViewBag.Active == "RenewalReport" ? "active" : "")"><a href="@Url.Action("RenewalReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Renewal Report</a></li>
                        <li class="@(ViewBag.Active == "AdminMISReport" ? "active" : "")"><a href="@Url.Action("AdminMISReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>MIS Report</a></li>
                    </ul>
                </li>*@
                    }
                    else if (usertype == Standard.StandardUserType.Employee)
                    {
                        <li class=" @(ViewBag.Open == "Dashboard" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home",new { Area=""}, null)"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>

                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Query" ? "active" : "")">
                            <a href="#"><span class="fa fa-paragraph"></span> <span class="xn-text">Query</span></a>
                            <ul>
                                @*<li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("AllQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>All Query</a></li>*@
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ManageQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Query</a></li>
                                @*<li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ClosedQueries", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>Closed Query</a></li>*@
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Policy" ? "active" : "")">
                            <a href="#"><span class="fa fa-paper-plane-o"></span> <span class="xn-text">Policy</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("ManagePolicy", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Generate Policy</a></li>
                                @*<li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("RenewalPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Renew Policy</a></li>*@
                                @*<li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("DeletedPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Deleted Policy</a></li>*@
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Claim" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Claim</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "LodgeClaim" ? "active" : "")"><a href="@Url.Action("LodgeClaim", "Claim",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Lodge Claim </a></li>
                                @*<li class="@(ViewBag.Active == "ViewLodgeClaim" ? "active" : "")"><a href="@Url.Action("ViewLodgeClaim", "Claim",new { Area=""}, null)"><span class="fa fa-circle-o"></span>View Lodge Claim </a></li>*@
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "TimeSheet" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Timesheet</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "FillTimeSheet" ? "active" : "")"><a href="@Url.Action("FillTimeSheet", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Fill Timesheet </a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Leave" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Leave</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "LeaveRequest" ? "active" : "")"><a href="@Url.Action("LeaveRequest", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Leave Request </a></li>
                            </ul>
                        </li>

                    }
                    else if (usertype == Standard.StandardUserType.POS)
                    {
                        <li class=" @(ViewBag.Open == "Dashboard" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home",new { Area=""}, null)"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>

                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Query" ? "active" : "")">
                            <a href="#"><span class="fa fa-paragraph"></span> <span class="xn-text">Query</span></a>
                            <ul>
                                @*<li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("AllQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>All Query</a></li>*@
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ManageQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Query</a></li>
                                @*<li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("ClosedQueries", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>Closed Query</a></li>*@
                            </ul>
                        </li>
                    }
                    else if (usertype == Standard.StandardUserType.subsuperadmin)
                    {
                       
                        <li class=" @(ViewBag.Open == "Dashboard" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home",new { Area=""}, null)"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Query" ? "active" : "")">
                            <a href="#"><span class="fa fa-paragraph"></span> <span class="xn-text">Query</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Query" ? "active" : "")"><a href="@Url.Action("AllQuery", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>All Query</a></li>
                               
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Policy" ? "active" : "")">
                            <a href="#"><span class="fa fa-paper-plane-o"></span> <span class="xn-text">Policy</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("ManagePolicy", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span>Policy</a></li>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("RenewalPolicies", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Renew Policy</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "TimeSheet" ? "active" : "")">
                            <a href="#"><span class="fa fa-clipboard"></span> <span class="xn-text">Timesheet</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "ViewTimeSheet" ? "active" : "")"><a href="@Url.Action("SuperAdminViewTimeSheet", "TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>View Timesheet</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Open == "Reports" ? "active" : "")">
                            <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Reports</span></a>
                            <ul>
                                <li class="@(ViewBag.Active == "Policy" ? "active" : "")"><a href="@Url.Action("MasterPolicyData", "Query",new { Area=""}, null)"><span class="fa fa-question-circle"></span> Master Data</a></li>
                                <li class="@(ViewBag.Active == "AdminPolicyReport" ? "active" : "")"><a href="@Url.Action("AdminPolicyReport", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Policy Report </a></li>
                                <li class="@(ViewBag.Active == "AdminDailyBusiness" ? "active" : "")"><a href="@Url.Action("AdminDailyBusiness", "Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span> Daily Business </a></li>
                                <li class="@(ViewBag.Active == "AdminUpcomingPolicy" ? "active" : "")"><a href="@Url.Action("AdminUpcomingPolicy","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Upcoming Policy</a></li>
                                <li class="@(ViewBag.Active == "AdminClaimReport" ? "active" : "")"><a href="@Url.Action("AdminClaimReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Claim Report</a></li>
                                <li class="@(ViewBag.Active == "RenewalReport" ? "active" : "")"><a href="@Url.Action("RenewalReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>Renewal Report</a></li>
                                <li class="@(ViewBag.Active == "AdminMISReport" ? "active" : "")"><a href="@Url.Action("AdminMISReport","Report",new { Area=""}, null)"><span class="fa fa-circle-o"></span>MIS Report</a></li>
                                <li class="@(ViewBag.Active == "HRSheetofficewiseChart" ? "active" : "")"><a href="@Url.Action("HRSheetofficewiseChart","TimeSheet",new { Area=""}, null)"><span class="fa fa-circle-o"></span>MIS Timesheet</a></li>
                            </ul>
                        </li>
                    }

                }
                @*<li class="">
            <a href="@Url.Action("Login", "Auth",new { Area=""}, null)"><span class="fa fa-sign-out"></span><span class="xn-text">Quit</span></a>
        </li>*@
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span><span class="xn-text">Logout</span></a>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">

                <li class="xn-icon-button" title="minimize / maximize">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>

                @{
                    if (usertype != Standard.StandardUserType.ADMIN)
                    {
                        <!-- SEARCH -->
                        @*@Html.Partial("_Partial_SearchDoc.cshtml")*@
                        <!-- END SEARCH -->
                    }
                }
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <!-- END SIGN OUT -->
                @*<li class="xn-icon-button pull-right">
                        <a href="#" target="_blank" title="help"><span class="fa fa-info"></span></a>
                    </li>*@
                @{
                    @*if (usertype != Standard.StandardUserType.ADMIN)
                        {
                            <li class="xn-icon-button pull-right">
                                <a href="@Url.Action("Inbox", "UserCommunication",new { Area=""}, null)" title="Message"><span class="fa fa-envelope"></span></a>
                            </li>
                        }*@
                }

            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home",new { Area=""}, null)">Home</a></li>
                <li>@ViewBag.Panel</li>
                <li class="active">@ViewBag.Open</li>
            </ul>
            <!-- END BREADCRUMB -->
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap"  style="height:1200px !important">

                @RenderBody()

            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("Login","Auth",new { Area=""}, null)" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-message">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Hello <strong>World</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="#" class="btn btn-default btn-lg mb-control-close">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- START PRELOADS -->
    @*<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>*@
    <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    @*<script type="text/javascript" src="~/Content/Theme1/js/plugins/jquery/jquery.min.js"></script>*@



    <style type="text/css">
        .red {
            color: red;
            padding-left: 4px;
        }
    </style>



    <script src="~/Content/jquery.min.js"></script>

    <script src="~/Content/Theme2/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/jquery/jquery-ui.min.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins/datatables/jquery.dataTables.min.js"></script>
    @*<script src="~/Content/Theme1/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script src="~/Content/Theme1/js/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="~/Content/Theme1/js/plugins/datatables/jszip.min.js"></script>
        <script src="~/Content/Theme1/js/plugins/datatables/pdfmake.min.js"></script>
        <script src="~/Content/Theme1/js/plugins/datatables/vfs_fonts.js"></script>
        <script src="~/Content/Theme1/js/plugins/datatables/buttons.html5.min.js"></script>
        <script src="~/Content/Theme1/js/plugins/datatables/buttons.print.min.js"></script>*@




    <script type='text/javascript' src='~/Content/Theme1/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins/morris/raphael-min.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins/rickshaw/d3.v3.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/rickshaw/rickshaw.min.js"></script>
    <script type='text/javascript' src='~/Content/Theme1/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type='text/javascript' src='~/Content/Theme1/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type='text/javascript' src='~/Content/Theme1/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script src="~/Content/Theme1/js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/owl/owl.carousel.min.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/plugins/daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/settings.js"></script>

    <script type="text/javascript" src="~/Content/Theme1/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/Theme1/js/actions.js"></script>


    @*<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>

    @*<script src="~/Content/datatable/jquery.min.js"></script>
        <script src="~/Content/datatable/bootstrap.min.js"></script>
        <script src="~/Content/datatable/datatable.js"></script>
        <script src="~/Content/datatable/datatables.bootstrap.js"></script>
        <script src="~/Content/datatable/datatables.min.js"></script>
        <script src="~/Content/datatable/table-datatables-rowreorder.min.js"></script>*@


    @*<script src="~/Content/datatable/jquery.min.js"></script>*@
    <script src="~/Content/datatable/bootstrap.min.js"></script>
    <script src="~/Content/datatable/datatable.js"></script>
    <script src="~/Content/datatable/datatables.bootstrap.js"></script>
    <script src="~/Content/datatable/datatables.min.js"></script>
    <script src="~/Content/datatable/table-datatables-fixedheader.min.js"></script>
    @*<script src="~/Content/datatable/table-datatables-rowreorder.min.js"></script>*@



    @*<script type="text/javascript" src="~/Content/Theme1/js/demo_dashboard.js"></script>*@

    @*<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>*@

    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-select.min.js"></script>


    <script src="~/Content/js/additional-methods.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/js/site.js"></script>



    <script src="~/js/jquery.steps.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        $("#success-alert").fadeTo(10000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });


        $(function () {
            $('.OnlyNumber').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });
        });

        $("#success-alert").fadeTo(10000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    </script>
    <style type="text/css">
        div.dataTables_wrapper div.dataTables_length select {
            height: 29px !important;
        }

        div.dt-buttons {
            float: right !important;
        }
    </style>
</body>
</html>



