﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<!-- START: Head-->
<!-- Mirrored from html.designstream.co.in/pollo/ltr/app-task-board.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Sep 2020 07:29:32 GMT -->
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="shortcut icon" href="~/Content/Theme/dist/images/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/flags-icon/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/flag-select/css/flags.css">
    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/bootstrap4-toggle/css/bootstrap4-toggle.min.css">

    <link rel="stylesheet" href="~/Content/Theme/dist/vendors/fontawesome/css/all.min.css">

    <link href="~/Content/Theme/dist/vendors/sweetalert/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Theme/dist/css/main.css">

</head>
<!-- END Head-->
<!-- START: Body-->
<body id="main-container" class="default hide-sidebar">
    <!-- START: Pre Loader-->
    <div class="se-pre-con">
        <img src="~/Content/Theme/dist/images/logo.png" alt="logo" width="23" class="img-fluid" />
    </div>
    <!-- END: Pre Loader-->
    <!-- START: Header-->
    <div id="header-fix" class="header fixed-top active">
        <nav class="navbar navbar-expand-lg  p-0">


            @*<div class="navbar-header h4 mb-0 align-self-center d-flex">
            <a href="index-2.html" class="horizontal-logo align-self-center d-flex d-lg-none">
                <img src="~/Content/Theme/dist/images/logo.png" alt="logo" width="23" class="img-fluid" /> <span class="h5 align-self-center mb-0 ">POLLO</span>
            </a>
        </div>*@

            <div class="d-inline-block position-relative">
                <button data-toggle="dropdown" aria-expanded="false" class="btn btn-primary p-2 rounded mx-3 h4 mb-0 line-height-1 d-none d-lg-block">
                    <span class="text-white font-weight-bold h4">+</span>
                </button>
                <div class="dropdown-menu left p-0">
                    <a href="Index" class="dropdown-item px-2">My Dashboard</a>
                    <a href="AddTask" class="dropdown-item px-2">Add Task</a>
                    @{
                        string Userid = "";
                        string Vertical = "";
                        string Role = "";
                        foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                        {
                            if (cookie.Key == "UserId")
                            {
                                Userid = cookie.Value;


                            }
                            if (cookie.Key == "Vertical")
                            {
                                Vertical = cookie.Value;
                            }
                            if (cookie.Key == "Role")
                            {
                                Role = cookie.Value;
                            }
                        }
                    }

                    <a href="ViewTask" class="dropdown-item px-2">View Task</a>
                    @if (Role == "1" || Role == "2")
                    {
                        <a href="ViewAllTask" class="dropdown-item px-2">View All Task</a>
                    }
                    else
                    {

                    }
                    <a href="AssignTask" class="dropdown-item px-2">Assign Task</a>
                    <a href="ViewAssignTask" class="dropdown-item px-2">View Assign Task</a>
                    @*<a href="#" class="dropdown-item px-2">New Campain</a>*@
                    @*<div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item px-2 text-danger">Generate Reports</a>*@
                </div>


            </div>
            @*<i class="icon-speedometer"></i> Dashboard*@


            @*<div class="d-inline-block position-relative">
              
                    <a href="#" title="Dashboard"><i class="icon-speedometer  fa-3x"></i></a>
                
            </div>*@



            @*<ul id="side-menu" class="sidebar-menu" style="">
                <li class="dropdown">
                    <a href="#"><i class="icon-speedometer"></i>Dashboard</a>
                    <div>
                        <ul style="">
                            <li><a href="index-2.html"><i class="icon-rocket"></i> eCommerce</a></li>
                            <li><a href="index-cryptocurrency.html"><i class="icon-shuffle"></i> Cryptocurrency</a></li>
                            <li><a href="index-analytic.html"><i class="icon-chart"></i> Analytic</a></li>
                        </ul>
                    </div>
                </li>
            </ul>*@





            <div class="navbar-right ml-auto">
                <ul class="ml-auto p-0 m-0 list-unstyled d-flex">
                    <li class="mr-1 d-inline-block my-auto d-block d-lg-none">
                        <a href="#" class="nav-link px-2 mobilesearch" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-magnifier h4"></i>
                        </a>
                    </li>





                    <li class="dropdown user-profile d-inline-block py-1 mr-2">
                        <a href="#" class="nav-link px-2 py-0" data-toggle="dropdown" aria-expanded="false">
                            <div class="media">
                                <div class="media-body align-self-center d-none d-sm-block mr-2">
                                    <p class="mb-0 text-uppercase line-height-1">
                                        @{
                                            string usertype = "";
                                            string userpozone = "";
                                            foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                                            {
                                                if (cookie.Key == "Name")
                                                {
                                                    <b>@cookie.Value</b><br />


                                                }
                                                @*if (cookie.Key == "Role")
                                            {
                                                <span> @cookie.Value </span>

                                            }*@


                                            }
                                        }
                                    </p>



                                </div>
                                <img src="~/Content/Theme/dist/images/Default_Image.jpg" alt="" class="d-flex img-fluid rounded-circle" width="45">

                            </div>
                        </a>

                        <div class="dropdown-menu  dropdown-menu-right p-0">
                            @*<a href="#" class="dropdown-item px-2 align-self-center d-flex">
                            <span class="icon-pencil mr-2 h6 mb-0"></span> Edit Profile
                        </a>
                        <a href="#" class="dropdown-item px-2 align-self-center d-flex">
                            <span class="icon-user mr-2 h6 mb-0"></span> View Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item px-2 align-self-center d-flex">
                            <span class="icon-support mr-2 h6  mb-0"></span> Help Center
                        </a>
                        <a href="#" class="dropdown-item px-2 align-self-center d-flex">
                            <span class="icon-globe mr-2 h6 mb-0"></span> Forum
                        </a>
                        <a href="#" class="dropdown-item px-2 align-self-center d-flex">
                            <span class="icon-settings mr-2 h6 mb-0"></span> Account Settings
                        </a>
                        <div class="dropdown-divider"></div>*@
                            <a href="/Auth/Logout" class="dropdown-item px-2 text-danger align-self-center d-flex">
                                <span class="icon-logout mr-2 h6  mb-0"></span> Sign Out
                            </a>
                        </div>

                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- END: Header-->
    <!-- START: Main Menu-->
    @*<div class="sidebar active">
        <a href="#" class="sidebarCollapse float-right h6 dropdown-menu-right mr-2 mt-2 position-absolute d-block d-lg-none">
            <i class="icon-close"></i>
        </a>
        <a href="index-2.html" class="sidebar-logo d-flex">
            <img src="~/Content/Theme/dist/images/logo.png" alt="logo" width="25" class="img-fluid mr-2" />
            <span class="h5 align-self-center mb-0">POLLO</span>
        </a>
    </div>*@
    <!-- END: Main Menu-->
    <!-- START: Main Content-->
    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <!-- END: Content-->
    <!-- START: Footer-->
    <footer class="site-footer">© 2020 Pearl Technosolutions Pvt Ltd.</footer>
    <!-- END: Footer-->
    <!-- START: Back to top-->
    <a href="#" class="scrollup text-center">
        <i class="icon-arrow-up"></i>
    </a>
    <!-- END: Back to top-->
    <!-- START: Template JS-->
    <script src="~/Content/Theme/dist/vendors/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Theme/dist/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/Theme/dist/vendors/moment/moment.js"></script>
    <script src="~/Content/Theme/dist/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Theme/dist/vendors/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Theme/dist/vendors/flag-select/js/jquery.flagstrap.min.js"></script>
    <script src="~/Content/Theme/dist/js/app.js"></script>

    <script src="~/Content/Theme/dist/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/Theme/dist/js/sweetalert.script.js"></script>
    <script src="~/Content/Theme/dist/vendors/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <script src="~/Content/js/components-date-time-pickers.min.js"></script>

    <script src="~/Content/Theme/dist/js/task-board.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });

        });

        function Inloader() {

            $(".img-fluid").fadeIn();

        }

        function Outloader() {
            $(".se-pre-con").fadeOut("slow");
        }

    </script>

    <!-- END: APP JS-->
</body>
<!-- END: Body-->
<!-- Mirrored from html.designstream.co.in/pollo/ltr/app-task-board.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Sep 2020 07:29:33 GMT -->
</html>
