﻿
@using (Html.BeginForm("SearchRecord", "DMS_Reports", FormMethod.Post))
{
    <li class="xn-search" style="text-align:center;">
        <input type="text" name="search" id="searchtext" placeholder="Search..." style="background-color:white; border-color:deeppink;color:black;width:70%;" onkeypress="EnterEvent(event)" />
        <button type="button"  id="BtnSearch" value="">Submit</button>
    </li>


    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

        $("#BtnSearch").click(function () {
            var stext = $("#searchtext").val();
            if (stext) {
                var url = "/DMS_Reports/SearchRecord?text=" + stext;
                window.location.href = url;
            }
            else {
                alert('Enter Value For Search!');
            }
        });


        function EnterEvent(e) {
            if (e.keyCode === 13) {
                e.preventDefault(); // Ensure it is only this code that rusn

                var stext = $("#searchtext").val();
                if (stext) {
                    var url = "/DMS_Reports/SearchRecord?text=" + stext;
                    window.location.href = url;
                }
                else {
                    alert('Enter Value For Search!');
                }
            }
        }

    </script>
}