﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model CoreStructure_APP.Models.ServerLog_Model
@{
    ViewBag.Title = "User Access History Report";
    ViewBag.Active = "UserAccessHistoryReport";
    ViewBag.Open = "System Reports";
    ViewBag.Panel = "Reports";
    Layout = HttpContextAccessor.HttpContext.Request.Cookies["ActiveTheme"];
}

<form asp-controller="ServerLogController" asp-action="ListServerLog" method="post" class="form-horizontal">

    <div class="@ViewBag.HideClass" style="text-align:center">
        @ViewBag.Message
    </div>


    <div class="row">
        <div class="col-md-12">





            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <h3 class="panel-title"><span class="fa fa-dashboard"></span>Server Log History</h3>
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                <input name="b_print" type="button" class="btn btn-primary" onClick="printdiv('div_print');" value=" Print ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" id="div_print">
                        <div class="table-responsive">
                            @if (Model != null)
                            {
                                if (Model.Log_Table_Model_List != null)
                                {
                                    if (Model.Log_Table_Model_List.Count > 0)
                                    {
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>User</th>

                                                    <th>Date Time</th>
                                                    <th>IP Address</th>
                                                    <th>MESSAGE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var data in Model.Log_Table_Model_List)
                                                {
                                                    <tr>
                                                        <td>@data.UserID</td>

                                                        <td>@data.OperationON</td>
                                                        <td>@data.IP_Address</td>
                                                        <td>@data.Remarks</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert" style="text-align:left; background-color:gray;">
                                            <p style="font-size:20px;">No Records</p>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Content/Validations/JqueryUi.js"></script>*@

    <script type="text/javascript">

        var $j = jQuery.noConflict(true);

      

        function printdiv(printpage) {
            var headstr = "<html><head><title></title></head><body>";
            var footstr = "</body>";
            var newstr = document.all.item(printpage).innerHTML;
            var oldstr = document.body.innerHTML;
            document.body.innerHTML = headstr + newstr + footstr;
            window.print();
            document.body.innerHTML = oldstr;
            return false;
        }

    </script>

</form>

